@import './base';

#main {
  .yakuake {
    background: linear-gradient(40deg ,#8e0be1, #dd0707 50%, #ffba1c);
    color: #fff;
    position: relative;
    overflow: hidden;
    padding-top: 600px;
    @media (max-width: 450px) {
      padding-top: 200px;
    }
    @media (max-width: 800px) {
      padding-top: 400px;
    }
    figure {
      transition: 1s;
      position: absolute;
      left: 0;
      top: -650px;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    figure.active {
      top: 0;
    }
  }
}

#features-hero {
  background: url('/content/develop/devapps-light.png');
  @media (prefers-color-scheme: dark) {
    background: url('/content/develop/devapps-dark.png');
  }
}

.feature {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center
}

.frameworks {
  text-shadow: 0 0 0px #fff;
  color: white;
  background: linear-gradient(128deg, #01d486 0%, #3daee8 100%);
}
