@import './base';

#main {
  .proton {
    color: #28554c;
    background-color: #d1d4e3;
    h2, h3, a {
      color: #28554c !important;
    }
  }
}

#features-hero video {
  width: 100%;
  object-fit: cover;
}

.app {
  img {
    height: 128px;
    width: 128px;
  }
}

.application-name {
  font-size: 1.5rem;
}
.hyphens {
  font-size: 1.2rem;
}
