<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/bluedevil-5.19.2.tar.xz">bluedevil-5.19.2</a></td>
   <td align="right">164kB</td>
   <td><tt>38bafc130b40355d64012c783da4d1d3a05eb9c01e40b481915c091eefd103ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/breeze-5.19.2.tar.xz">breeze-5.19.2</a></td>
   <td align="right">21MB</td>
   <td><tt>bee5a1c01533895ad98a2ceea9b6cf56b75fc6cb78ea87765a3995a802d614c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/breeze-grub-5.19.2.tar.xz">breeze-grub-5.19.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>796d32e6a3bff05058c4d4b743601f609391b0fa217d12b24d86fa4884d2c7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/breeze-gtk-5.19.2.tar.xz">breeze-gtk-5.19.2</a></td>
   <td align="right">41kB</td>
   <td><tt>317c2d0eacc4f194d8f84774e2bbb15dcf6f2ecbb447b8dafcec3e8ebd3ff186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/breeze-plymouth-5.19.2.tar.xz">breeze-plymouth-5.19.2</a></td>
   <td align="right">103kB</td>
   <td><tt>5a0656f472f94d3fd2a5a11640b92ee0447aeef62354e6d6c22816e9d124369c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/discover-5.19.2.tar.xz">discover-5.19.2</a></td>
   <td align="right">9.8MB</td>
   <td><tt>df11a36cbd17ca554ecd5b412c84df75dd1a30111a1c04f459470f91cc6694fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/drkonqi-5.19.2.tar.xz">drkonqi-5.19.2</a></td>
   <td align="right">726kB</td>
   <td><tt>833fdc356dc09df48aad29b50c616517c0d2d3c8dd00a1d074c91440b689de4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kactivitymanagerd-5.19.2.tar.xz">kactivitymanagerd-5.19.2</a></td>
   <td align="right">82kB</td>
   <td><tt>6a4ac8f229a7dc8c26d4798b2e66f19f9bb933701f1c680fc3a793003ec4b1a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kde-cli-tools-5.19.2.tar.xz">kde-cli-tools-5.19.2</a></td>
   <td align="right">586kB</td>
   <td><tt>08a583ed79202d28bd7fa57343868f68dfd9e1efdb03163251fe51d2e13e3f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kdecoration-5.19.2.tar.xz">kdecoration-5.19.2</a></td>
   <td align="right">42kB</td>
   <td><tt>d1ba783cf18f2ddf948caa1a36ca229903dff10129441484d023da50222f8cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kde-gtk-config-5.19.2.tar.xz">kde-gtk-config-5.19.2</a></td>
   <td align="right">25kB</td>
   <td><tt>02011dd01c045abe7b086a6aa844b267a907295591cd92987309f3b9169a5b9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kdeplasma-addons-5.19.2.tar.xz">kdeplasma-addons-5.19.2</a></td>
   <td align="right">613kB</td>
   <td><tt>eb45eed2031ed75f79b022d55ced1f81b51e1023a2d145388b428a1655472c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kgamma5-5.19.2.tar.xz">kgamma5-5.19.2</a></td>
   <td align="right">78kB</td>
   <td><tt>976d2e19bc23929e38f1f702275b943ae15b839cddcc540bebd05e854cb4fcfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/khotkeys-5.19.2.tar.xz">khotkeys-5.19.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4916935a3d7517215d9d8ddf740d5d8d28c6a41d3c0934fbf45c2623e1d952fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kinfocenter-5.19.2.tar.xz">kinfocenter-5.19.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>361e4fc85472ec525f1d2b50375ea70d9684464a3999f69c0b20bae4b5e837cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kmenuedit-5.19.2.tar.xz">kmenuedit-5.19.2</a></td>
   <td align="right">875kB</td>
   <td><tt>a64cbe07168e5e67bb4ea2d3394c12ac73c84d4df560038e476146d9f98bfa32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kscreen-5.19.2.tar.xz">kscreen-5.19.2</a></td>
   <td align="right">111kB</td>
   <td><tt>ff833d1a9cf61e54a181008d1e310eafba9534129e591e4431e59605b31d52b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kscreenlocker-5.19.2.tar.xz">kscreenlocker-5.19.2</a></td>
   <td align="right">123kB</td>
   <td><tt>a77959b0faefda4b832794761f739cf0416a16674bc80ffbc4c56b71b25d438b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/ksshaskpass-5.19.2.tar.xz">ksshaskpass-5.19.2</a></td>
   <td align="right">22kB</td>
   <td><tt>d84174b907ea29782dad2cf75e5def3f507e662e03cc6176b26b764612dbab6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/ksysguard-5.19.2.tar.xz">ksysguard-5.19.2</a></td>
   <td align="right">526kB</td>
   <td><tt>c788bc5df784284167a6f6c40838657ae9b886273c35aceaacd1b9c59cea465a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kwallet-pam-5.19.2.tar.xz">kwallet-pam-5.19.2</a></td>
   <td align="right">19kB</td>
   <td><tt>627d69860951e3c8ce345d52c2170744bb6c7fe38633be5c78925463dd70318e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kwayland-integration-5.19.2.tar.xz">kwayland-integration-5.19.2</a></td>
   <td align="right">20kB</td>
   <td><tt>c854133dcb0563a7150da1a4c32e6013e72c992d0a27e59af7a692c3cf658c71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kwayland-server-5.19.2.tar.xz">kwayland-server-5.19.2</a></td>
   <td align="right">224kB</td>
   <td><tt>8508b1b67f883a6e4fd29f2cb2781f434a16a30b594609b388efc6eb905de4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kwin-5.19.2.tar.xz">kwin-5.19.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>998a4c9651c412a7e8b1e24d88e7c59d158497955f6da1d69624f53cb59688b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/kwrited-5.19.2.tar.xz">kwrited-5.19.2</a></td>
   <td align="right">19kB</td>
   <td><tt>ea7326d6f726c8bbf1be1b04866587d46f51db01fe60e0bb4bda513b82c38f97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/libkscreen-5.19.2.tar.xz">libkscreen-5.19.2</a></td>
   <td align="right">83kB</td>
   <td><tt>53a9f3981f0a4e1998476a041354231d01a8de01da69d4ae84623f62a10a80de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/libksysguard-5.19.2.tar.xz">libksysguard-5.19.2</a></td>
   <td align="right">655kB</td>
   <td><tt>c44561f6a260eebdce852274fb23323cc2c7f1181a2c000fc14c982ee0ebe736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/milou-5.19.2.tar.xz">milou-5.19.2</a></td>
   <td align="right">62kB</td>
   <td><tt>51ec3cc0a841dc4da7112c39fb8365d69403dda83b943de332a5b21ccea2bb63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/oxygen-5.19.2.tar.xz">oxygen-5.19.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>bac4d2847dc55df47d61be9dbd207ba8d9edeb36913ed740b6e17419875ab6d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-browser-integration-5.19.2.tar.xz">plasma-browser-integration-5.19.2</a></td>
   <td align="right">155kB</td>
   <td><tt>170caefb5b230ccd241f5638461ef9c68a321cde3aabec831ced9403e4b91aa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-desktop-5.19.2.tar.xz">plasma-desktop-5.19.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>e63464c453fece6d523602e1a17b7ef59adbff3e26f50614639581506045f1e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-integration-5.19.2.tar.xz">plasma-integration-5.19.2</a></td>
   <td align="right">56kB</td>
   <td><tt>e858c66b95bcd1ccbe96a565082ebc38921d0c5b8ac90d8a623f7dbfc6ee6e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-nano-5.19.2.tar.xz">plasma-nano-5.19.2</a></td>
   <td align="right">31kB</td>
   <td><tt>48c20dc65050c9fd75b91b99b8c2fc4665d4b3e89b90ce650b09aa0ef52993d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-nm-5.19.2.tar.xz">plasma-nm-5.19.2</a></td>
   <td align="right">833kB</td>
   <td><tt>198b2cb54b0e55fa29eff883cd081bdcb2a257a240feb7c5934c779460b1910e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-pa-5.19.2.tar.xz">plasma-pa-5.19.2</a></td>
   <td align="right">105kB</td>
   <td><tt>64a278f72553c0da4862b5aba73d5aad39709a9a5029ebb0479363e60d5f7afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-phone-components-5.19.2.tar.xz">plasma-phone-components-5.19.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>116fc65aedfc334a70e220c664b3212a370608c277fe6389717a183d7523a25c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-sdk-5.19.2.tar.xz">plasma-sdk-5.19.2</a></td>
   <td align="right">257kB</td>
   <td><tt>bfffccd0bf879958496124b11dc87935914e67aa19ee68f701b92b967db67c1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-tests-5.19.2.tar.xz">plasma-tests-5.19.2</a></td>
   <td align="right">1kB</td>
   <td><tt>898df50de74314e19e28f380b3669510a41d773aa4f430aba0bf07312b1fac8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-thunderbolt-5.19.2.tar.xz">plasma-thunderbolt-5.19.2</a></td>
   <td align="right">50kB</td>
   <td><tt>92b8423211726419787adbdeea6b2e32f456c6a2e3b5c26d4330e2f2e5f6c614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-vault-5.19.2.tar.xz">plasma-vault-5.19.2</a></td>
   <td align="right">141kB</td>
   <td><tt>4d87c8f3857cfd55e4b1193262dae5157cdcb3ecbc48c7d22ba230028393de09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-workspace-5.19.2.tar.xz">plasma-workspace-5.19.2</a></td>
   <td align="right">5.4MB</td>
   <td><tt>5c0d667ece57d195cc06aca70a49568bfd08ffa84855b29a27daa70fa02e79c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plasma-workspace-wallpapers-5.19.2.tar.xz">plasma-workspace-wallpapers-5.19.2</a></td>
   <td align="right">39MB</td>
   <td><tt>dcc7f2d3d19dc72b76cd06b658dd300ac8783a737c0d84d05a17e28f1e2718df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/plymouth-kcm-5.19.2.tar.xz">plymouth-kcm-5.19.2</a></td>
   <td align="right">40kB</td>
   <td><tt>855a1e57195c83c847fd600ca7d93dc31c250af95387d3715d78e7f42f997b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/polkit-kde-agent-1-5.19.2.tar.xz">polkit-kde-agent-1-5.19.2</a></td>
   <td align="right">43kB</td>
   <td><tt>9df44683fc1815f24e4f1d5bdf36d325880edb382593a144625c489d9cc6ba47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/powerdevil-5.19.2.1.tar.xz">powerdevil-5.19.2.1</a></td>
   <td align="right">586kB</td>
   <td><tt>8b6d095c5e331e1ac6c72a997645a9261884a8364f086ba06dd82eb168d15722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/sddm-kcm-5.19.2.tar.xz">sddm-kcm-5.19.2</a></td>
   <td align="right">60kB</td>
   <td><tt>be5b540208c1fe2c4264356177a0a6276a99c7fdbccf0cf47c6d8d041ecaf613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/systemsettings-5.19.2.tar.xz">systemsettings-5.19.2</a></td>
   <td align="right">178kB</td>
   <td><tt>f761b844368573414a7e933020ca8a6b4af1d96dd00cf4653fe525f324c50787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/user-manager-5.19.2.tar.xz">user-manager-5.19.2</a></td>
   <td align="right">9.4MB</td>
   <td><tt>361b9cbb0a8057fa008d618fa93449079440f642417c0c92471dba5f9ab0cc8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.2/xdg-desktop-portal-kde-5.19.2.tar.xz">xdg-desktop-portal-kde-5.19.2</a></td>
   <td align="right">74kB</td>
   <td><tt>d2d5a7e5d74601fb15ae1cbc6d1ea47540e660ffdfe9c9dadeab32900e1b15d6</tt></td>
</tr>

</table>
