
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/kio-5.70.1.tar.xz">kio-5.70.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>17bade0b2252fe956f738faa03df67e3d160a7ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/ktexteditor-5.70.1.tar.xz">ktexteditor-5.70.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>34949310c4a8ea45a0a941cf7b2e40c8f57b7d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.70/plasma-framework-5.70.1.tar.xz">plasma-framework-5.70.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0327b96dd9d37e32c92242ba475dbc64f2679d24</tt></td>
</tr>

</table>
