<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/bluedevil-5.24.3.tar.xz">bluedevil-5.24.3</a></td>
   <td align="right">168kB</td>
   <td><tt>9dd1566eae8bb793330f2f54ab34cd75ed79e7f3924bf78149077b122cc49ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/breeze-5.24.3.tar.xz">breeze-5.24.3</a></td>
   <td align="right">41MB</td>
   <td><tt>4b8f92e55c72ed59b7bdfe4be6044fcb0a0816fb6f1ea2bdd9884b58b9a92940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/breeze-grub-5.24.3.tar.xz">breeze-grub-5.24.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>58be0838aab0008f6835638f23bad34a4ee25c44270e1a196ce4d2792eae9795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/breeze-gtk-5.24.3.tar.xz">breeze-gtk-5.24.3</a></td>
   <td align="right">42kB</td>
   <td><tt>2911bb2f99ad42ec820cc2adcbf1f8a6f18ba437f72ce216562e12584fd042a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/breeze-plymouth-5.24.3.tar.xz">breeze-plymouth-5.24.3</a></td>
   <td align="right">108kB</td>
   <td><tt>327c46c5be69296993fb4afcd8a5027441681c7b08667bdaac5c314828056e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/discover-5.24.3.tar.xz">discover-5.24.3</a></td>
   <td align="right">7.8MB</td>
   <td><tt>8af12c922ad734185ad4affd96190e1918ad7edc355c656d24711bf4a52df524</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/drkonqi-5.24.3.tar.xz">drkonqi-5.24.3</a></td>
   <td align="right">775kB</td>
   <td><tt>13e405d0ccb0a12e63e2b35501cf319ebb10c05388e56fd299502b3ef2d6d7d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kactivitymanagerd-5.24.3.tar.xz">kactivitymanagerd-5.24.3</a></td>
   <td align="right">102kB</td>
   <td><tt>9cae3e136ee6743474fd96a573b235b6ca8653d4f61f412d9d3ec866861cae63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kde-cli-tools-5.24.3.tar.xz">kde-cli-tools-5.24.3</a></td>
   <td align="right">617kB</td>
   <td><tt>fe64da7ce3ad7e7b2d743e06aec0f6666e1909d3ad08867a0173c5c262f7e803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kdecoration-5.24.3.tar.xz">kdecoration-5.24.3</a></td>
   <td align="right">47kB</td>
   <td><tt>bbfc3d83f76dc8d2568bbe2f5395af5887eaba79094fcb901930585f8b53f636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kde-gtk-config-5.24.3.tar.xz">kde-gtk-config-5.24.3</a></td>
   <td align="right">69kB</td>
   <td><tt>fb4bcd30c93e15962153e81ca218f03465f02d1d2d011f267bb96946869ba05c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kdeplasma-addons-5.24.3.tar.xz">kdeplasma-addons-5.24.3</a></td>
   <td align="right">620kB</td>
   <td><tt>86fe08a744e31ce22124bca4337633f6a2523fbc87d915d3ffd42e65da66f23c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kgamma5-5.24.3.tar.xz">kgamma5-5.24.3</a></td>
   <td align="right">81kB</td>
   <td><tt>66da3bdfaaddb70c6bbf5739eaa970c8a7f67fd8295872ee201a1445c2df9867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/khotkeys-5.24.3.tar.xz">khotkeys-5.24.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>17f45fa898147b7bd9e1bd4850aef10d03c25dbfe088ef46803a817f7348afcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kinfocenter-5.24.3.tar.xz">kinfocenter-5.24.3</a></td>
   <td align="right">701kB</td>
   <td><tt>d2f5acb7a52434e6b539dc52d23cf09754e313411b32d169f36403ba0801e223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kmenuedit-5.24.3.tar.xz">kmenuedit-5.24.3</a></td>
   <td align="right">880kB</td>
   <td><tt>8bc5d0dfef18e4e1f561cd86f2d023b8d5f951ffd7bcc497633e4ad263cb3bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kscreen-5.24.3.tar.xz">kscreen-5.24.3</a></td>
   <td align="right">131kB</td>
   <td><tt>0e814b3db2c952857bc399e9d3bc349b80ad7367ac755c22dae31004c7684bf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kscreenlocker-5.24.3.tar.xz">kscreenlocker-5.24.3</a></td>
   <td align="right">116kB</td>
   <td><tt>03157ca122085fd6d8eeabb369c363ef706a773ad509eb5c08722a0e4bf903b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/ksshaskpass-5.24.3.tar.xz">ksshaskpass-5.24.3</a></td>
   <td align="right">24kB</td>
   <td><tt>3bbe16721dabd7fbae659be3f21b4a386d8ca0a6d288c94ccd3954ecbd4d7847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/ksystemstats-5.24.3.tar.xz">ksystemstats-5.24.3</a></td>
   <td align="right">92kB</td>
   <td><tt>4c303bd73bafb254ca8bb5dee0de3b7a2ec4123e719827d26268625047bb330e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kwallet-pam-5.24.3.tar.xz">kwallet-pam-5.24.3</a></td>
   <td align="right">20kB</td>
   <td><tt>33dd50c4d9258d1e3326980192e2523490754cd1724ff704c7e36984e5cdad7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kwayland-integration-5.24.3.tar.xz">kwayland-integration-5.24.3</a></td>
   <td align="right">24kB</td>
   <td><tt>9f6f167fd16aebf550ae9bda176237ea80efae4a08826050ccbd2d7a73de05cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kwayland-server-5.24.3.tar.xz">kwayland-server-5.24.3</a></td>
   <td align="right">216kB</td>
   <td><tt>560b20a15b459c5a1e8d0b38e9d53c3a75660bc798fa544e7a9d5c36260e063b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kwin-5.24.3.tar.xz">kwin-5.24.3</a></td>
   <td align="right">6.1MB</td>
   <td><tt>d84db7e32a13177a0bd030e6c65907cc37c28efad51ee17c518e402235cbf46b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/kwrited-5.24.3.tar.xz">kwrited-5.24.3</a></td>
   <td align="right">20kB</td>
   <td><tt>2d768547e131aed99d165b0aee7b080e512a2a5ffab292bff8f71033631cede9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/layer-shell-qt-5.24.3.tar.xz">layer-shell-qt-5.24.3</a></td>
   <td align="right">17kB</td>
   <td><tt>5de105ece2d7e6ca2d65305186462b0f9240930276adf7d5eedf77ffeaa67d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/libkscreen-5.24.3.tar.xz">libkscreen-5.24.3</a></td>
   <td align="right">97kB</td>
   <td><tt>a6874f0f4066e16ea191341d4d7d73deaf304e117ab64306d311c862393de7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/libksysguard-5.24.3.tar.xz">libksysguard-5.24.3</a></td>
   <td align="right">748kB</td>
   <td><tt>148651cf33c7400d7a0df507d0bb75a6924e1ae80f5a46eefeaeb44c848ff1a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/milou-5.24.3.tar.xz">milou-5.24.3</a></td>
   <td align="right">47kB</td>
   <td><tt>31d70b760653e0fe4b9c1b59d7601bb52d307a3d3be3b8f67550a4ea9d22bd1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/oxygen-5.24.3.tar.xz">oxygen-5.24.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>018dbd3c276707bbcc8515424ae45a0133cd9a2e31ffd7a0bbc25522586e400a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-browser-integration-5.24.3.tar.xz">plasma-browser-integration-5.24.3</a></td>
   <td align="right">217kB</td>
   <td><tt>40b07a0065bf24a78997fb210b0550642872ba8c41ba1df6c2cb6785d85851d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-desktop-5.24.3.tar.xz">plasma-desktop-5.24.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>583e7ecfd2e2b766d645284cf13605851d96e2ad7cf2e657b4665aa3f3fd91d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-disks-5.24.3.tar.xz">plasma-disks-5.24.3</a></td>
   <td align="right">85kB</td>
   <td><tt>9e71a018eb875dd70d7b30f23937098ae8d6d9eab2306b541f916ddf6b64745a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-firewall-5.24.3.tar.xz">plasma-firewall-5.24.3</a></td>
   <td align="right">336kB</td>
   <td><tt>bff36b7a922a6d0e5e20df539c6995d775f62a1d63c970b55bb430abd580ef64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-integration-5.24.3.tar.xz">plasma-integration-5.24.3</a></td>
   <td align="right">81kB</td>
   <td><tt>7aef8f3b6234b402b978d12e72d9c5eb2b82cbe587afa32f288e2e160b103c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-mobile-5.24.3.tar.xz">plasma-mobile-5.24.3</a></td>
   <td align="right">115kB</td>
   <td><tt>a8a8361ca417f28e35221c8c27f4442b72f5a44c50626c358095a3b6fbf195af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-nano-5.24.3.tar.xz">plasma-nano-5.24.3</a></td>
   <td align="right">64kB</td>
   <td><tt>8522c16bc87c63aa9a405bb7c4415501066362d4163bdffe79b00d36a2835d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-nm-5.24.3.tar.xz">plasma-nm-5.24.3</a></td>
   <td align="right">903kB</td>
   <td><tt>2cf64e94ed921546bc0be44f50e3490033a353bf3f0ad7a5a513ef5585fc3bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-pa-5.24.3.tar.xz">plasma-pa-5.24.3</a></td>
   <td align="right">129kB</td>
   <td><tt>e18fbe9cf9f2948c2d3567ba0bb71126ffef8d7c4df8084a8fa0fd48c0ca0759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-sdk-5.24.3.tar.xz">plasma-sdk-5.24.3</a></td>
   <td align="right">254kB</td>
   <td><tt>f9bad013598b8d4e8b0be4ceaa5ad5f1a3326911f7b41e754d57d7a5f1f5d63c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-systemmonitor-5.24.3.tar.xz">plasma-systemmonitor-5.24.3</a></td>
   <td align="right">147kB</td>
   <td><tt>904c0cbf56469b4b021559cc898aef57917cbe36526317c5bc7d34f255c0439d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-tests-5.24.3.tar.xz">plasma-tests-5.24.3</a></td>
   <td align="right">1kB</td>
   <td><tt>411cad83d4e55032313a34a060905decdcdda98892963198796dc8590cc9b0f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-thunderbolt-5.24.3.tar.xz">plasma-thunderbolt-5.24.3</a></td>
   <td align="right">65kB</td>
   <td><tt>52bec310386158c7f85cd6a8a7db5bedabdb8494f4c6818d8466aa33a6dba5df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-vault-5.24.3.tar.xz">plasma-vault-5.24.3</a></td>
   <td align="right">173kB</td>
   <td><tt>8d4998fd105073ce8ae6012426c0bd024529e0ae67c3c3ea9178918fcf87be38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-workspace-5.24.3.tar.xz">plasma-workspace-5.24.3</a></td>
   <td align="right">17MB</td>
   <td><tt>104c5c0ebb000f48c749a6bafdde4cbb1b06d188e1a23ef95a2d035cce442ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plasma-workspace-wallpapers-5.24.3.tar.xz">plasma-workspace-wallpapers-5.24.3</a></td>
   <td align="right">69MB</td>
   <td><tt>da252edb70b3373c38fb30318a44f52f047d4f31cbbd26c01c30bf2398c43848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/plymouth-kcm-5.24.3.tar.xz">plymouth-kcm-5.24.3</a></td>
   <td align="right">38kB</td>
   <td><tt>654b92f85348dcdac94ce39958c5b429eb2904e5767f113ccdd62e5220ead6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/polkit-kde-agent-1-5.24.3.tar.xz">polkit-kde-agent-1-5.24.3</a></td>
   <td align="right">47kB</td>
   <td><tt>788d392c811ee7c8098d294ccc9fff7f7a695977689a66cb4a1cb52d6f4779d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/powerdevil-5.24.3.tar.xz">powerdevil-5.24.3</a></td>
   <td align="right">617kB</td>
   <td><tt>495275be84a96572d2e2a7ee343e1ab98c79e7c8eef402a7f26d86863e25f010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/qqc2-breeze-style-5.24.3.tar.xz">qqc2-breeze-style-5.24.3</a></td>
   <td align="right">65kB</td>
   <td><tt>2091a70b3a1e8a5032320ff2aa9c2e4eb149136fd0dffeb19b222cca7ba341f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/sddm-kcm-5.24.3.tar.xz">sddm-kcm-5.24.3</a></td>
   <td align="right">79kB</td>
   <td><tt>d0d01ceda262734e87f0cfc28138a1b5478651722a703a55ac744c4e676ec696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/systemsettings-5.24.3.tar.xz">systemsettings-5.24.3</a></td>
   <td align="right">200kB</td>
   <td><tt>6200618137f9a1411007a78f9b50eaf78048ce9819428d997a44816d6093d585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.3/xdg-desktop-portal-kde-5.24.3.tar.xz">xdg-desktop-portal-kde-5.24.3</a></td>
   <td align="right">86kB</td>
   <td><tt>e69f82203ab777382bb4519bdd3e086a8f13c4ba7aa35981a149a72ae4c90d1b</tt></td>
</tr>

</table>
