
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/attica-5.15.0.tar.xz">attica-5.15.0</a></td>
   <td align="right">59kB</td>
   <td><tt>9fb90ab8cd6bf9d542ae53c3b9d2c626ba2f4959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/baloo-5.15.0.tar.xz">baloo-5.15.0</a></td>
   <td align="right">165kB</td>
   <td><tt>0edc0edae503376ce2dde86398c1366ab6e20bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/bluez-qt-5.15.0.tar.xz">bluez-qt-5.15.0</a></td>
   <td align="right">71kB</td>
   <td><tt>5ee34d25b9aba834b824e718cc4b0166aabf4d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/extra-cmake-modules-5.15.0.tar.xz">extra-cmake-modules-5.15.0</a></td>
   <td align="right">131kB</td>
   <td><tt>fcb1131ba404d573065a56a7b406830b216c15d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/frameworkintegration-5.15.0.tar.xz">frameworkintegration-5.15.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a3eee9ba851435287dcf4ba3d0144485c06e2258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kactivities-5.15.0.tar.xz">kactivities-5.15.0</a></td>
   <td align="right">171kB</td>
   <td><tt>f4f4bae00a6203ca6373d1df7e118ac9ddb6e3a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kapidox-5.15.0.tar.xz">kapidox-5.15.0</a></td>
   <td align="right">129kB</td>
   <td><tt>d62b2e70ffb82dcf9848248c81859572da26c2b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/karchive-5.15.0.tar.xz">karchive-5.15.0</a></td>
   <td align="right">105kB</td>
   <td><tt>424c602b00bbd76748487ce2014f4f9baf79c723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kauth-5.15.0.tar.xz">kauth-5.15.0</a></td>
   <td align="right">80kB</td>
   <td><tt>2255ef06b86ad0a4aaf8b995bf2a4893ee081172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kbookmarks-5.15.0.tar.xz">kbookmarks-5.15.0</a></td>
   <td align="right">112kB</td>
   <td><tt>8356f3a82f7ef291d3bf30a699aced3009af5339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kcmutils-5.15.0.tar.xz">kcmutils-5.15.0</a></td>
   <td align="right">229kB</td>
   <td><tt>26fca249ed1123ecefac7061e511678b01e6908d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kcodecs-5.15.0.tar.xz">kcodecs-5.15.0</a></td>
   <td align="right">210kB</td>
   <td><tt>d82207acdcc14416a9207103f207401193623ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kcompletion-5.15.0.tar.xz">kcompletion-5.15.0</a></td>
   <td align="right">113kB</td>
   <td><tt>cdb22f0c385850098db4e56fba83fd1ef3039473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kconfig-5.15.0.tar.xz">kconfig-5.15.0</a></td>
   <td align="right">217kB</td>
   <td><tt>d3fd38117a4094fc67ace3848379f3c143e5a330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kconfigwidgets-5.15.0.tar.xz">kconfigwidgets-5.15.0</a></td>
   <td align="right">350kB</td>
   <td><tt>a04d177bc55222efb8f809fea399085ef8db341d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kcoreaddons-5.15.0.tar.xz">kcoreaddons-5.15.0</a></td>
   <td align="right">295kB</td>
   <td><tt>8975d23a57714051d893b72733d8a45b3ed93dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kcrash-5.15.0.tar.xz">kcrash-5.15.0</a></td>
   <td align="right">19kB</td>
   <td><tt>6c6351a466afd6652b903f641c23d538be085c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kdbusaddons-5.15.0.tar.xz">kdbusaddons-5.15.0</a></td>
   <td align="right">32kB</td>
   <td><tt>433b675a35d297f4fce1f97d40ad2ad3488b043d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kdeclarative-5.15.0.tar.xz">kdeclarative-5.15.0</a></td>
   <td align="right">161kB</td>
   <td><tt>71dfbf6f72f49d68343a00f52b463854d670aa74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kded-5.15.0.tar.xz">kded-5.15.0</a></td>
   <td align="right">34kB</td>
   <td><tt>cf321d692a7fed9b27e7ae6b9076a1b869abe741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kdesignerplugin-5.15.0.tar.xz">kdesignerplugin-5.15.0</a></td>
   <td align="right">84kB</td>
   <td><tt>80b00593682e6e0ea63ce6af08af99820343d59f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kdesu-5.15.0.tar.xz">kdesu-5.15.0</a></td>
   <td align="right">42kB</td>
   <td><tt>6c93c088cc5734a7a30728fbace720f775ec8706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kdewebkit-5.15.0.tar.xz">kdewebkit-5.15.0</a></td>
   <td align="right">28kB</td>
   <td><tt>6ae17737c4d5fd39e6eda93b624ecf7d8901689d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kdnssd-5.15.0.tar.xz">kdnssd-5.15.0</a></td>
   <td align="right">55kB</td>
   <td><tt>daeb960f67b9b9a567509e70fae56bb49f7a3462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kdoctools-5.15.0.tar.xz">kdoctools-5.15.0</a></td>
   <td align="right">398kB</td>
   <td><tt>c09b18decb0a6f0d700566869ecf04b01256beee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kemoticons-5.15.0.tar.xz">kemoticons-5.15.0</a></td>
   <td align="right">92kB</td>
   <td><tt>d572c81a4c9dd2217c48e0e5d5a3a0719458b93d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kfilemetadata-5.15.0.tar.xz">kfilemetadata-5.15.0</a></td>
   <td align="right">119kB</td>
   <td><tt>ee5b8199505fe2d01fcb097d5d1618a45a82b865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kglobalaccel-5.15.0.tar.xz">kglobalaccel-5.15.0</a></td>
   <td align="right">79kB</td>
   <td><tt>a82e6cf53eee87a711e148f80e58a2be803a2a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kguiaddons-5.15.0.tar.xz">kguiaddons-5.15.0</a></td>
   <td align="right">38kB</td>
   <td><tt>8721ae47f4e085920966dee5139da47ebf16fd7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/ki18n-5.15.0.tar.xz">ki18n-5.15.0</a></td>
   <td align="right">580kB</td>
   <td><tt>7dfa7383713395b8ae0287188ca3c8067d94a1e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kiconthemes-5.15.0.tar.xz">kiconthemes-5.15.0</a></td>
   <td align="right">191kB</td>
   <td><tt>18ba5a1a1d9fa478c976bca1c78619af0d3a43f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kidletime-5.15.0.tar.xz">kidletime-5.15.0</a></td>
   <td align="right">25kB</td>
   <td><tt>70a8fce8557cd761dff6c73956bfaf8be589fdd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kimageformats-5.15.0.tar.xz">kimageformats-5.15.0</a></td>
   <td align="right">83kB</td>
   <td><tt>30fc4ab8e86ed4fdee89f9085c037fa263f5e5ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kinit-5.15.0.tar.xz">kinit-5.15.0</a></td>
   <td align="right">114kB</td>
   <td><tt>c73938dd2e4d2d9011447c534b602f9b3b1c044e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kio-5.15.0.tar.xz">kio-5.15.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8bc58e83f9a8bac99899e3e383044d6d1eb05d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kitemmodels-5.15.0.tar.xz">kitemmodels-5.15.0</a></td>
   <td align="right">374kB</td>
   <td><tt>43b966b5336ac13a2886455f095ae684914eb121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kitemviews-5.15.0.tar.xz">kitemviews-5.15.0</a></td>
   <td align="right">72kB</td>
   <td><tt>168c93c8a912f68c4ee3ec380407569568ccd0f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kjobwidgets-5.15.0.tar.xz">kjobwidgets-5.15.0</a></td>
   <td align="right">86kB</td>
   <td><tt>c6d86d47e649d3bd4e8948e0ad17c14f8c1e6916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/knewstuff-5.15.0.tar.xz">knewstuff-5.15.0</a></td>
   <td align="right">832kB</td>
   <td><tt>0e57e8bc210e794d8a5ea476027537e74e8e248b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/knotifications-5.15.0.tar.xz">knotifications-5.15.0</a></td>
   <td align="right">90kB</td>
   <td><tt>a8af51164a00547af1756180c320414432fbef23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/knotifyconfig-5.15.0.tar.xz">knotifyconfig-5.15.0</a></td>
   <td align="right">80kB</td>
   <td><tt>e2aa234e3bf7e0ed8fe80000d9a9121cbcd8bb97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kpackage-5.15.0.tar.xz">kpackage-5.15.0</a></td>
   <td align="right">96kB</td>
   <td><tt>00c3f8837a39b03946883999a7d43534b4ca2e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kparts-5.15.0.tar.xz">kparts-5.15.0</a></td>
   <td align="right">150kB</td>
   <td><tt>4574330518129b284d7e17ecb9ee4e994a83f140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kpeople-5.15.0.tar.xz">kpeople-5.15.0</a></td>
   <td align="right">56kB</td>
   <td><tt>053618acbcf141c68101320f67c708ca48181762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kplotting-5.15.0.tar.xz">kplotting-5.15.0</a></td>
   <td align="right">28kB</td>
   <td><tt>d69b9561c0c8ea7f515460944ce6f4c19b94bfa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kpty-5.15.0.tar.xz">kpty-5.15.0</a></td>
   <td align="right">55kB</td>
   <td><tt>f45262a2858f3b75720e34b1ad6ee6aba01de3bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kservice-5.15.0.tar.xz">kservice-5.15.0</a></td>
   <td align="right">260kB</td>
   <td><tt>a62b6cc6e4f902a37ac4265b332612f22671ec33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/ktexteditor-5.15.0.tar.xz">ktexteditor-5.15.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>7be09fda5b43d3ceebe2b614c8f2e62f81d0944d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/ktextwidgets-5.15.0.tar.xz">ktextwidgets-5.15.0</a></td>
   <td align="right">298kB</td>
   <td><tt>7c8dcb95209d340bd4fc8df224b56555b8ad3931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kunitconversion-5.15.0.tar.xz">kunitconversion-5.15.0</a></td>
   <td align="right">605kB</td>
   <td><tt>edda22d5a3b5430400a02731995cd19d7e683461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kwallet-5.15.0.tar.xz">kwallet-5.15.0</a></td>
   <td align="right">278kB</td>
   <td><tt>9e10aabbd27e35380d44d179ec42016d2cb53d27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kwidgetsaddons-5.15.0.tar.xz">kwidgetsaddons-5.15.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2cba95538491fa1e3a8ab57d3f71ee69f3eb7cc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kwindowsystem-5.15.0.tar.xz">kwindowsystem-5.15.0</a></td>
   <td align="right">159kB</td>
   <td><tt>de24545b6099585687de424be9486ecdfbd9ae6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kxmlgui-5.15.0.tar.xz">kxmlgui-5.15.0</a></td>
   <td align="right">842kB</td>
   <td><tt>ecd47940d3548ce7a61350d6e7dbd41380ef9213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/kxmlrpcclient-5.15.0.tar.xz">kxmlrpcclient-5.15.0</a></td>
   <td align="right">27kB</td>
   <td><tt>ad9789de681adf27e84a9d243e42033edd5006c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/modemmanager-qt-5.15.0.tar.xz">modemmanager-qt-5.15.0</a></td>
   <td align="right">96kB</td>
   <td><tt>3cda75bd9b43d96697d9bfc5b4b60a18f819d78e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/networkmanager-qt-5.15.0.tar.xz">networkmanager-qt-5.15.0</a></td>
   <td align="right">151kB</td>
   <td><tt>1b5398dd047a51e5d3ddbf613fb3bb17d07a27cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/plasma-framework-5.15.0.tar.xz">plasma-framework-5.15.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>8499eb137a28fa4bd12ecfae77a46b2b9270ed65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/solid-5.15.0.tar.xz">solid-5.15.0</a></td>
   <td align="right">259kB</td>
   <td><tt>f5b48a748f32f157212f3a605e85da4c14ff75f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/sonnet-5.15.0.tar.xz">sonnet-5.15.0</a></td>
   <td align="right">272kB</td>
   <td><tt>35347ed1994986a6b3aba554facc0508a2ac223c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.15/threadweaver-5.15.0.tar.xz">threadweaver-5.15.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>042c13fbe8bed08e4b057ea503868ad93a80a46d</tt></td>
</tr>

</table>
