<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akonadi-22.08.3.tar.xz">akonadi-22.08.3</a></td>
   <td align="right">1593kB</td>
   <td><tt>71a9a96f49ffcc259b7d4580abee3516cf7814bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akonadi-calendar-22.08.3.tar.xz">akonadi-calendar-22.08.3</a></td>
   <td align="right">386kB</td>
   <td><tt>48fea32b5c41fa954180ff6fb2f96a2830075ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akonadi-calendar-tools-22.08.3.tar.xz">akonadi-calendar-tools-22.08.3</a></td>
   <td align="right">232kB</td>
   <td><tt>c30b8f3e6a54becddcb3a075a61ae6a6f89f3ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akonadiconsole-22.08.3.tar.xz">akonadiconsole-22.08.3</a></td>
   <td align="right">195kB</td>
   <td><tt>f0392cabafe9743a80e156e87e6301788348d2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akonadi-contacts-22.08.3.tar.xz">akonadi-contacts-22.08.3</a></td>
   <td align="right">417kB</td>
   <td><tt>ff1859de98933efb59792892528cd86b7da62a39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akonadi-import-wizard-22.08.3.tar.xz">akonadi-import-wizard-22.08.3</a></td>
   <td align="right">500kB</td>
   <td><tt>c4d45cb8b12ed42a973ebea7e8ddc2ad185c59b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akonadi-mime-22.08.3.tar.xz">akonadi-mime-22.08.3</a></td>
   <td align="right">146kB</td>
   <td><tt>a81b3cd0c7e4e184d51bd53cb47bc9a21c7e2451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akonadi-notes-22.08.3.tar.xz">akonadi-notes-22.08.3</a></td>
   <td align="right">26kB</td>
   <td><tt>2525b32325bc5d6cc4fbcb620a2d9b6a39858d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akonadi-search-22.08.3.tar.xz">akonadi-search-22.08.3</a></td>
   <td align="right">97kB</td>
   <td><tt>4d7923fdc075408531bb059df83186ad20717d4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/akregator-22.08.3.tar.xz">akregator-22.08.3</a></td>
   <td align="right">2201kB</td>
   <td><tt>c35134af3cf49664da34a0c313dd645794583477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/analitza-22.08.3.tar.xz">analitza-22.08.3</a></td>
   <td align="right">340kB</td>
   <td><tt>66096e712048f4bfefc463c22e010a1b4c62d4c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ark-22.08.3.tar.xz">ark-22.08.3</a></td>
   <td align="right">2720kB</td>
   <td><tt>dccff1a414a55154b246a1da4158013addfc58bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/artikulate-22.08.3.tar.xz">artikulate-22.08.3</a></td>
   <td align="right">1071kB</td>
   <td><tt>1c8ecea0faa3f94c291b91342866409c085f9cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/audiocd-kio-22.08.3.tar.xz">audiocd-kio-22.08.3</a></td>
   <td align="right">514kB</td>
   <td><tt>022a488d24344faa7ceaf792fa0a89e6ae04452a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/baloo-widgets-22.08.3.tar.xz">baloo-widgets-22.08.3</a></td>
   <td align="right">266kB</td>
   <td><tt>d1853312bf4b84880cacf71bc7ea87ad10b2c860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/blinken-22.08.3.tar.xz">blinken-22.08.3</a></td>
   <td align="right">2652kB</td>
   <td><tt>14b5ac79478e34a1a1a6f80575694729ed37679a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/bomber-22.08.3.tar.xz">bomber-22.08.3</a></td>
   <td align="right">815kB</td>
   <td><tt>77c137cf52f4e78570824e5cce4da46d9b5475d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/bovo-22.08.3.tar.xz">bovo-22.08.3</a></td>
   <td align="right">205kB</td>
   <td><tt>80f835c83f4174096781b58dfb96e0fadc464e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/calendarsupport-22.08.3.tar.xz">calendarsupport-22.08.3</a></td>
   <td align="right">733kB</td>
   <td><tt>b546131cf0a55b94d4922005b2cb8f7ffd20de8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/cantor-22.08.3.tar.xz">cantor-22.08.3</a></td>
   <td align="right">9008kB</td>
   <td><tt>16d4b9f6e4e2ab1965cf6dd5bad350ab9e8db4e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/cervisia-22.08.3.tar.xz">cervisia-22.08.3</a></td>
   <td align="right">1869kB</td>
   <td><tt>e42b5b3ea9d662bcaf1f174f5d733c42baa0b203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/dolphin-22.08.3.tar.xz">dolphin-22.08.3</a></td>
   <td align="right">5243kB</td>
   <td><tt>aa0c3abe0c2d749749ef12bec592b99daff2d808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/dolphin-plugins-22.08.3.tar.xz">dolphin-plugins-22.08.3</a></td>
   <td align="right">253kB</td>
   <td><tt>1a2bd90cda8a7b5d19ac38f8ea97251f6f7bdb90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/dragon-22.08.3.tar.xz">dragon-22.08.3</a></td>
   <td align="right">1627kB</td>
   <td><tt>01714eceb678b45354011687d52bd4d2f3d3fc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/elisa-22.08.3.tar.xz">elisa-22.08.3</a></td>
   <td align="right">1726kB</td>
   <td><tt>7396eb76532028e99a349a20df8195c457d80470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/eventviews-22.08.3.tar.xz">eventviews-22.08.3</a></td>
   <td align="right">450kB</td>
   <td><tt>649724380d1110766d5e60cd1f88505fce52806c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/falkon-22.08.3.tar.xz">falkon-22.08.3</a></td>
   <td align="right">2444kB</td>
   <td><tt>5790fed679acbfeb546fd7752917a62329eb0280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ffmpegthumbs-22.08.3.tar.xz">ffmpegthumbs-22.08.3</a></td>
   <td align="right">30kB</td>
   <td><tt>c655ae3fd992853f28323f0cd8aac0a79ead8a0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/filelight-22.08.3.tar.xz">filelight-22.08.3</a></td>
   <td align="right">682kB</td>
   <td><tt>082bd1a59a2195f730b6ffd15c23026d005e4cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/granatier-22.08.3.tar.xz">granatier-22.08.3</a></td>
   <td align="right">2057kB</td>
   <td><tt>2f406834fcee7761ad60fcf1968797db4d532037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/grantlee-editor-22.08.3.tar.xz">grantlee-editor-22.08.3</a></td>
   <td align="right">110kB</td>
   <td><tt>1fb3c4a51ab635d3f53f46f3856a32e8a0bb4374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/grantleetheme-22.08.3.tar.xz">grantleetheme-22.08.3</a></td>
   <td align="right">60kB</td>
   <td><tt>c93ea190a1da9a018150a9090334eef6197e45e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/gwenview-22.08.3.tar.xz">gwenview-22.08.3</a></td>
   <td align="right">6665kB</td>
   <td><tt>073f231cbb1cc9fb789c76d44e3f0982cfc32fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/incidenceeditor-22.08.3.tar.xz">incidenceeditor-22.08.3</a></td>
   <td align="right">547kB</td>
   <td><tt>c1755db0a6084ab7abcfaf6d70422af4d672462a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/itinerary-22.08.3.tar.xz">itinerary-22.08.3</a></td>
   <td align="right">557kB</td>
   <td><tt>e6130b2fb78033f4b22b6ae1dc6f3217c2a66622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/juk-22.08.3.tar.xz">juk-22.08.3</a></td>
   <td align="right">1968kB</td>
   <td><tt>f0824a0e585c35ac9d4cec36efc60a63480dc6be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/k3b-22.08.3.tar.xz">k3b-22.08.3</a></td>
   <td align="right">10512kB</td>
   <td><tt>36d73eb5945d99778d44ce94c9139f71fbbe6ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kaccounts-integration-22.08.3.tar.xz">kaccounts-integration-22.08.3</a></td>
   <td align="right">86kB</td>
   <td><tt>02ce55a152bead8c9b3e7d8e837669f4b9acf775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kaccounts-providers-22.08.3.tar.xz">kaccounts-providers-22.08.3</a></td>
   <td align="right">63kB</td>
   <td><tt>6ad68c5096fa06022432efddb6dd116554a075fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kaddressbook-22.08.3.tar.xz">kaddressbook-22.08.3</a></td>
   <td align="right">3258kB</td>
   <td><tt>9aac774520a8399c34bd5d39a85ffd2536254355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kajongg-22.08.3.tar.xz">kajongg-22.08.3</a></td>
   <td align="right">4459kB</td>
   <td><tt>735c5c5ad1f0b1ecf0bf4ce47b7ca2b143508a02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kalarm-22.08.3.tar.xz">kalarm-22.08.3</a></td>
   <td align="right">2315kB</td>
   <td><tt>2dfbbff0f45b18cdc7653bf939b96710e796ef7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kalendar-22.08.3.tar.xz">kalendar-22.08.3</a></td>
   <td align="right">458kB</td>
   <td><tt>4e31c590037b5b547684fea51d21e57fddf0f3fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kalgebra-22.08.3.tar.xz">kalgebra-22.08.3</a></td>
   <td align="right">1008kB</td>
   <td><tt>dbf6176cdd3c4038a2450338af80d371077b6d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kalzium-22.08.3.tar.xz">kalzium-22.08.3</a></td>
   <td align="right">23880kB</td>
   <td><tt>4c8badf44e51dee0caef82000cb906d7c65c16b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kamera-22.08.3.tar.xz">kamera-22.08.3</a></td>
   <td align="right">117kB</td>
   <td><tt>cd43ee62359653768b207e5730421b8a59dc6b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kamoso-22.08.3.tar.xz">kamoso-22.08.3</a></td>
   <td align="right">222kB</td>
   <td><tt>4c67044f42ea494636adb8f1919f37ed06540dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kanagram-22.08.3.tar.xz">kanagram-22.08.3</a></td>
   <td align="right">7856kB</td>
   <td><tt>f0033b77534d9325c484daa00e5e8b1ca8702c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kapman-22.08.3.tar.xz">kapman-22.08.3</a></td>
   <td align="right">2418kB</td>
   <td><tt>3ebc4108253e89a2cdc446c659f02557def4fbe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kapptemplate-22.08.3.tar.xz">kapptemplate-22.08.3</a></td>
   <td align="right">328kB</td>
   <td><tt>c89bcdbfa3a561394f99965e3e8aa2fef22cafcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kate-22.08.3.tar.xz">kate-22.08.3</a></td>
   <td align="right">7488kB</td>
   <td><tt>dd7113622be9e980de1d890cc6496b391df8425f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/katomic-22.08.3.tar.xz">katomic-22.08.3</a></td>
   <td align="right">1404kB</td>
   <td><tt>85f2f8dca9e2296092331bb7931ccf6f8698be91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kbackup-22.08.3.tar.xz">kbackup-22.08.3</a></td>
   <td align="right">383kB</td>
   <td><tt>a9dea4c16a50d83909aa24c93acaab7fe7b952c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kblackbox-22.08.3.tar.xz">kblackbox-22.08.3</a></td>
   <td align="right">516kB</td>
   <td><tt>1154914ebfd1691132736baef271e119ad7af5ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kblocks-22.08.3.tar.xz">kblocks-22.08.3</a></td>
   <td align="right">2054kB</td>
   <td><tt>becfc518f360a5b5cbbb62074a857acf16a4c8f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kbounce-22.08.3.tar.xz">kbounce-22.08.3</a></td>
   <td align="right">3449kB</td>
   <td><tt>5cdc80594f75da232dd389c1e3d029ddfdd753ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kbreakout-22.08.3.tar.xz">kbreakout-22.08.3</a></td>
   <td align="right">2494kB</td>
   <td><tt>f9a1708e1cc7acb26a607e2f5db9fe97b05aaf0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kbruch-22.08.3.tar.xz">kbruch-22.08.3</a></td>
   <td align="right">5501kB</td>
   <td><tt>1c032b61ef75b65b742a41c2135a72a59f2129af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kcachegrind-22.08.3.tar.xz">kcachegrind-22.08.3</a></td>
   <td align="right">859kB</td>
   <td><tt>cbdb4d7813694aa1570be795faceddad55f23f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kcalc-22.08.3.tar.xz">kcalc-22.08.3</a></td>
   <td align="right">386kB</td>
   <td><tt>ac70b801d72f4526fe8d0accf3360f242c01bc35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kcalutils-22.08.3.tar.xz">kcalutils-22.08.3</a></td>
   <td align="right">340kB</td>
   <td><tt>30ae8508b4341409b6ba799ac7932d97827e2e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kcharselect-22.08.3.tar.xz">kcharselect-22.08.3</a></td>
   <td align="right">366kB</td>
   <td><tt>faa33993909f6186170926e66a50d6cd172aed10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kcolorchooser-22.08.3.tar.xz">kcolorchooser-22.08.3</a></td>
   <td align="right">30kB</td>
   <td><tt>bb24846cee74f68947d380ccbace04ed8a81d410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kcron-22.08.3.tar.xz">kcron-22.08.3</a></td>
   <td align="right">895kB</td>
   <td><tt>0af54f9cc27ba7725cf5ba146572e2228c2d7194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdebugsettings-22.08.3.tar.xz">kdebugsettings-22.08.3</a></td>
   <td align="right">92kB</td>
   <td><tt>6c021f6984e403fa027680e88567b9bc30c8aa5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdeconnect-kde-22.08.3.tar.xz">kdeconnect-kde-22.08.3</a></td>
   <td align="right">610kB</td>
   <td><tt>5e33f1b090397e4d553f48f06b982ec25d2b7160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kde-dev-scripts-22.08.3.tar.xz">kde-dev-scripts-22.08.3</a></td>
   <td align="right">358kB</td>
   <td><tt>ca347623021f58df613044106828a18b8c952f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kde-dev-utils-22.08.3.tar.xz">kde-dev-utils-22.08.3</a></td>
   <td align="right">67kB</td>
   <td><tt>75afaebc4104d15a0284e01e2e8c46e5c033ba00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdeedu-data-22.08.3.tar.xz">kdeedu-data-22.08.3</a></td>
   <td align="right">327kB</td>
   <td><tt>5b93e4ed5654b67777fff93b6e7eab99356e0357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdegraphics-mobipocket-22.08.3.tar.xz">kdegraphics-mobipocket-22.08.3</a></td>
   <td align="right">12kB</td>
   <td><tt>88d0c08cc8c62c6c198cfe1b1a1d2cce31f8997e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdegraphics-thumbnailers-22.08.3.tar.xz">kdegraphics-thumbnailers-22.08.3</a></td>
   <td align="right">47kB</td>
   <td><tt>c6fad2db5c1342a11c0d3337184aa711f5ce3061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdenetwork-filesharing-22.08.3.tar.xz">kdenetwork-filesharing-22.08.3</a></td>
   <td align="right">370kB</td>
   <td><tt>17840152f491954851ed59b0e5d2b41c8f91ced8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdenlive-22.08.3.tar.xz">kdenlive-22.08.3</a></td>
   <td align="right">12156kB</td>
   <td><tt>0662bbe7ff0e02f70f05b76b15c148538f430add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdepim-addons-22.08.3.tar.xz">kdepim-addons-22.08.3</a></td>
   <td align="right">2247kB</td>
   <td><tt>dccd1791beb8e7165fa012c6e1d6beeeba4cb209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdepim-runtime-22.08.3.tar.xz">kdepim-runtime-22.08.3</a></td>
   <td align="right">1776kB</td>
   <td><tt>82b7fb11d288e9a9d61abe4f7775099dc7d45605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdesdk-kio-22.08.3.tar.xz">kdesdk-kio-22.08.3</a></td>
   <td align="right">38kB</td>
   <td><tt>7938dfc71e19689828b673cb3ac202bf1191db0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdesdk-thumbnailers-22.08.3.tar.xz">kdesdk-thumbnailers-22.08.3</a></td>
   <td align="right">26kB</td>
   <td><tt>80b32a0ae3c899c869e86b7189cb29b8bb9757a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdevelop-22.08.3.tar.xz">kdevelop-22.08.3</a></td>
   <td align="right">8253kB</td>
   <td><tt>9253513fefddf49c727e433b8309f439f25b5ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdev-php-22.08.3.tar.xz">kdev-php-22.08.3</a></td>
   <td align="right">1056kB</td>
   <td><tt>8089364e00e206658e326e6413a8e8b34658fba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdev-python-22.08.3.tar.xz">kdev-python-22.08.3</a></td>
   <td align="right">1065kB</td>
   <td><tt>99e9e55f5ef67b29414abe7104ee91aa9a9ed0ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdf-22.08.3.tar.xz">kdf-22.08.3</a></td>
   <td align="right">466kB</td>
   <td><tt>dee4fdc28f3ac1d46fea6a0fa4e5200856991e12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdialog-22.08.3.tar.xz">kdialog-22.08.3</a></td>
   <td align="right">114kB</td>
   <td><tt>27685bbea3740787c1d35328e2ccacf5aec93fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kdiamond-22.08.3.tar.xz">kdiamond-22.08.3</a></td>
   <td align="right">4593kB</td>
   <td><tt>0f4625ede221d4de555e7514bbeed4a33a12963b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/keditbookmarks-22.08.3.tar.xz">keditbookmarks-22.08.3</a></td>
   <td align="right">199kB</td>
   <td><tt>9802a05c2be8f5427a88a8ff6ebb602b69b01748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kfind-22.08.3.tar.xz">kfind-22.08.3</a></td>
   <td align="right">283kB</td>
   <td><tt>829a75c3125c54ac0f49ec0533e01a03bd7cb369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kfloppy-22.08.3.tar.xz">kfloppy-22.08.3</a></td>
   <td align="right">208kB</td>
   <td><tt>fc662c0dd44a7f3966af10c3a98e893af1da679e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kfourinline-22.08.3.tar.xz">kfourinline-22.08.3</a></td>
   <td align="right">705kB</td>
   <td><tt>6546dd35dc0be8e461b5bfcfde9357913432cce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kgeography-22.08.3.tar.xz">kgeography-22.08.3</a></td>
   <td align="right">10826kB</td>
   <td><tt>167f1563ba6b101babf235ac77fdc801a07acc67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kget-22.08.3.tar.xz">kget-22.08.3</a></td>
   <td align="right">5316kB</td>
   <td><tt>a72f39c361e407b7c6acf78ad116ad7132d58b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kgoldrunner-22.08.3.tar.xz">kgoldrunner-22.08.3</a></td>
   <td align="right">4676kB</td>
   <td><tt>6b8e625fd758d363c5fbcb3f8de0a56ee0b878c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kgpg-22.08.3.tar.xz">kgpg-22.08.3</a></td>
   <td align="right">2884kB</td>
   <td><tt>16ebbdbcb831dd8d38443c6aae44e97cfe7fd78e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/khangman-22.08.3.tar.xz">khangman-22.08.3</a></td>
   <td align="right">7249kB</td>
   <td><tt>765e45f6cce4af57b1aa71630f2533bcd33b7b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/khelpcenter-22.08.3.tar.xz">khelpcenter-22.08.3</a></td>
   <td align="right">4216kB</td>
   <td><tt>d47d5304663967e1f0eeffc75698585613ad93f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kidentitymanagement-22.08.3.tar.xz">kidentitymanagement-22.08.3</a></td>
   <td align="right">156kB</td>
   <td><tt>87bafa2df6ddb6969db5412bc3c92093a1e5af1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kig-22.08.3.tar.xz">kig-22.08.3</a></td>
   <td align="right">3110kB</td>
   <td><tt>a0617d8664709d151400f0afbfe7a5cfa087b46b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kigo-22.08.3.tar.xz">kigo-22.08.3</a></td>
   <td align="right">5133kB</td>
   <td><tt>2d40dc38a269550d2e9d0bf1c66e603e770419f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/killbots-22.08.3.tar.xz">killbots-22.08.3</a></td>
   <td align="right">1169kB</td>
   <td><tt>4732b871ae82303c7fb854078819e7d5da649787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kimagemapeditor-22.08.3.tar.xz">kimagemapeditor-22.08.3</a></td>
   <td align="right">1065kB</td>
   <td><tt>c42f33b93f9e13435823c5c434d98dec9728d23b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kimap-22.08.3.tar.xz">kimap-22.08.3</a></td>
   <td align="right">127kB</td>
   <td><tt>83a4cc02aca5cf0bec89b7933191989b41f0c6ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kio-extras-22.08.3.tar.xz">kio-extras-22.08.3</a></td>
   <td align="right">628kB</td>
   <td><tt>766688556d6ecacfc7f68836487c2a74a3e22a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kio-gdrive-22.08.3.tar.xz">kio-gdrive-22.08.3</a></td>
   <td align="right">71kB</td>
   <td><tt>023e068db4de18e3d92f1db703a015dc08ec5a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kio-zeroconf-22.08.3.tar.xz">kio-zeroconf-22.08.3</a></td>
   <td align="right">38kB</td>
   <td><tt>dd90a717de362c5319d3542e17d8b746c61d3842</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kipi-plugins-22.08.3.tar.xz">kipi-plugins-22.08.3</a></td>
   <td align="right">1489kB</td>
   <td><tt>c15567c8b372ae5380f69568594296e4faf3366d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kirigami-gallery-22.08.3.tar.xz">kirigami-gallery-22.08.3</a></td>
   <td align="right">334kB</td>
   <td><tt>2bd8ceffe0573a06d9477baa0cdec80283f53cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kiriki-22.08.3.tar.xz">kiriki-22.08.3</a></td>
   <td align="right">358kB</td>
   <td><tt>6d83986bccac28a1b2f9483609118697a25b43c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kiten-22.08.3.tar.xz">kiten-22.08.3</a></td>
   <td align="right">11050kB</td>
   <td><tt>b5d2a51c01e3dbee44bd48bff3c56668b604cb41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kitinerary-22.08.3.tar.xz">kitinerary-22.08.3</a></td>
   <td align="right">1658kB</td>
   <td><tt>ce9337297dd559359ff31b17bdb870650a73c25e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kjumpingcube-22.08.3.tar.xz">kjumpingcube-22.08.3</a></td>
   <td align="right">318kB</td>
   <td><tt>a67809dee27a0a9b9fbe83c996722159b6d37840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kldap-22.08.3.tar.xz">kldap-22.08.3</a></td>
   <td align="right">169kB</td>
   <td><tt>6468a4f5909696414471cb364a20155d6bc4d16d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kleopatra-22.08.3.tar.xz">kleopatra-22.08.3</a></td>
   <td align="right">2322kB</td>
   <td><tt>80ad3cb61029fe07c3661567f7ece25e6d147abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/klettres-22.08.3.tar.xz">klettres-22.08.3</a></td>
   <td align="right">46082kB</td>
   <td><tt>443a74290ef3a871acf2879b7691be2fa913e88c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/klickety-22.08.3.tar.xz">klickety-22.08.3</a></td>
   <td align="right">1460kB</td>
   <td><tt>c65ca8b25122144d719b68dfd81c8d61c292e332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/klines-22.08.3.tar.xz">klines-22.08.3</a></td>
   <td align="right">1688kB</td>
   <td><tt>5a15ae1689dad37a9ae5afd4c1aac5aa58e7f66a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmag-22.08.3.tar.xz">kmag-22.08.3</a></td>
   <td align="right">693kB</td>
   <td><tt>d579a98a819356ffa4ba00a019dcf750cec2ba03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmahjongg-22.08.3.tar.xz">kmahjongg-22.08.3</a></td>
   <td align="right">3977kB</td>
   <td><tt>11a17d6184dee137011426ad4ee875870b4aa3ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmail-22.08.3.tar.xz">kmail-22.08.3</a></td>
   <td align="right">6953kB</td>
   <td><tt>679cd72da672b64b2dc4b527b0e60bfb6910a08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmail-account-wizard-22.08.3.tar.xz">kmail-account-wizard-22.08.3</a></td>
   <td align="right">173kB</td>
   <td><tt>e129c9a06c973d155f5fdec6b8204f6f3cd26ea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmailtransport-22.08.3.tar.xz">kmailtransport-22.08.3</a></td>
   <td align="right">176kB</td>
   <td><tt>d23e192e79b89311242ac45f3ff90d635aefea6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmbox-22.08.3.tar.xz">kmbox-22.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>e967177a9650a807cdcf606150cdb3fbfdd68a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmime-22.08.3.tar.xz">kmime-22.08.3</a></td>
   <td align="right">152kB</td>
   <td><tt>ff3a9552b2b8d33211ac2c79f2648305f666f535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmines-22.08.3.tar.xz">kmines-22.08.3</a></td>
   <td align="right">970kB</td>
   <td><tt>52a28e6ea74211f64ac7b58b5b9f2c801d2dee79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmix-22.08.3.tar.xz">kmix-22.08.3</a></td>
   <td align="right">1136kB</td>
   <td><tt>61ffc0c8840b56b7f0fe5088d4db83222063c5a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmousetool-22.08.3.tar.xz">kmousetool-22.08.3</a></td>
   <td align="right">119kB</td>
   <td><tt>da9ef08c129b9c92616ad95a366e1e30f6d25a54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmouth-22.08.3.tar.xz">kmouth-22.08.3</a></td>
   <td align="right">2006kB</td>
   <td><tt>110828b2e5c7ce5878efcbe0692b4b4e63950bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kmplot-22.08.3.tar.xz">kmplot-22.08.3</a></td>
   <td align="right">2976kB</td>
   <td><tt>def4b2bdea1dee499d04e41dbc95c7ebef948db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/knavalbattle-22.08.3.tar.xz">knavalbattle-22.08.3</a></td>
   <td align="right">1348kB</td>
   <td><tt>cbab57e02ab68cfd39a203a6b7d713c039fe2780</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/knetwalk-22.08.3.tar.xz">knetwalk-22.08.3</a></td>
   <td align="right">1072kB</td>
   <td><tt>8fe7b60ff8beb0f4ebdbd06afee3364f13d0b22a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/knights-22.08.3.tar.xz">knights-22.08.3</a></td>
   <td align="right">3245kB</td>
   <td><tt>d38edeb26c827ec4d319a516f9911ec199dfbb09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/knotes-22.08.3.tar.xz">knotes-22.08.3</a></td>
   <td align="right">337kB</td>
   <td><tt>8dbc37bc7c00814060f95dce70e9bc96bc7d032b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kolf-22.08.3.tar.xz">kolf-22.08.3</a></td>
   <td align="right">1026kB</td>
   <td><tt>2108d47c46bbb3b3cfae47e911c90be4b4095a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kollision-22.08.3.tar.xz">kollision-22.08.3</a></td>
   <td align="right">296kB</td>
   <td><tt>8b20c3537eb5a5afac4ba25a2ff580609bdf80d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kolourpaint-22.08.3.tar.xz">kolourpaint-22.08.3</a></td>
   <td align="right">5584kB</td>
   <td><tt>708a6154aa1c38dadf7e542e4b5cb64d39f5f2c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kompare-22.08.3.tar.xz">kompare-22.08.3</a></td>
   <td align="right">928kB</td>
   <td><tt>0e7d762cf977c36f06a004673747371bcbe03320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/konqueror-22.08.3.tar.xz">konqueror-22.08.3</a></td>
   <td align="right">7487kB</td>
   <td><tt>173c9e6183e3be274c6d74efe9c8c5e87941beb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/konquest-22.08.3.tar.xz">konquest-22.08.3</a></td>
   <td align="right">843kB</td>
   <td><tt>caf29b24d463b63e59df7ca39d241f2d2bc23849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/konsole-22.08.3.tar.xz">konsole-22.08.3</a></td>
   <td align="right">1468kB</td>
   <td><tt>8795485534ffa88837499de53a52f8a3cebcd7e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kontact-22.08.3.tar.xz">kontact-22.08.3</a></td>
   <td align="right">805kB</td>
   <td><tt>f6ef56b273f1e0addf5b99e731ea144827804148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kontactinterface-22.08.3.tar.xz">kontactinterface-22.08.3</a></td>
   <td align="right">39kB</td>
   <td><tt>ca52392f4b1418e7eb973e269cfb15fade12c941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kontrast-22.08.3.tar.xz">kontrast-22.08.3</a></td>
   <td align="right">125kB</td>
   <td><tt>c884b5c3a7288d8e1c7383def8a2e1ffb4cde4eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/konversation-22.08.3.tar.xz">konversation-22.08.3</a></td>
   <td align="right">4185kB</td>
   <td><tt>63f985e9a192469a56bf2794230f032611d2be88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kopeninghours-22.08.3.tar.xz">kopeninghours-22.08.3</a></td>
   <td align="right">68kB</td>
   <td><tt>e85911357f514b5cfaa9fa71637744f3ea7aa256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kopete-22.08.3.tar.xz">kopete-22.08.3</a></td>
   <td align="right">9441kB</td>
   <td><tt>ae615a5e6269c43dc38e205006ee7f13dd1643b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/korganizer-22.08.3.tar.xz">korganizer-22.08.3</a></td>
   <td align="right">2269kB</td>
   <td><tt>dc51057672c8401af742dac7b4ce0cd6d8ef0696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kosmindoormap-22.08.3.tar.xz">kosmindoormap-22.08.3</a></td>
   <td align="right">350kB</td>
   <td><tt>be5a57572dff9f4dc14431f74d27bf76e94b676f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kpat-22.08.3.tar.xz">kpat-22.08.3</a></td>
   <td align="right">3644kB</td>
   <td><tt>e351fe9b3d5ae7d1a35fdbeb6c72cc055ac2c498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kpimtextedit-22.08.3.tar.xz">kpimtextedit-22.08.3</a></td>
   <td align="right">211kB</td>
   <td><tt>760bd07b061d5d417241add2b0346a7ce3b0d25f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kpkpass-22.08.3.tar.xz">kpkpass-22.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>8cb76da01cc6afcc4f90ffd249d17997eef55614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kpmcore-22.08.3.tar.xz">kpmcore-22.08.3</a></td>
   <td align="right">585kB</td>
   <td><tt>b680cacf80190da9d2e1f65a89d73e99dfac88be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kpublictransport-22.08.3.tar.xz">kpublictransport-22.08.3</a></td>
   <td align="right">478kB</td>
   <td><tt>e202ee05d0a87d8a4c3a27966bf4510646f1473f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kqtquickcharts-22.08.3.tar.xz">kqtquickcharts-22.08.3</a></td>
   <td align="right">29kB</td>
   <td><tt>7fddf55ce93ca71410b20bc1947c378b6d081a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/krdc-22.08.3.tar.xz">krdc-22.08.3</a></td>
   <td align="right">1541kB</td>
   <td><tt>d2e1bfed2b42e6e3da6ca7747fcd91560a461a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kreversi-22.08.3.tar.xz">kreversi-22.08.3</a></td>
   <td align="right">1038kB</td>
   <td><tt>28d9cbd29cf8b2fbb8a2c655b129506c04c09303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/krfb-22.08.3.tar.xz">krfb-22.08.3</a></td>
   <td align="right">1265kB</td>
   <td><tt>fd43457be70d12a5f2b2bc4cd93370478382177f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kross-interpreters-22.08.3.tar.xz">kross-interpreters-22.08.3</a></td>
   <td align="right">148kB</td>
   <td><tt>c02e865050ca4200bdcdfd2693a298223c35aa16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kruler-22.08.3.tar.xz">kruler-22.08.3</a></td>
   <td align="right">270kB</td>
   <td><tt>1aa870fcb35c384ad746560e29ff89bb1e1692ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ksanecore-22.08.3.tar.xz">ksanecore-22.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>f1552f5eeb6cc6aa2d918a6d7cb1d238b329bba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kshisen-22.08.3.tar.xz">kshisen-22.08.3</a></td>
   <td align="right">970kB</td>
   <td><tt>ab462f6753efd46cdacef63a44acc087d26f397c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ksirk-22.08.3.tar.xz">ksirk-22.08.3</a></td>
   <td align="right">6851kB</td>
   <td><tt>2f282469532e0e942e5c5c89eaca5949902cfcd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ksmtp-22.08.3.tar.xz">ksmtp-22.08.3</a></td>
   <td align="right">47kB</td>
   <td><tt>b824fff5385c157473bdc25a21e139653ed8d004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ksnakeduel-22.08.3.tar.xz">ksnakeduel-22.08.3</a></td>
   <td align="right">593kB</td>
   <td><tt>47ab044f3ec89b07c3090db97780868482c8a528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kspaceduel-22.08.3.tar.xz">kspaceduel-22.08.3</a></td>
   <td align="right">636kB</td>
   <td><tt>11211136f399695d689dd488b3d856b01a03a523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ksquares-22.08.3.tar.xz">ksquares-22.08.3</a></td>
   <td align="right">301kB</td>
   <td><tt>efcbee1162886ba45405b88c6f31e3f2fbae56a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ksudoku-22.08.3.tar.xz">ksudoku-22.08.3</a></td>
   <td align="right">1650kB</td>
   <td><tt>f905cc510d9ca37108d9dc0e446cd21e5d6565ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ksystemlog-22.08.3.tar.xz">ksystemlog-22.08.3</a></td>
   <td align="right">1923kB</td>
   <td><tt>8b11b09029483317ce38b7377883ec34f410d36e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kteatime-22.08.3.tar.xz">kteatime-22.08.3</a></td>
   <td align="right">295kB</td>
   <td><tt>b4a868b13342d5ef5a4118e990e1cf7a4e39db80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktimer-22.08.3.tar.xz">ktimer-22.08.3</a></td>
   <td align="right">386kB</td>
   <td><tt>ce54cfe318a420a62b3dfc9032ae771956b96ce4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktnef-22.08.3.tar.xz">ktnef-22.08.3</a></td>
   <td align="right">296kB</td>
   <td><tt>6478828c35ba6e550a97a12f202e74f53d35a739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktorrent-22.08.3.tar.xz">ktorrent-22.08.3</a></td>
   <td align="right">2009kB</td>
   <td><tt>bc0ece10d0455df200ba4ebd99f0280decf4e7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktouch-22.08.3.tar.xz">ktouch-22.08.3</a></td>
   <td align="right">4872kB</td>
   <td><tt>20f57399b91d86c64094f4bfd11dc332c6bfb8e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-accounts-kcm-22.08.3.tar.xz">ktp-accounts-kcm-22.08.3</a></td>
   <td align="right">260kB</td>
   <td><tt>0c9bac4577987054299b026a35fd23558125e676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-approver-22.08.3.tar.xz">ktp-approver-22.08.3</a></td>
   <td align="right">37kB</td>
   <td><tt>02f962745e638fb0a85c8f893a50ff651c7dec40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-auth-handler-22.08.3.tar.xz">ktp-auth-handler-22.08.3</a></td>
   <td align="right">46kB</td>
   <td><tt>a6b0ed6b91897bfeaa9886c0f3b6b30fa21761db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-call-ui-22.08.3.tar.xz">ktp-call-ui-22.08.3</a></td>
   <td align="right">96kB</td>
   <td><tt>e7fe7dd6cceb3cae5fb3694215d658c40492047a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-common-internals-22.08.3.tar.xz">ktp-common-internals-22.08.3</a></td>
   <td align="right">441kB</td>
   <td><tt>28b2476be16bb675bc545516ca4a6eb4a69b0d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-contact-list-22.08.3.tar.xz">ktp-contact-list-22.08.3</a></td>
   <td align="right">152kB</td>
   <td><tt>22cfdad1166024b54b235716b581e0bcd3f2e900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-contact-runner-22.08.3.tar.xz">ktp-contact-runner-22.08.3</a></td>
   <td align="right">43kB</td>
   <td><tt>6f8b0e8ebec20a62c3d905eec9886a34af956177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-desktop-applets-22.08.3.tar.xz">ktp-desktop-applets-22.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>59501b0142f48578bdab01dc0b2d9cf836d41a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-filetransfer-handler-22.08.3.tar.xz">ktp-filetransfer-handler-22.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>bdd09f7ca58d69812f12442bd65a75d4d63c2367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-kded-module-22.08.3.tar.xz">ktp-kded-module-22.08.3</a></td>
   <td align="right">98kB</td>
   <td><tt>7866a0133f9af57b66a3f75642022d52762c212c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-send-file-22.08.3.tar.xz">ktp-send-file-22.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>170026a91a3221621c88725680283d560fb5e492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktp-text-ui-22.08.3.tar.xz">ktp-text-ui-22.08.3</a></td>
   <td align="right">464kB</td>
   <td><tt>4db4cb7ca038d2115e461bc070f9b8330a4d7249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/ktuberling-22.08.3.tar.xz">ktuberling-22.08.3</a></td>
   <td align="right">69757kB</td>
   <td><tt>ea40898ec61daff1a8397fb963e16119e5832a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kturtle-22.08.3.tar.xz">kturtle-22.08.3</a></td>
   <td align="right">1921kB</td>
   <td><tt>57d1d6d7f5a59fdf6425eaaddc97055fd547b3ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kubrick-22.08.3.tar.xz">kubrick-22.08.3</a></td>
   <td align="right">333kB</td>
   <td><tt>cbda5d9ec2fa5c6d245fb854ba73a25a739db61d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kwalletmanager-22.08.3.tar.xz">kwalletmanager-22.08.3</a></td>
   <td align="right">785kB</td>
   <td><tt>c2786ad231bdc44fc9ab7fa0d1c7e92a466a668a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kwave-22.08.3.tar.xz">kwave-22.08.3</a></td>
   <td align="right">6794kB</td>
   <td><tt>d325fcf9f7a1921b99148ce0c232b70baf49751b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/kwordquiz-22.08.3.tar.xz">kwordquiz-22.08.3</a></td>
   <td align="right">4118kB</td>
   <td><tt>19429695e4c41804ae645bf821938d447cc3f538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libgravatar-22.08.3.tar.xz">libgravatar-22.08.3</a></td>
   <td align="right">35kB</td>
   <td><tt>94798eb12edb4e8af31787f14edcfc251e2f0d1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkcddb-22.08.3.tar.xz">libkcddb-22.08.3</a></td>
   <td align="right">425kB</td>
   <td><tt>a00cea772b708724452ff7dbea220b5f587dbcde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkcompactdisc-22.08.3.tar.xz">libkcompactdisc-22.08.3</a></td>
   <td align="right">95kB</td>
   <td><tt>25dd474a10a46c7ae61fe21695b9bfcd02fd8e4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkdcraw-22.08.3.tar.xz">libkdcraw-22.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>202cd81cedea413684a55f5e7e58877a8f895b37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkdegames-22.08.3.tar.xz">libkdegames-22.08.3</a></td>
   <td align="right">5844kB</td>
   <td><tt>42072856a5049113805a8dba6b3bfb614ee46470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkdepim-22.08.3.tar.xz">libkdepim-22.08.3</a></td>
   <td align="right">243kB</td>
   <td><tt>f0ba0e97be94d79e90c1ab42a080e276851c987b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkeduvocdocument-22.08.3.tar.xz">libkeduvocdocument-22.08.3</a></td>
   <td align="right">209kB</td>
   <td><tt>4c155e579cb57c1c29c4efe0e7096c83fbf354d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkexiv2-22.08.3.tar.xz">libkexiv2-22.08.3</a></td>
   <td align="right">58kB</td>
   <td><tt>6ca5a051d9edd52cdb21a46d63228abf7f3193e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkgapi-22.08.3.tar.xz">libkgapi-22.08.3</a></td>
   <td align="right">236kB</td>
   <td><tt>2f5029f7e7e8fdb091d689acb6802afe84e8cf30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkipi-22.08.3.tar.xz">libkipi-22.08.3</a></td>
   <td align="right">86kB</td>
   <td><tt>4ec840875d85e68504e405a626f43aff9d51880f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkleo-22.08.3.tar.xz">libkleo-22.08.3</a></td>
   <td align="right">458kB</td>
   <td><tt>61d7a9dc39b5fe50249f8dab07290a5d0986a424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkmahjongg-22.08.3.tar.xz">libkmahjongg-22.08.3</a></td>
   <td align="right">1646kB</td>
   <td><tt>ce49697ca94fb1884213d4d44839bf16940d8403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libkomparediff2-22.08.3.tar.xz">libkomparediff2-22.08.3</a></td>
   <td align="right">165kB</td>
   <td><tt>3bdc938608a54ad7ab2b045cdf052b59602c6f30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libksane-22.08.3.tar.xz">libksane-22.08.3</a></td>
   <td align="right">144kB</td>
   <td><tt>ca87e671a01420d389d9acaaed61b84701f3a18d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libksieve-22.08.3.tar.xz">libksieve-22.08.3</a></td>
   <td align="right">563kB</td>
   <td><tt>840cd344917202052771846628ec606cf71cbe83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/libktorrent-22.08.3.tar.xz">libktorrent-22.08.3</a></td>
   <td align="right">581kB</td>
   <td><tt>9699babe349d4d2248cc0cca695274d9141cc7a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/lokalize-22.08.3.tar.xz">lokalize-22.08.3</a></td>
   <td align="right">2022kB</td>
   <td><tt>b46d001c4d235115ddfd82ca1ce76aaf90d70627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/lskat-22.08.3.tar.xz">lskat-22.08.3</a></td>
   <td align="right">1206kB</td>
   <td><tt>0880eed506c9e90e74fde641c76d65979c76d53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/mailcommon-22.08.3.tar.xz">mailcommon-22.08.3</a></td>
   <td align="right">728kB</td>
   <td><tt>f16e921bc44dc74b0995ef846de60fd0e060b621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/mailimporter-22.08.3.tar.xz">mailimporter-22.08.3</a></td>
   <td align="right">547kB</td>
   <td><tt>7b37c1e901cc483d7baec901579c117177d88a5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/marble-22.08.3.tar.xz">marble-22.08.3</a></td>
   <td align="right">52417kB</td>
   <td><tt>76aa2102a3a7a169248e8dc5c93fb2b8b09df0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/markdownpart-22.08.3.tar.xz">markdownpart-22.08.3</a></td>
   <td align="right">29kB</td>
   <td><tt>6cf778b2e62cd49b2d7db3ba1da6ea66ec9f8d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/mbox-importer-22.08.3.tar.xz">mbox-importer-22.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>53d9f6f8f229a7628ce04d0c9e7f15dff5655686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/messagelib-22.08.3.tar.xz">messagelib-22.08.3</a></td>
   <td align="right">10525kB</td>
   <td><tt>928411398676d6fb112047f1323b86e8c7b3d9fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/minuet-22.08.3.tar.xz">minuet-22.08.3</a></td>
   <td align="right">27030kB</td>
   <td><tt>abcf3246f576d09b6b390477666e11db010ddfbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/okular-22.08.3.tar.xz">okular-22.08.3</a></td>
   <td align="right">8033kB</td>
   <td><tt>6ac511e42b6766b209d1fa00660d4b36bcb59641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/palapeli-22.08.3.tar.xz">palapeli-22.08.3</a></td>
   <td align="right">2052kB</td>
   <td><tt>64bb7fba897da0ec21bc70cf51760e3059d629a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/parley-22.08.3.tar.xz">parley-22.08.3</a></td>
   <td align="right">8285kB</td>
   <td><tt>32fe8593e14ddbf40c690e68b74eddd15abf8645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/partitionmanager-22.08.3.tar.xz">partitionmanager-22.08.3</a></td>
   <td align="right">2052kB</td>
   <td><tt>27980e6b84c3984f8afe0ddd2eddab78aa6ed062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/picmi-22.08.3.tar.xz">picmi-22.08.3</a></td>
   <td align="right">1502kB</td>
   <td><tt>e8c75959914c1fc15f9b3e86906a1232d0b130a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/pimcommon-22.08.3.tar.xz">pimcommon-22.08.3</a></td>
   <td align="right">362kB</td>
   <td><tt>5753843e3e3b8f7f2114a1ef8642f957f708b29a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/pim-data-exporter-22.08.3.tar.xz">pim-data-exporter-22.08.3</a></td>
   <td align="right">406kB</td>
   <td><tt>9bb4cef5fb1b9a95890271c71f747ab7266b6a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/pim-sieve-editor-22.08.3.tar.xz">pim-sieve-editor-22.08.3</a></td>
   <td align="right">447kB</td>
   <td><tt>c08d0c0009fa2cd22f87ff3a5577df875205f190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/poxml-22.08.3.tar.xz">poxml-22.08.3</a></td>
   <td align="right">43kB</td>
   <td><tt>9c2c9659ba10e10366417b2579c4377b4c8e9c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/print-manager-22.08.3.tar.xz">print-manager-22.08.3</a></td>
   <td align="right">272kB</td>
   <td><tt>3cff446b1c78cdfa4160b890d4e87af74e502556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/rocs-22.08.3.tar.xz">rocs-22.08.3</a></td>
   <td align="right">1527kB</td>
   <td><tt>a76179203daf517206ed154eadd2760aaf0b2b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/signon-kwallet-extension-22.08.3.tar.xz">signon-kwallet-extension-22.08.3</a></td>
   <td align="right">10kB</td>
   <td><tt>ec840a7bc280a68d9fd395675157571cf1b09060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/skanlite-22.08.3.tar.xz">skanlite-22.08.3</a></td>
   <td align="right">2384kB</td>
   <td><tt>be3137378838948eea758e226205a7f332201d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/skanpage-22.08.3.tar.xz">skanpage-22.08.3</a></td>
   <td align="right">1260kB</td>
   <td><tt>f63649f04a3ef0e248915f43bdaf45eb2026988c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/spectacle-22.08.3.tar.xz">spectacle-22.08.3</a></td>
   <td align="right">1225kB</td>
   <td><tt>67f8231357606cc508a0505b3c4c1ed7915186df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/step-22.08.3.tar.xz">step-22.08.3</a></td>
   <td align="right">916kB</td>
   <td><tt>b02e582473bebad78c5ea2bcbf283876c331ea31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/svgpart-22.08.3.tar.xz">svgpart-22.08.3</a></td>
   <td align="right">26kB</td>
   <td><tt>a4cb1d82a11d2eac6daf1820d3b502256320f998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/sweeper-22.08.3.tar.xz">sweeper-22.08.3</a></td>
   <td align="right">369kB</td>
   <td><tt>b0125051c1b9c3a7f3265bc6eb89e2a1830fda12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/umbrello-22.08.3.tar.xz">umbrello-22.08.3</a></td>
   <td align="right">5554kB</td>
   <td><tt>1e731cf45cc0165b8227adb943e860aae6b03c51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/yakuake-22.08.3.tar.xz">yakuake-22.08.3</a></td>
   <td align="right">404kB</td>
   <td><tt>e599c2401f4824a7b57bbe6dfcadd19e78b04dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.3/src/zanshin-22.08.3.tar.xz">zanshin-22.08.3</a></td>
   <td align="right">346kB</td>
   <td><tt>f256f87a002ab1679146362ee9860bda7a4eecf0</tt></td>
</tr>

</table>
