<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akonadi-22.12.2.tar.xz">akonadi-22.12.2</a></td>
   <td align="right">1622kB</td>
   <td><tt>adc82b873c6874d556a7640adffd8cc08513a326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akonadi-calendar-22.12.2.tar.xz">akonadi-calendar-22.12.2</a></td>
   <td align="right">400kB</td>
   <td><tt>5553c27077e06b73f50ccb7f47c5fc90d24ff8b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akonadi-calendar-tools-22.12.2.tar.xz">akonadi-calendar-tools-22.12.2</a></td>
   <td align="right">248kB</td>
   <td><tt>d142331bc976245123757d10bff4189142ecfcba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akonadiconsole-22.12.2.tar.xz">akonadiconsole-22.12.2</a></td>
   <td align="right">195kB</td>
   <td><tt>704b0ffc8db4a608804d4451582e13abb3850473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akonadi-contacts-22.12.2.tar.xz">akonadi-contacts-22.12.2</a></td>
   <td align="right">429kB</td>
   <td><tt>e6dfecf34ec8b09873f96555838bbf02cce7280d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akonadi-import-wizard-22.12.2.tar.xz">akonadi-import-wizard-22.12.2</a></td>
   <td align="right">502kB</td>
   <td><tt>5af9e4abf88e2138b553e4f8b7e18b7fedea1206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akonadi-mime-22.12.2.tar.xz">akonadi-mime-22.12.2</a></td>
   <td align="right">150kB</td>
   <td><tt>286ce2d6584b1924f7d32deadcd4f67d3f9c0d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akonadi-notes-22.12.2.tar.xz">akonadi-notes-22.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>baef509c3fa7617185e9233e2fa85db21936a803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akonadi-search-22.12.2.tar.xz">akonadi-search-22.12.2</a></td>
   <td align="right">99kB</td>
   <td><tt>0b29b97d03d9908aa01bfa7521486d57330e4778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/akregator-22.12.2.tar.xz">akregator-22.12.2</a></td>
   <td align="right">2268kB</td>
   <td><tt>41024cb7d6c7736622c472e5b2a74937f23a4d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/analitza-22.12.2.tar.xz">analitza-22.12.2</a></td>
   <td align="right">344kB</td>
   <td><tt>139b95c567dff6ae48daf5d2b8dbc412308e9d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ark-22.12.2.tar.xz">ark-22.12.2</a></td>
   <td align="right">2807kB</td>
   <td><tt>8809540d6d1311ca06cb404e739cc72e45d037b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/artikulate-22.12.2.tar.xz">artikulate-22.12.2</a></td>
   <td align="right">1068kB</td>
   <td><tt>6c191f3d399e446ab67fc83ef270220e9a3cdf17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/audiocd-kio-22.12.2.tar.xz">audiocd-kio-22.12.2</a></td>
   <td align="right">548kB</td>
   <td><tt>0e01d20aeb872b20f5f1dd75c9bec239ec5ee328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/baloo-widgets-22.12.2.tar.xz">baloo-widgets-22.12.2</a></td>
   <td align="right">268kB</td>
   <td><tt>564a8b1060dbef1ba5ebdbc492e6144289490c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/blinken-22.12.2.tar.xz">blinken-22.12.2</a></td>
   <td align="right">2659kB</td>
   <td><tt>98e912a3f17637aa6d9e75c45650d3589542c312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/bomber-22.12.2.tar.xz">bomber-22.12.2</a></td>
   <td align="right">818kB</td>
   <td><tt>efccaeaf38747bf28afb305e27e74d48db15b68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/bovo-22.12.2.tar.xz">bovo-22.12.2</a></td>
   <td align="right">209kB</td>
   <td><tt>24930f3b9f30d8dbd6e24e4b61d2811afe35360a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/calendarsupport-22.12.2.tar.xz">calendarsupport-22.12.2</a></td>
   <td align="right">964kB</td>
   <td><tt>ee722ee750e2bf8f89de0f7c84f90d4050e2a2df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/cantor-22.12.2.tar.xz">cantor-22.12.2</a></td>
   <td align="right">9034kB</td>
   <td><tt>d87361745f78f1d3f7f43afced82db86b9029651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/cervisia-22.12.2.tar.xz">cervisia-22.12.2</a></td>
   <td align="right">1898kB</td>
   <td><tt>d3d19e9d58d859fa1ccc34fa6746076260c80c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/colord-kde-22.12.2.tar.xz">colord-kde-22.12.2</a></td>
   <td align="right">108kB</td>
   <td><tt>e3ed68775a1ceae8f0d761a960468933c237eafe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/dolphin-22.12.2.tar.xz">dolphin-22.12.2</a></td>
   <td align="right">5558kB</td>
   <td><tt>2e28bef74edf0071a61ab674f69c0b1ba08dfd1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/dolphin-plugins-22.12.2.tar.xz">dolphin-plugins-22.12.2</a></td>
   <td align="right">265kB</td>
   <td><tt>2371d49f53806115d4e0b91c5b09e7e426db0d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/dragon-22.12.2.tar.xz">dragon-22.12.2</a></td>
   <td align="right">1637kB</td>
   <td><tt>69a1205683e69bf65ae77faed51af800fb127455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/elisa-22.12.2.tar.xz">elisa-22.12.2</a></td>
   <td align="right">1756kB</td>
   <td><tt>b4f0c95842efeb4def8d572bd459d546d702b9d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/eventviews-22.12.2.tar.xz">eventviews-22.12.2</a></td>
   <td align="right">452kB</td>
   <td><tt>f0a526c50f9b3baaa58eabbce8b9d384942d2bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/falkon-22.12.2.tar.xz">falkon-22.12.2</a></td>
   <td align="right">2487kB</td>
   <td><tt>49d2c7d1395b49694adeb0147d2de37fd420ed94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ffmpegthumbs-22.12.2.tar.xz">ffmpegthumbs-22.12.2</a></td>
   <td align="right">30kB</td>
   <td><tt>ef48a5635df003a8ccaab85dcec556e62771d27f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/filelight-22.12.2.tar.xz">filelight-22.12.2</a></td>
   <td align="right">684kB</td>
   <td><tt>4b7585fbc36090f54e79fc486840d8ef284b1969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/granatier-22.12.2.tar.xz">granatier-22.12.2</a></td>
   <td align="right">2062kB</td>
   <td><tt>288ed09123ed6ecae0ee5a43b8dfb422381a16a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/grantlee-editor-22.12.2.tar.xz">grantlee-editor-22.12.2</a></td>
   <td align="right">114kB</td>
   <td><tt>d1afefbf64b16435b85b5b8623d2db9b71c33d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/grantleetheme-22.12.2.tar.xz">grantleetheme-22.12.2</a></td>
   <td align="right">60kB</td>
   <td><tt>6e5d24872b1999c660c316a9c00d4b6b3e1e18fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/gwenview-22.12.2.tar.xz">gwenview-22.12.2</a></td>
   <td align="right">6716kB</td>
   <td><tt>cd1da2684eb272238c4c42971615c26151839b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/incidenceeditor-22.12.2.tar.xz">incidenceeditor-22.12.2</a></td>
   <td align="right">551kB</td>
   <td><tt>ff517e14cf249ae0a591ed8e10d4c54a7f6754e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/itinerary-22.12.2.tar.xz">itinerary-22.12.2</a></td>
   <td align="right">566kB</td>
   <td><tt>93883844187320aa3d2b6888000a4488a1fa5569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/juk-22.12.2.tar.xz">juk-22.12.2</a></td>
   <td align="right">2026kB</td>
   <td><tt>14cabe7c2778e14a3de61f7e8d845ad6252e6f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/k3b-22.12.2.tar.xz">k3b-22.12.2</a></td>
   <td align="right">10691kB</td>
   <td><tt>913c13838c10b728aa9fa1a6c93c30be62a45275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kaccounts-integration-22.12.2.tar.xz">kaccounts-integration-22.12.2</a></td>
   <td align="right">86kB</td>
   <td><tt>019ecb3d2bfa7d00761891066f0d1ca8daff73ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kaccounts-providers-22.12.2.tar.xz">kaccounts-providers-22.12.2</a></td>
   <td align="right">64kB</td>
   <td><tt>e089f3298765dc7503fa4c7b25e7c23b8b025a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kaddressbook-22.12.2.tar.xz">kaddressbook-22.12.2</a></td>
   <td align="right">3377kB</td>
   <td><tt>0e90a9694b9cd4492c9cc043da6b85ce2b83ecba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kajongg-22.12.2.tar.xz">kajongg-22.12.2</a></td>
   <td align="right">4468kB</td>
   <td><tt>628cd818b85e1f8e68c77543c1a3c3781f0717e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kalarm-22.12.2.tar.xz">kalarm-22.12.2</a></td>
   <td align="right">2518kB</td>
   <td><tt>40f56e612c09b21e128a8e38fa06a44a5663c912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kalendar-22.12.2.tar.xz">kalendar-22.12.2</a></td>
   <td align="right">783kB</td>
   <td><tt>1e6b930d90534a8a7cdb8d4d3178b956fbf44416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kalgebra-22.12.2.tar.xz">kalgebra-22.12.2</a></td>
   <td align="right">1011kB</td>
   <td><tt>3da83eb836f0ffcf5c4ac2485f394a07d3470dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kalzium-22.12.2.tar.xz">kalzium-22.12.2</a></td>
   <td align="right">24063kB</td>
   <td><tt>809babfcc022be5df0c7d73bca70608aa02dbe64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kamera-22.12.2.tar.xz">kamera-22.12.2</a></td>
   <td align="right">128kB</td>
   <td><tt>302f8c016ce76cd30604f272fd0dac064f47b9c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kamoso-22.12.2.tar.xz">kamoso-22.12.2</a></td>
   <td align="right">223kB</td>
   <td><tt>11dbbb8f432855a6369e4e4c51bd439e2861778b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kanagram-22.12.2.tar.xz">kanagram-22.12.2</a></td>
   <td align="right">7874kB</td>
   <td><tt>db56f2d4a851df4684e888705838c13e5cf23da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kapman-22.12.2.tar.xz">kapman-22.12.2</a></td>
   <td align="right">2422kB</td>
   <td><tt>d61900d23729f9bc44fc1c9e05a320351f6e69d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kapptemplate-22.12.2.tar.xz">kapptemplate-22.12.2</a></td>
   <td align="right">331kB</td>
   <td><tt>88db8076d4a8cd50f1ee07145d5ecbe83d62c0df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kate-22.12.2.tar.xz">kate-22.12.2</a></td>
   <td align="right">7701kB</td>
   <td><tt>f453e0fec457c9f4a864d79e8c0ca19f3c34afc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/katomic-22.12.2.tar.xz">katomic-22.12.2</a></td>
   <td align="right">1416kB</td>
   <td><tt>6faa5500df75b21d75bd73752976bb6b0f060646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kbackup-22.12.2.tar.xz">kbackup-22.12.2</a></td>
   <td align="right">385kB</td>
   <td><tt>2b13e8fe090f7aa86150a75df40baf9174f28d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kblackbox-22.12.2.tar.xz">kblackbox-22.12.2</a></td>
   <td align="right">537kB</td>
   <td><tt>4cec19859a167b5b5fa050317094d2a42ff094ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kblocks-22.12.2.tar.xz">kblocks-22.12.2</a></td>
   <td align="right">2058kB</td>
   <td><tt>3834ab7593d3fa238a26e28f518ec72d9c4354bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kbounce-22.12.2.tar.xz">kbounce-22.12.2</a></td>
   <td align="right">3460kB</td>
   <td><tt>de64953ad4e3de8468c5da8006a2cf6b5fccb7da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kbreakout-22.12.2.tar.xz">kbreakout-22.12.2</a></td>
   <td align="right">2498kB</td>
   <td><tt>571ae25c926383aca7adbc8dc332d84be4a514af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kbruch-22.12.2.tar.xz">kbruch-22.12.2</a></td>
   <td align="right">5522kB</td>
   <td><tt>77f9237fe581a55be03b1bea473816097d1a0b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kcachegrind-22.12.2.tar.xz">kcachegrind-22.12.2</a></td>
   <td align="right">887kB</td>
   <td><tt>9caa1c780ac2b256d5cda4814bf1efc8defaacd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kcalc-22.12.2.tar.xz">kcalc-22.12.2</a></td>
   <td align="right">424kB</td>
   <td><tt>f98ab25b5c5423fa8b860d3fd1742681d98c722b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kcalutils-22.12.2.tar.xz">kcalutils-22.12.2</a></td>
   <td align="right">349kB</td>
   <td><tt>3237897afe98cbdecd9abdc53de4eac704b8408a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kcharselect-22.12.2.tar.xz">kcharselect-22.12.2</a></td>
   <td align="right">372kB</td>
   <td><tt>536aeb9c83b6dea85c7736c0849b1896920c11fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kcolorchooser-22.12.2.tar.xz">kcolorchooser-22.12.2</a></td>
   <td align="right">31kB</td>
   <td><tt>53a8866250fadd423586e372ec8ddb99540bb36d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kcron-22.12.2.tar.xz">kcron-22.12.2</a></td>
   <td align="right">920kB</td>
   <td><tt>3079fa769ed9a7a374e8aa860250804be89dd099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdebugsettings-22.12.2.tar.xz">kdebugsettings-22.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>d399c93e67eda8c8c9d536dc678c39c9480ef96a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdeconnect-kde-22.12.2.tar.xz">kdeconnect-kde-22.12.2</a></td>
   <td align="right">623kB</td>
   <td><tt>1bd0002cf97243f519b2a984e262261458832fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kde-dev-scripts-22.12.2.tar.xz">kde-dev-scripts-22.12.2</a></td>
   <td align="right">364kB</td>
   <td><tt>1d4a51ddd4788059f159a9f785fc775c977d20ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kde-dev-utils-22.12.2.tar.xz">kde-dev-utils-22.12.2</a></td>
   <td align="right">70kB</td>
   <td><tt>76a36f47360127c7c0e9240f613e18d703215ffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdeedu-data-22.12.2.tar.xz">kdeedu-data-22.12.2</a></td>
   <td align="right">325kB</td>
   <td><tt>90cefc8c07dfd4ea7e67ea5f9c257a55f9439581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdegraphics-mobipocket-22.12.2.tar.xz">kdegraphics-mobipocket-22.12.2</a></td>
   <td align="right">12kB</td>
   <td><tt>4113554f163ee0a9375d5d4c2dc9970529d90d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdegraphics-thumbnailers-22.12.2.tar.xz">kdegraphics-thumbnailers-22.12.2</a></td>
   <td align="right">47kB</td>
   <td><tt>90009ea291bcb7a43e28e56e5a722bac549c7990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdenetwork-filesharing-22.12.2.tar.xz">kdenetwork-filesharing-22.12.2</a></td>
   <td align="right">453kB</td>
   <td><tt>cf1478018b738578c86a1466d34b60b8349570b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdenlive-22.12.2.tar.xz">kdenlive-22.12.2</a></td>
   <td align="right">12236kB</td>
   <td><tt>7f07a6990db5a51332766231f75b9f5b2594e96a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdepim-addons-22.12.2.tar.xz">kdepim-addons-22.12.2</a></td>
   <td align="right">2603kB</td>
   <td><tt>bc7f8bb96e233af87163eb790ed934dfba37abfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdepim-runtime-22.12.2.tar.xz">kdepim-runtime-22.12.2</a></td>
   <td align="right">1812kB</td>
   <td><tt>2ff1ff6690e02a846524641425602189157caa24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdesdk-kio-22.12.2.tar.xz">kdesdk-kio-22.12.2</a></td>
   <td align="right">39kB</td>
   <td><tt>ac574433812bb27bb2f8073bc4cad08299d20f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdesdk-thumbnailers-22.12.2.tar.xz">kdesdk-thumbnailers-22.12.2</a></td>
   <td align="right">26kB</td>
   <td><tt>14983877d7ae57bdefd7815023fe9c63f507f192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdevelop-22.12.2.tar.xz">kdevelop-22.12.2</a></td>
   <td align="right">8425kB</td>
   <td><tt>437f43c5b7dd29bae9086b7b427d0243d9257081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdev-php-22.12.2.tar.xz">kdev-php-22.12.2</a></td>
   <td align="right">1060kB</td>
   <td><tt>392b664d1f2dec4fc1f23e24548b516b5a96cb9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdev-python-22.12.2.tar.xz">kdev-python-22.12.2</a></td>
   <td align="right">1070kB</td>
   <td><tt>b4f04cf475cd131dc38a8546b472bb2d6391f6b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdf-22.12.2.tar.xz">kdf-22.12.2</a></td>
   <td align="right">481kB</td>
   <td><tt>4f88513f9681aa08404b1717e1cc9616984303f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdialog-22.12.2.tar.xz">kdialog-22.12.2</a></td>
   <td align="right">136kB</td>
   <td><tt>129f15d6ab69acac6b626642be434b3b88be5219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kdiamond-22.12.2.tar.xz">kdiamond-22.12.2</a></td>
   <td align="right">4597kB</td>
   <td><tt>e5384543670561c9b4891db121f24bfec0547037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/keditbookmarks-22.12.2.tar.xz">keditbookmarks-22.12.2</a></td>
   <td align="right">230kB</td>
   <td><tt>8a3980936586f7391050999b18a294badd590eec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kfind-22.12.2.tar.xz">kfind-22.12.2</a></td>
   <td align="right">332kB</td>
   <td><tt>aac66fbf1fe23cc1edd8219b70b4078178af24b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kfloppy-22.12.2.tar.xz">kfloppy-22.12.2</a></td>
   <td align="right">234kB</td>
   <td><tt>4371653d7faaacb7559494f4a60dfe067d0c1a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kfourinline-22.12.2.tar.xz">kfourinline-22.12.2</a></td>
   <td align="right">719kB</td>
   <td><tt>447ace80964d1bca4797f47eea49bdf8d28a18ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kgeography-22.12.2.tar.xz">kgeography-22.12.2</a></td>
   <td align="right">12259kB</td>
   <td><tt>56634a08978cba41c4727810ea783169a96707d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kget-22.12.2.tar.xz">kget-22.12.2</a></td>
   <td align="right">5432kB</td>
   <td><tt>b04322b9c45ea3c834a1a4a2cb2ff6b267caf7b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kgoldrunner-22.12.2.tar.xz">kgoldrunner-22.12.2</a></td>
   <td align="right">4786kB</td>
   <td><tt>e4038c2ada2a3e3359da10d66906d756d4ebf971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kgpg-22.12.2.tar.xz">kgpg-22.12.2</a></td>
   <td align="right">2969kB</td>
   <td><tt>84ec629a6c00f0f505c31fdadb3d3b094eaa8226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/khangman-22.12.2.tar.xz">khangman-22.12.2</a></td>
   <td align="right">7266kB</td>
   <td><tt>c195b2fe7d3c74f6aad24570988f918e810abc61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/khelpcenter-22.12.2.tar.xz">khelpcenter-22.12.2</a></td>
   <td align="right">4264kB</td>
   <td><tt>6dee58294a3dd332f3c32499c585c67bd9f20da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kidentitymanagement-22.12.2.tar.xz">kidentitymanagement-22.12.2</a></td>
   <td align="right">158kB</td>
   <td><tt>40bb01004bace9ae552187bb9b5d469164e7c5bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kig-22.12.2.tar.xz">kig-22.12.2</a></td>
   <td align="right">3199kB</td>
   <td><tt>00aead22c79559fee4f598464de1608f27b94d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kigo-22.12.2.tar.xz">kigo-22.12.2</a></td>
   <td align="right">5141kB</td>
   <td><tt>b7f4a588a0eabd67fd82011f4d8cbe0e5f1eae31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/killbots-22.12.2.tar.xz">killbots-22.12.2</a></td>
   <td align="right">1174kB</td>
   <td><tt>a5a73d717e09d4e46922e8692434d8034dd6503d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kimagemapeditor-22.12.2.tar.xz">kimagemapeditor-22.12.2</a></td>
   <td align="right">1077kB</td>
   <td><tt>c38d287f1c794c7ea7879729a0c58da9d619fd02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kimap-22.12.2.tar.xz">kimap-22.12.2</a></td>
   <td align="right">129kB</td>
   <td><tt>22d23fea7fdcf9f6f732de86bc24eeaaf84b669e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kio-extras-22.12.2.tar.xz">kio-extras-22.12.2</a></td>
   <td align="right">1365kB</td>
   <td><tt>811460a32e769a63fdf1f173b134522557a97d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kio-gdrive-22.12.2.tar.xz">kio-gdrive-22.12.2</a></td>
   <td align="right">75kB</td>
   <td><tt>1b0a0c2f8ade74f897012ac987fa61621db929df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kio-zeroconf-22.12.2.tar.xz">kio-zeroconf-22.12.2</a></td>
   <td align="right">41kB</td>
   <td><tt>1e8bd648991da3ce46380c2e73071168e2cb630f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kipi-plugins-22.12.2.tar.xz">kipi-plugins-22.12.2</a></td>
   <td align="right">1525kB</td>
   <td><tt>f1b893d4cb1eaaaa069c644cad5e354901b7734b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kirigami-gallery-22.12.2.tar.xz">kirigami-gallery-22.12.2</a></td>
   <td align="right">341kB</td>
   <td><tt>5d47aa103b1ac4d3962fed0084089441a2e19d9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kiriki-22.12.2.tar.xz">kiriki-22.12.2</a></td>
   <td align="right">360kB</td>
   <td><tt>475db7b2078e6aafdec72bc5e7a44de3ebe2c7a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kiten-22.12.2.tar.xz">kiten-22.12.2</a></td>
   <td align="right">11068kB</td>
   <td><tt>8d8e256b2f7c5fc740a17321f7779e600cfb6f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kitinerary-22.12.2.tar.xz">kitinerary-22.12.2</a></td>
   <td align="right">1688kB</td>
   <td><tt>56dbbd08fde7c5c2656197bdb550ba8117a0a9ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kjumpingcube-22.12.2.tar.xz">kjumpingcube-22.12.2</a></td>
   <td align="right">328kB</td>
   <td><tt>1e6d4dbd999106f96d050d821a39a4e281e2527d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kldap-22.12.2.tar.xz">kldap-22.12.2</a></td>
   <td align="right">177kB</td>
   <td><tt>90cb1ac794fc49247db96a7c48cd4519f756b9e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kleopatra-22.12.2.tar.xz">kleopatra-22.12.2</a></td>
   <td align="right">2516kB</td>
   <td><tt>16f3a69b941096cb27dc5b2f51e33198fb9695cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/klettres-22.12.2.tar.xz">klettres-22.12.2</a></td>
   <td align="right">46718kB</td>
   <td><tt>87d470500f009468a1418578f23b67862cfe4885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/klickety-22.12.2.tar.xz">klickety-22.12.2</a></td>
   <td align="right">1464kB</td>
   <td><tt>5c0d2a99002575b5ede3d785d7376328809c985c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/klines-22.12.2.tar.xz">klines-22.12.2</a></td>
   <td align="right">1697kB</td>
   <td><tt>a4c1475d4e77dbc74d9f9b7dee2988a379891b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmag-22.12.2.tar.xz">kmag-22.12.2</a></td>
   <td align="right">707kB</td>
   <td><tt>6b05edc76bd0ba417da2f2b5a4136a2efe7946ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmahjongg-22.12.2.tar.xz">kmahjongg-22.12.2</a></td>
   <td align="right">3999kB</td>
   <td><tt>72d7db51d9d4a05539cd5411a8e145635f447102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmail-22.12.2.tar.xz">kmail-22.12.2</a></td>
   <td align="right">7478kB</td>
   <td><tt>ce59a8e8f8ed261b375422a8cdb019b383ac26b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmail-account-wizard-22.12.2.tar.xz">kmail-account-wizard-22.12.2</a></td>
   <td align="right">179kB</td>
   <td><tt>3fe84b38a03bde7508e46a6780cae51f358972e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmailtransport-22.12.2.tar.xz">kmailtransport-22.12.2</a></td>
   <td align="right">186kB</td>
   <td><tt>3977aed65e90a16ea6a045f347d087487f373027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmbox-22.12.2.tar.xz">kmbox-22.12.2</a></td>
   <td align="right">28kB</td>
   <td><tt>9c00844395fe001068f9e277560b003ee3f2a94d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmime-22.12.2.tar.xz">kmime-22.12.2</a></td>
   <td align="right">158kB</td>
   <td><tt>592b70850ef5001f0c0cbc52c51ffd2a1a6c0137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmines-22.12.2.tar.xz">kmines-22.12.2</a></td>
   <td align="right">985kB</td>
   <td><tt>40b99adaef856ea0cdba1fdcc8a4ce9229eeb999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmix-22.12.2.tar.xz">kmix-22.12.2</a></td>
   <td align="right">1167kB</td>
   <td><tt>4498f95980baea109189174e3178a2f8ed70b4c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmousetool-22.12.2.tar.xz">kmousetool-22.12.2</a></td>
   <td align="right">126kB</td>
   <td><tt>bc64dc52bf9fa7c1e442b982feba8a1a54a40e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmouth-22.12.2.tar.xz">kmouth-22.12.2</a></td>
   <td align="right">2038kB</td>
   <td><tt>aaffe962668dfa618b051c5782c9ab4bb7c0c1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kmplot-22.12.2.tar.xz">kmplot-22.12.2</a></td>
   <td align="right">3025kB</td>
   <td><tt>ab5768d5e9be6092306ab6a734de5b5666bb6198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/knavalbattle-22.12.2.tar.xz">knavalbattle-22.12.2</a></td>
   <td align="right">1368kB</td>
   <td><tt>c231c6a7081fd4ab38fea2abe94d661ac177174c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/knetwalk-22.12.2.tar.xz">knetwalk-22.12.2</a></td>
   <td align="right">1078kB</td>
   <td><tt>d2038f3e09a18f74105ba7b89a11694965075f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/knights-22.12.2.tar.xz">knights-22.12.2</a></td>
   <td align="right">3251kB</td>
   <td><tt>b5154bdb98b6a1440f081a920c5d386b312692ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/knotes-22.12.2.tar.xz">knotes-22.12.2</a></td>
   <td align="right">366kB</td>
   <td><tt>446904c1f48aecc77380bcb8e506bf0101bdeaa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kolf-22.12.2.tar.xz">kolf-22.12.2</a></td>
   <td align="right">1042kB</td>
   <td><tt>41fa60f9089f7977341a1a834dad6c1bf131c91d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kollision-22.12.2.tar.xz">kollision-22.12.2</a></td>
   <td align="right">299kB</td>
   <td><tt>ce33a722ff0b35dd754165ca21c050b4af0e2763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kolourpaint-22.12.2.tar.xz">kolourpaint-22.12.2</a></td>
   <td align="right">5649kB</td>
   <td><tt>799163fa98874044a39d6a83cfa60c701b7e15b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kompare-22.12.2.tar.xz">kompare-22.12.2</a></td>
   <td align="right">956kB</td>
   <td><tt>ef8144a2fb9a1be2dbc67b1e40390e5bb5384cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/konqueror-22.12.2.tar.xz">konqueror-22.12.2</a></td>
   <td align="right">8296kB</td>
   <td><tt>8e50cbdc8089f6ee9c4709e5de47829f4ccaf7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/konquest-22.12.2.tar.xz">konquest-22.12.2</a></td>
   <td align="right">855kB</td>
   <td><tt>d2dd957bfafa3ce13eac82d5990393dfa84b59b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/konsole-22.12.2.tar.xz">konsole-22.12.2</a></td>
   <td align="right">1737kB</td>
   <td><tt>807fc10ca31b16c62de3d668df01c5069c0f3925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kontact-22.12.2.tar.xz">kontact-22.12.2</a></td>
   <td align="right">851kB</td>
   <td><tt>b44b85879d16d3a527b63146613ae356198a3eea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kontactinterface-22.12.2.tar.xz">kontactinterface-22.12.2</a></td>
   <td align="right">38kB</td>
   <td><tt>c4c20f6a73ca0c7399442c5cb4c711ad983a733c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kontrast-22.12.2.tar.xz">kontrast-22.12.2</a></td>
   <td align="right">196kB</td>
   <td><tt>8c68a685221afa59908551ef96d835885f0e6360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/konversation-22.12.2.tar.xz">konversation-22.12.2</a></td>
   <td align="right">4347kB</td>
   <td><tt>67dff42f6602f96369d2cf74aa52525dc54b027c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kopeninghours-22.12.2.tar.xz">kopeninghours-22.12.2</a></td>
   <td align="right">69kB</td>
   <td><tt>49805453daef099839b593f06de593a248323b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kopete-22.12.2.tar.xz">kopete-22.12.2</a></td>
   <td align="right">10038kB</td>
   <td><tt>62b84ab8a8615198439327b5ae3757d027ee0863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/korganizer-22.12.2.tar.xz">korganizer-22.12.2</a></td>
   <td align="right">2514kB</td>
   <td><tt>04a3360fe783978c7dedd1d4641da884f36ff6f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kosmindoormap-22.12.2.tar.xz">kosmindoormap-22.12.2</a></td>
   <td align="right">354kB</td>
   <td><tt>9773fa0de60e52041d0bcf489cfb18c537db5764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kpat-22.12.2.tar.xz">kpat-22.12.2</a></td>
   <td align="right">3663kB</td>
   <td><tt>dc0632776c1a5b57c7f757ac5c0ededda3c308b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kpimtextedit-22.12.2.tar.xz">kpimtextedit-22.12.2</a></td>
   <td align="right">218kB</td>
   <td><tt>7258710342f518b27595c7dd9f3c3389f466d3f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kpkpass-22.12.2.tar.xz">kpkpass-22.12.2</a></td>
   <td align="right">28kB</td>
   <td><tt>60e10944d59c2ff7891e8ee8b3dc009b7573a763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kpmcore-22.12.2.tar.xz">kpmcore-22.12.2</a></td>
   <td align="right">603kB</td>
   <td><tt>4c37b95ad4b01b248f70bb463a007aa9a7338f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kpublictransport-22.12.2.tar.xz">kpublictransport-22.12.2</a></td>
   <td align="right">479kB</td>
   <td><tt>e5d044a7748c0232a419afbc17c93f602e15465f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kqtquickcharts-22.12.2.tar.xz">kqtquickcharts-22.12.2</a></td>
   <td align="right">30kB</td>
   <td><tt>024f753474db5812412ceae962ba75658bafcb8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/krdc-22.12.2.tar.xz">krdc-22.12.2</a></td>
   <td align="right">1593kB</td>
   <td><tt>5aee8d2d10ec1a9b373fd0e4cd563cd0cdf5314d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kreversi-22.12.2.tar.xz">kreversi-22.12.2</a></td>
   <td align="right">1052kB</td>
   <td><tt>e0b848950d396042d32187108a71af6d1d0cd224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/krfb-22.12.2.tar.xz">krfb-22.12.2</a></td>
   <td align="right">1291kB</td>
   <td><tt>8948710749f2d8992f60a4d6a66cbd447dbeb4ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kross-interpreters-22.12.2.tar.xz">kross-interpreters-22.12.2</a></td>
   <td align="right">148kB</td>
   <td><tt>ec933cefef176ea15490700a783762dae05c3176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kruler-22.12.2.tar.xz">kruler-22.12.2</a></td>
   <td align="right">279kB</td>
   <td><tt>f39eacb4376f65381703417609438f029494748d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ksanecore-22.12.2.tar.xz">ksanecore-22.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>c7e96d5cd2bd6b90c52d4c843e30f747fccab84d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kshisen-22.12.2.tar.xz">kshisen-22.12.2</a></td>
   <td align="right">983kB</td>
   <td><tt>3298e2da216b65723c51311f1f7c19ccd2979a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ksirk-22.12.2.tar.xz">ksirk-22.12.2</a></td>
   <td align="right">6880kB</td>
   <td><tt>4f903fb85baad8caa20115f878c5318ccbd694c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ksmtp-22.12.2.tar.xz">ksmtp-22.12.2</a></td>
   <td align="right">48kB</td>
   <td><tt>c7a672a2c4ad0e86fd58e47a3a1b09bc03ca65d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ksnakeduel-22.12.2.tar.xz">ksnakeduel-22.12.2</a></td>
   <td align="right">596kB</td>
   <td><tt>d6668c08d8cae77436b02349ff708e36714a17e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kspaceduel-22.12.2.tar.xz">kspaceduel-22.12.2</a></td>
   <td align="right">644kB</td>
   <td><tt>f4eb92f50b78cfc7c797b7badf3bb5ecfecfd6fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ksquares-22.12.2.tar.xz">ksquares-22.12.2</a></td>
   <td align="right">304kB</td>
   <td><tt>6b276076b6b4f71d01be6aeacd7936578c46e980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ksudoku-22.12.2.tar.xz">ksudoku-22.12.2</a></td>
   <td align="right">1662kB</td>
   <td><tt>ed95c0c71fc270942f2e9552687c7df327f9a1a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ksystemlog-22.12.2.tar.xz">ksystemlog-22.12.2</a></td>
   <td align="right">1955kB</td>
   <td><tt>5ace525e87113c20f23dd4bdbf0576a7ccc8ddb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kteatime-22.12.2.tar.xz">kteatime-22.12.2</a></td>
   <td align="right">305kB</td>
   <td><tt>b3bb731c6858af964d6dc28fd5146df5b0cb5218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktimer-22.12.2.tar.xz">ktimer-22.12.2</a></td>
   <td align="right">392kB</td>
   <td><tt>a69042bb535c6a63e409f27c477e522938394edc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktnef-22.12.2.tar.xz">ktnef-22.12.2</a></td>
   <td align="right">301kB</td>
   <td><tt>9ef94b6a097532df5e0079a4eb7006c133f2465d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktorrent-22.12.2.tar.xz">ktorrent-22.12.2</a></td>
   <td align="right">2093kB</td>
   <td><tt>95ac97582f8b9fa14577f0834fcdbd2ddf56959b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktouch-22.12.2.tar.xz">ktouch-22.12.2</a></td>
   <td align="right">4918kB</td>
   <td><tt>bbb7cf6d81c779629bd86a1268a6b407498448e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-accounts-kcm-22.12.2.tar.xz">ktp-accounts-kcm-22.12.2</a></td>
   <td align="right">270kB</td>
   <td><tt>592a27a9117ed9028e7704c322db53ba0165632e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-approver-22.12.2.tar.xz">ktp-approver-22.12.2</a></td>
   <td align="right">38kB</td>
   <td><tt>bfea715021bf61d1299cf793822a30b8e2b17680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-auth-handler-22.12.2.tar.xz">ktp-auth-handler-22.12.2</a></td>
   <td align="right">47kB</td>
   <td><tt>6ff1ded8451922707500d483ff1cd2303843a7ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-call-ui-22.12.2.tar.xz">ktp-call-ui-22.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>531507b6960b7041931761e75f84c3e33b9c1243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-common-internals-22.12.2.tar.xz">ktp-common-internals-22.12.2</a></td>
   <td align="right">448kB</td>
   <td><tt>c3d0cb5a5dc1aac4cb8ef66c36c533b3b051945f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-contact-list-22.12.2.tar.xz">ktp-contact-list-22.12.2</a></td>
   <td align="right">156kB</td>
   <td><tt>81ef86beb0d6932eef95063306525bdca9136c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-contact-runner-22.12.2.tar.xz">ktp-contact-runner-22.12.2</a></td>
   <td align="right">44kB</td>
   <td><tt>2040eb3c0b3aa6950ff918988e083598800d2308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-desktop-applets-22.12.2.tar.xz">ktp-desktop-applets-22.12.2</a></td>
   <td align="right">44kB</td>
   <td><tt>24dcebe44f9535e93cdfd3a43458663cb61ff6a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-filetransfer-handler-22.12.2.tar.xz">ktp-filetransfer-handler-22.12.2</a></td>
   <td align="right">46kB</td>
   <td><tt>5e6c43463bec5b71f180484e7e7bf5b5c39a81a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-kded-module-22.12.2.tar.xz">ktp-kded-module-22.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>62ddd0573c47e59fe5f96e8b7f5f89ea00bc384a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-send-file-22.12.2.tar.xz">ktp-send-file-22.12.2</a></td>
   <td align="right">28kB</td>
   <td><tt>1a356eb3a529d7017df942d885de980889b7e116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktp-text-ui-22.12.2.tar.xz">ktp-text-ui-22.12.2</a></td>
   <td align="right">475kB</td>
   <td><tt>a141200f33925738c2c67efc13d7f4150cdd800d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/ktuberling-22.12.2.tar.xz">ktuberling-22.12.2</a></td>
   <td align="right">69730kB</td>
   <td><tt>ae642ebf49ade7927ef58df21df78cdb8e34b914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kturtle-22.12.2.tar.xz">kturtle-22.12.2</a></td>
   <td align="right">1952kB</td>
   <td><tt>9d86fe3441d086acf5d8459338ca6fa01c57e77e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kubrick-22.12.2.tar.xz">kubrick-22.12.2</a></td>
   <td align="right">339kB</td>
   <td><tt>9ff0967959a2711f1865230aae5faa43427472fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kwalletmanager-22.12.2.tar.xz">kwalletmanager-22.12.2</a></td>
   <td align="right">819kB</td>
   <td><tt>06ad424ca6e840893fe6467eb6827df7d530ef0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kwave-22.12.2.tar.xz">kwave-22.12.2</a></td>
   <td align="right">6802kB</td>
   <td><tt>000e033a857290475f8f2eec1e3395c5f8fe1deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/kwordquiz-22.12.2.tar.xz">kwordquiz-22.12.2</a></td>
   <td align="right">4160kB</td>
   <td><tt>f00ee659d80cd94f764b7345acef58782b119f90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libgravatar-22.12.2.tar.xz">libgravatar-22.12.2</a></td>
   <td align="right">35kB</td>
   <td><tt>3e50ffe3c3a8b560bdb9df56dec0c37f313b675b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkcddb-22.12.2.tar.xz">libkcddb-22.12.2</a></td>
   <td align="right">447kB</td>
   <td><tt>b2cba7327cc37876151a02731c5a5bfdc6b6efb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkcompactdisc-22.12.2.tar.xz">libkcompactdisc-22.12.2</a></td>
   <td align="right">96kB</td>
   <td><tt>f055bc338765ef1dd239f57967daf979763fdc86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkdcraw-22.12.2.tar.xz">libkdcraw-22.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>9c4808a36157687d3e1648b046b87ac7b3d6cf56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkdegames-22.12.2.tar.xz">libkdegames-22.12.2</a></td>
   <td align="right">5846kB</td>
   <td><tt>9093492904e435fd31d94d07d0393d110db28742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkdepim-22.12.2.tar.xz">libkdepim-22.12.2</a></td>
   <td align="right">279kB</td>
   <td><tt>eada47a2b8b62867c1a7626b6556e06867b0de76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkeduvocdocument-22.12.2.tar.xz">libkeduvocdocument-22.12.2</a></td>
   <td align="right">224kB</td>
   <td><tt>50b4c0778b5c12576a6647bb5d8383bc39dbb2ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkexiv2-22.12.2.tar.xz">libkexiv2-22.12.2</a></td>
   <td align="right">58kB</td>
   <td><tt>e956ba098e2b71532a3cc06e01d9b4905e0d3df6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkgapi-22.12.2.tar.xz">libkgapi-22.12.2</a></td>
   <td align="right">239kB</td>
   <td><tt>baf2c54540790f38c73b8fafebf02a82b8be772d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkipi-22.12.2.tar.xz">libkipi-22.12.2</a></td>
   <td align="right">86kB</td>
   <td><tt>1f18ce94672b170a52c4b56f82bb2eadd8091288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkleo-22.12.2.tar.xz">libkleo-22.12.2</a></td>
   <td align="right">500kB</td>
   <td><tt>97d87a4ff9ddc57c216d0a5a6e2843ab95bbafc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkmahjongg-22.12.2.tar.xz">libkmahjongg-22.12.2</a></td>
   <td align="right">1647kB</td>
   <td><tt>b1d37782b3e6e06b6d3fafa6b4700d59ace9ea0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libkomparediff2-22.12.2.tar.xz">libkomparediff2-22.12.2</a></td>
   <td align="right">181kB</td>
   <td><tt>8cedc2c78600f472848e1b84a7d612ae8c2b5ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libksane-22.12.2.tar.xz">libksane-22.12.2</a></td>
   <td align="right">149kB</td>
   <td><tt>6f157aef790dd16897f09c59d4aa0171c807854a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libksieve-22.12.2.tar.xz">libksieve-22.12.2</a></td>
   <td align="right">541kB</td>
   <td><tt>4743af3e76c74c2c3ca80082a1d0592c7b6bcc48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/libktorrent-22.12.2.tar.xz">libktorrent-22.12.2</a></td>
   <td align="right">602kB</td>
   <td><tt>2b3b6d65f1be25514da57218adf3e508faea87e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/lokalize-22.12.2.tar.xz">lokalize-22.12.2</a></td>
   <td align="right">2065kB</td>
   <td><tt>56976fe025bd23213f6cca016857568fde1683cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/lskat-22.12.2.tar.xz">lskat-22.12.2</a></td>
   <td align="right">1220kB</td>
   <td><tt>671e1908a9a11d6eb89d50a95ea63ef114a93111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/mailcommon-22.12.2.tar.xz">mailcommon-22.12.2</a></td>
   <td align="right">739kB</td>
   <td><tt>04ecceabeea313881206ea3e773da7730a055f56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/mailimporter-22.12.2.tar.xz">mailimporter-22.12.2</a></td>
   <td align="right">575kB</td>
   <td><tt>9eb7fec25d6495577998a216dfaf16614b33d4b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/marble-22.12.2.tar.xz">marble-22.12.2</a></td>
   <td align="right">52493kB</td>
   <td><tt>80babe6f1bff909156c5497ed4463842dd3c7460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/markdownpart-22.12.2.tar.xz">markdownpart-22.12.2</a></td>
   <td align="right">30kB</td>
   <td><tt>bbe362cb2d79ad78dbc665b393b377a5c1e3beaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/mbox-importer-22.12.2.tar.xz">mbox-importer-22.12.2</a></td>
   <td align="right">29kB</td>
   <td><tt>bbe9355cd7debca936dfc40296b55fc557841ec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/messagelib-22.12.2.tar.xz">messagelib-22.12.2</a></td>
   <td align="right">11078kB</td>
   <td><tt>a8518a8d54f30b4db45d4d8d0383e4de8525aa58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/minuet-22.12.2.tar.xz">minuet-22.12.2</a></td>
   <td align="right">27028kB</td>
   <td><tt>18de5eabcbd88200a0ed47ccd25719c44e060a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/okular-22.12.2.tar.xz">okular-22.12.2</a></td>
   <td align="right">8184kB</td>
   <td><tt>fb7687ec66cffd4511a3a320e2c05c32d096098b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/palapeli-22.12.2.tar.xz">palapeli-22.12.2</a></td>
   <td align="right">2061kB</td>
   <td><tt>cda2600a2cd3d92717603581de4e2baebb56e8e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/parley-22.12.2.tar.xz">parley-22.12.2</a></td>
   <td align="right">8392kB</td>
   <td><tt>7a514be980d5261e1295023ca5cf7e3187e26c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/partitionmanager-22.12.2.tar.xz">partitionmanager-22.12.2</a></td>
   <td align="right">2078kB</td>
   <td><tt>56506b24f7ad98d9e42cd64800598d775206b7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/picmi-22.12.2.tar.xz">picmi-22.12.2</a></td>
   <td align="right">1503kB</td>
   <td><tt>3900dd94067a548bf59b7453f8ddcf189f0d6f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/pimcommon-22.12.2.tar.xz">pimcommon-22.12.2</a></td>
   <td align="right">410kB</td>
   <td><tt>e924f038939d89abc0d2ac3b4cbf99efee9f6ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/pim-data-exporter-22.12.2.tar.xz">pim-data-exporter-22.12.2</a></td>
   <td align="right">416kB</td>
   <td><tt>ea92e7a9355c0e7d418831044859fb6dbfbc222d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/pim-sieve-editor-22.12.2.tar.xz">pim-sieve-editor-22.12.2</a></td>
   <td align="right">453kB</td>
   <td><tt>c1e473bb6c713ca9930856b62f18fa20f63420fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/poxml-22.12.2.tar.xz">poxml-22.12.2</a></td>
   <td align="right">43kB</td>
   <td><tt>354ded0e59fd8f66c745fa3e077594e368b477be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/print-manager-22.12.2.tar.xz">print-manager-22.12.2</a></td>
   <td align="right">280kB</td>
   <td><tt>0441c51736e61eb37b254fc7706bf7e04bd4d3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/rocs-22.12.2.tar.xz">rocs-22.12.2</a></td>
   <td align="right">1529kB</td>
   <td><tt>08e0eae23a0578f72cac03a085280ab324f9943b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/signon-kwallet-extension-22.12.2.tar.xz">signon-kwallet-extension-22.12.2</a></td>
   <td align="right">10kB</td>
   <td><tt>0cd1765004d644635933d5adf93eec3f43323f0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/skanlite-22.12.2.tar.xz">skanlite-22.12.2</a></td>
   <td align="right">2391kB</td>
   <td><tt>958b15388e338ce2c64e640704426b04274730b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/skanpage-22.12.2.tar.xz">skanpage-22.12.2</a></td>
   <td align="right">1264kB</td>
   <td><tt>dc824afca21663360305842c78279a29e6782bc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/spectacle-22.12.2.tar.xz">spectacle-22.12.2</a></td>
   <td align="right">1242kB</td>
   <td><tt>39bf599e8fbf4c91d1e4909b31f3de2e8ec20ad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/step-22.12.2.tar.xz">step-22.12.2</a></td>
   <td align="right">959kB</td>
   <td><tt>66e8f55e317621f8be5ca798fbf854b29f9ffe0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/svgpart-22.12.2.tar.xz">svgpart-22.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>841b367ec372ec40ebf4f9754f00a5fa2fc79325</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/sweeper-22.12.2.tar.xz">sweeper-22.12.2</a></td>
   <td align="right">388kB</td>
   <td><tt>ecae67085d7cbaf8e76768568d76be0e5255e333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/umbrello-22.12.2.tar.xz">umbrello-22.12.2</a></td>
   <td align="right">5660kB</td>
   <td><tt>9dac32be0378702c2daaa8874a3b6bb7313e35f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/yakuake-22.12.2.tar.xz">yakuake-22.12.2</a></td>
   <td align="right">416kB</td>
   <td><tt>ca36d40509c7a96d7ac8305e98d2b5aa13320cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.2/src/zanshin-22.12.2.tar.xz">zanshin-22.12.2</a></td>
   <td align="right">345kB</td>
   <td><tt>99bfbf0dd0e5f4ff0d108cfebb200010bdd6fafd</tt></td>
</tr>

</table>
