<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/bluedevil-5.5.4.tar.xz">bluedevil-5.5.4</a></td>
   <td align="right">131kB</td>
   <td><tt>24dc614820c765f34bec63cb0d6075420378da6522adb66ca6a30df4346d40e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/breeze-5.5.4.tar.xz">breeze-5.5.4</a></td>
   <td align="right">28MB</td>
   <td><tt>831f8e0d8f1023ef1ce7a073e6b6aaed000b45cad2393213cc29fc5f7eb91432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/breeze-gtk-5.5.4.tar.xz">breeze-gtk-5.5.4</a></td>
   <td align="right">251kB</td>
   <td><tt>1bb5e201802df5853fcc5213a5ac3380abbc368e5492fc36243a28f86e85d1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/discover-5.5.4.tar.xz">discover-5.5.4</a></td>
   <td align="right">823kB</td>
   <td><tt>3bac1dfbc60ec57649954ce14c792143d0f2f3314cc6b8a502e4abe2d242ba34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kde-cli-tools-5.5.4.tar.xz">kde-cli-tools-5.5.4</a></td>
   <td align="right">474kB</td>
   <td><tt>be73c26f10981fb15ffdf11ad587e3e35273eef38e310b7e93ddcc02204534f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kdecoration-5.5.4.tar.xz">kdecoration-5.5.4</a></td>
   <td align="right">33kB</td>
   <td><tt>468c52f1a579a53b368157e29367e60d46ac900fdce7a4067d544a47c1db0fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kde-gtk-config-5.5.4.tar.xz">kde-gtk-config-5.5.4</a></td>
   <td align="right">143kB</td>
   <td><tt>3538d7ac15a6039c850f20fd11bd8afa9f090a3c96fc60cbf72335ac057b5218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kdeplasma-addons-5.5.4.tar.xz">kdeplasma-addons-5.5.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>01c32a04ebae6030a8972415a749b1c2ce2c9cdaea486480b6038b61e094397b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kgamma5-5.5.4.tar.xz">kgamma5-5.5.4</a></td>
   <td align="right">58kB</td>
   <td><tt>82d9e518a32e13042774d014d614294cb0bff2253e7bbf1407ca09dc75a8c370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/khelpcenter-5.5.4.tar.xz">khelpcenter-5.5.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>60cb5c0b7d6913fbb3b4b33b8040f3ecfabd46497b4e0f1f7c4ffc1eee497c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/khotkeys-5.5.4.tar.xz">khotkeys-5.5.4</a></td>
   <td align="right">589kB</td>
   <td><tt>d6a73a6c8c857a954885b2074b3d039b83cffaf67753ce8afbc90ace33fe97ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kinfocenter-5.5.4.tar.xz">kinfocenter-5.5.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>24c71af5332b9e16e36ce2d7a1fd9922b90f8ce193c8fcea85aa0605cdc11083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kmenuedit-5.5.4.tar.xz">kmenuedit-5.5.4</a></td>
   <td align="right">431kB</td>
   <td><tt>46e7a83d7a62b806348e865a4cf1a99c1569acd560de822685a011a7e3c89a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kscreen-5.5.4.tar.xz">kscreen-5.5.4</a></td>
   <td align="right">101kB</td>
   <td><tt>7bf7d826e9021b3fa5e9bb62e1b8ccb88380c7a44e0fc8c794a970e9f03ba62b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kscreenlocker-5.5.4.tar.xz">kscreenlocker-5.5.4</a></td>
   <td align="right">95kB</td>
   <td><tt>39c3a4272b6f53b26c27054f5efb54c0e88ebb6d6aea3f8a541dc5bc8b1b25a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/ksshaskpass-5.5.4.tar.xz">ksshaskpass-5.5.4</a></td>
   <td align="right">20kB</td>
   <td><tt>42c2e64191ec0e42019b99fb1170ad5b368b59077aa6e3ea8e7a6293d0718f42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/ksysguard-5.5.4.tar.xz">ksysguard-5.5.4</a></td>
   <td align="right">470kB</td>
   <td><tt>6c86988c437199815e35dc780799bcd987c99defb95125069853c6f4ef4578c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kwallet-pam-5.5.4.tar.xz">kwallet-pam-5.5.4</a></td>
   <td align="right">15kB</td>
   <td><tt>14367f03fdb3f1d828747090ef07a7a3b27592ba8ec0211f639408b50e8e4932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kwayland-5.5.4.tar.xz">kwayland-5.5.4</a></td>
   <td align="right">156kB</td>
   <td><tt>9797977706fc66ea0ec4ab8f9e1466cbceedff45a082900cf2f622785078f9b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kwayland-integration-5.5.4.tar.xz">kwayland-integration-5.5.4</a></td>
   <td align="right">16kB</td>
   <td><tt>5e3a5489680a418b5d5144dc3d8d862d9781a2b02e5a738d39f6d587e53b7b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kwin-5.5.4.tar.xz">kwin-5.5.4</a></td>
   <td align="right">3.6MB</td>
   <td><tt>4872a9f2eb968f1f29fac96fe87bc80052ddeae083e6e97424ab443f1a502580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/kwrited-5.5.4.tar.xz">kwrited-5.5.4</a></td>
   <td align="right">19kB</td>
   <td><tt>d0b9b777eb4fe3ee256c2274ed88aaa42d6ac5f7fb6da59daa30bb22e1c0a805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/libkscreen-5.5.4.tar.xz">libkscreen-5.5.4</a></td>
   <td align="right">70kB</td>
   <td><tt>aefa612c29be8e1b8458061cea8036a6e7fd3ca704ce3a56099fa14e08ea0797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/libksysguard-5.5.4.tar.xz">libksysguard-5.5.4</a></td>
   <td align="right">556kB</td>
   <td><tt>81573caf0d2110c0c4ea934c91fb7d117dbc6ec40b9c7227f4283f50e35839c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/milou-5.5.4.tar.xz">milou-5.5.4</a></td>
   <td align="right">50kB</td>
   <td><tt>b43516549bafc82cb110387568d630d77bb76b162192d665d918460fe6928835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/oxygen-5.5.4.tar.xz">oxygen-5.5.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>3bf4a86d243424b88c80267560858f8246292f7733984495cdf3daafc2e4d281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/plasma-desktop-5.5.4.tar.xz">plasma-desktop-5.5.4</a></td>
   <td align="right">6.0MB</td>
   <td><tt>0d77413157df4a672eabb857c8d43af5624961bc5305f00d07c4771bf17a7252</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/plasma-mediacenter-5.5.4.tar.xz">plasma-mediacenter-5.5.4</a></td>
   <td align="right">157kB</td>
   <td><tt>0a654c7db9b9390464f7296c466be59438bc38399c1d1a4397b485d09cc3c7e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/plasma-nm-5.5.4.tar.xz">plasma-nm-5.5.4</a></td>
   <td align="right">606kB</td>
   <td><tt>61e0e2e4c39ac378ba6d038293505daa5a77946dd5590f1889a4e3bc95664e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/plasma-pa-5.5.4.tar.xz">plasma-pa-5.5.4</a></td>
   <td align="right">53kB</td>
   <td><tt>e9a0f3815591be9dfeb799b67b87a54bb8a56d8136c243f6d35ba8fe7a6c2c34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/plasma-sdk-5.5.4.tar.xz">plasma-sdk-5.5.4</a></td>
   <td align="right">649kB</td>
   <td><tt>5d81c77e1f338b6c926413c92626d732150ff39a2bec7083364700f09123bd39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/plasma-workspace-5.5.4.tar.xz">plasma-workspace-5.5.4</a></td>
   <td align="right">7.0MB</td>
   <td><tt>f0a0eb82346514b0b3b00644cd9464c32152d48accee13ed322c500b3036097e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/plasma-workspace-wallpapers-5.5.4.tar.xz">plasma-workspace-wallpapers-5.5.4</a></td>
   <td align="right">43MB</td>
   <td><tt>56ef2d962e2e662ce46f2856a96c11281c46927935b014369921c456920b215c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/polkit-kde-agent-1-5.5.4.tar.xz">polkit-kde-agent-1-5.5.4</a></td>
   <td align="right">38kB</td>
   <td><tt>026e1386b7b7033148dc7775cb5ea310ac719481b0fca6dd6378d8427492da84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/powerdevil-5.5.4.tar.xz">powerdevil-5.5.4</a></td>
   <td align="right">338kB</td>
   <td><tt>f4583eaae119e31d4ef93314cb8b76400f8a52cfde87fd14fa6979715e291144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/sddm-kcm-5.5.4.tar.xz">sddm-kcm-5.5.4</a></td>
   <td align="right">47kB</td>
   <td><tt>2b150a0c2d7dde53574100fea399037f53f3510c8efbb29822a8940785237013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/systemsettings-5.5.4.tar.xz">systemsettings-5.5.4</a></td>
   <td align="right">154kB</td>
   <td><tt>fb4e49ee499fcae12390094b90fd2c7cc8aefccab1ff5940e353386e7597f4c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.4/user-manager-5.5.4.tar.xz">user-manager-5.5.4</a></td>
   <td align="right">56kB</td>
   <td><tt>92dc847854c20a193871dca4b4776f858eaa8d25989c0b40b001e7733c89939e</tt></td>
</tr>

</table>
