<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/bluedevil-5.20.4.tar.xz">bluedevil-5.20.4</a></td>
   <td align="right">154kB</td>
   <td><tt>522ad4ff3f3fc4e213328f821041d40b5126d0d3ca49ecc9aea35c59e2c64129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/breeze-5.20.4.tar.xz">breeze-5.20.4</a></td>
   <td align="right">14MB</td>
   <td><tt>b61b3f9961c196bbcfb33519bbec06d19e6267182f7215e21071a5619681b30f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/breeze-grub-5.20.4.tar.xz">breeze-grub-5.20.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8692b6800e89b97973b50d6915f9ca028cdcb0354c34b54719af54441e3f3feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/breeze-gtk-5.20.4.tar.xz">breeze-gtk-5.20.4</a></td>
   <td align="right">42kB</td>
   <td><tt>8905b3a0ff40a48ed2f00f69b7e30c4658deb9fbd1afc61700a28d078693b61d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/breeze-plymouth-5.20.4.tar.xz">breeze-plymouth-5.20.4</a></td>
   <td align="right">106kB</td>
   <td><tt>879d4bd8d0c42a5c1f51497a4ee4ebb3e69f7904170bafa392b95e1c0ce05ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/discover-5.20.4.tar.xz">discover-5.20.4</a></td>
   <td align="right">9.8MB</td>
   <td><tt>3669648fa39e14a8da059373c9a01caacfd5b126d61daed65d5d7aae7ab30012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/drkonqi-5.20.4.tar.xz">drkonqi-5.20.4</a></td>
   <td align="right">738kB</td>
   <td><tt>55d4a166ee74c4a935c69cec64ecd8eb3fdd79aae8dcd996f6432a873be3fac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kactivitymanagerd-5.20.4.tar.xz">kactivitymanagerd-5.20.4</a></td>
   <td align="right">92kB</td>
   <td><tt>210215dd9a49fda98febb60f73f4cc95eda3eb9ec96c0db2f2881f6be13afb34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kde-cli-tools-5.20.4.tar.xz">kde-cli-tools-5.20.4</a></td>
   <td align="right">588kB</td>
   <td><tt>55f35158715bafdd51e448a2760327ed4f91c54fcd3da807dec2736d077b16a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kdecoration-5.20.4.tar.xz">kdecoration-5.20.4</a></td>
   <td align="right">44kB</td>
   <td><tt>8d1224a50a2e8c0ec24faab4453432eb8083b35a63e479523de95dce644226e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kde-gtk-config-5.20.4.tar.xz">kde-gtk-config-5.20.4</a></td>
   <td align="right">66kB</td>
   <td><tt>db3510cb08788c915be5e034106145597de5a412236b60c57b8db4b64dbbd7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kdeplasma-addons-5.20.4.tar.xz">kdeplasma-addons-5.20.4</a></td>
   <td align="right">620kB</td>
   <td><tt>44768c7fb00386bc4f005c773bca59d8acc354f8a3f43efa6565cefc74d490d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kgamma5-5.20.4.tar.xz">kgamma5-5.20.4</a></td>
   <td align="right">79kB</td>
   <td><tt>59b1247dfc3c45247cff62e3706b52c9a1be2cf9cfe6e92c9c7299fc5cb51b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/khotkeys-5.20.4.tar.xz">khotkeys-5.20.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>13c7e5a38f095056c6411b8dc91fc0640256c0a6f0a5166ba716e2454388d648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kinfocenter-5.20.4.tar.xz">kinfocenter-5.20.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>09af2cafde33d0c8a824451ca532a443b6f571e20037fe6b31245c9984e9a6b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kmenuedit-5.20.4.tar.xz">kmenuedit-5.20.4</a></td>
   <td align="right">872kB</td>
   <td><tt>32c2d2eb979e43e4cc0892aa9460eb8ebaf603b77385b9f058a48ca4347dde4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kscreen-5.20.4.tar.xz">kscreen-5.20.4</a></td>
   <td align="right">112kB</td>
   <td><tt>4063fae5cb40a22a98fd0cc217e9b0ea4aef6518203c4bbe2664d5d01dfb9d9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kscreenlocker-5.20.4.tar.xz">kscreenlocker-5.20.4</a></td>
   <td align="right">112kB</td>
   <td><tt>d80d4625a0a48a7a63c5ff8255e8639eb2fb57ebc436c46979949b39fc530126</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/ksshaskpass-5.20.4.tar.xz">ksshaskpass-5.20.4</a></td>
   <td align="right">22kB</td>
   <td><tt>a391ba0490ca41a33207adb6aff2233165d4aeed119fd056489d6eccfc81f218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/ksysguard-5.20.4.tar.xz">ksysguard-5.20.4</a></td>
   <td align="right">550kB</td>
   <td><tt>a5f247b24ce75a28f301446fbeb25abf968e77e0c32cd4be9b574a21d3bbfaf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kwallet-pam-5.20.4.tar.xz">kwallet-pam-5.20.4</a></td>
   <td align="right">19kB</td>
   <td><tt>0749056e9acbbc194b20be5b0921383013ed6c268c22cf905aeeda32514d3ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kwayland-integration-5.20.4.tar.xz">kwayland-integration-5.20.4</a></td>
   <td align="right">20kB</td>
   <td><tt>2dd985dd8d21cdc7743b9f297d0d582f960339b4714953564f2f047d28cee53d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kwayland-server-5.20.4.tar.xz">kwayland-server-5.20.4</a></td>
   <td align="right">215kB</td>
   <td><tt>3edc7b73baa6fa8b0bec51272e8786bab41998b0f675262d5086fdf6c1e9bb44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kwin-5.20.4.tar.xz">kwin-5.20.4</a></td>
   <td align="right">6.0MB</td>
   <td><tt>c59861e9d456974bffaff2cb371cd8d31bdb789f89a60af632089c556111662a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/kwrited-5.20.4.tar.xz">kwrited-5.20.4</a></td>
   <td align="right">20kB</td>
   <td><tt>f02b900538246f4df2707585052b732552d2ea115a16f8fbda618fa02e5a1bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/libkscreen-5.20.4.tar.xz">libkscreen-5.20.4</a></td>
   <td align="right">83kB</td>
   <td><tt>ce1bd03a25b101793fa1472ac3fc696079e607a6f45330ea724845bda288d28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/libksysguard-5.20.4.tar.xz">libksysguard-5.20.4</a></td>
   <td align="right">681kB</td>
   <td><tt>a89968476cb8a888550e1a5138ab8e86eeb49788187192cba71f79abd4aad422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/milou-5.20.4.tar.xz">milou-5.20.4</a></td>
   <td align="right">54kB</td>
   <td><tt>123ac9470a94f2eb6e4212979d2df4160fa15962b1fc18551bfcdfe5aa18a201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/oxygen-5.20.4.tar.xz">oxygen-5.20.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e58cb6a2e1976a973e24d974556e6306a076ce1295f33a9a1bc56a8715857f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-browser-integration-5.20.4.tar.xz">plasma-browser-integration-5.20.4</a></td>
   <td align="right">187kB</td>
   <td><tt>55057e4f15a1e8b2d2f0489d32f95bb89f610ae99184b587ba90f7db0e8292b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-desktop-5.20.4.tar.xz">plasma-desktop-5.20.4</a></td>
   <td align="right">15MB</td>
   <td><tt>3864e80bb9b8da596188162b14cd9bb77e7a8abedfb0fa41c8c72d47139d1355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-disks-5.20.4.tar.xz">plasma-disks-5.20.4</a></td>
   <td align="right">62kB</td>
   <td><tt>f0110588b2603905962beedd596cfa6eb6371b7bac2186aa845d22237199d845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-integration-5.20.4.tar.xz">plasma-integration-5.20.4</a></td>
   <td align="right">58kB</td>
   <td><tt>4dbaf6a05d69df02e73c88970be3d7a1efb62a3931edf06c9760cd3bb87e1299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-nano-5.20.4.tar.xz">plasma-nano-5.20.4</a></td>
   <td align="right">33kB</td>
   <td><tt>8e23e0ce53654daf4ab688edd6a7852b5d859bfd86b4e1795a60f570dda409bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-nm-5.20.4.tar.xz">plasma-nm-5.20.4</a></td>
   <td align="right">840kB</td>
   <td><tt>7b4d1026f2caa709a9ae284cd18342d1c573276f9b4c356ef47779dadb8b57cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-pa-5.20.4.tar.xz">plasma-pa-5.20.4</a></td>
   <td align="right">111kB</td>
   <td><tt>56fb4809966aa33290c46fed968f2c7186c415663f032c75b3279c57134674f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-phone-components-5.20.4.tar.xz">plasma-phone-components-5.20.4</a></td>
   <td align="right">1.4MB</td>
   <td><tt>80053324bfb6431946df67e712638f797c2bcd9cb78766629a0372de7f6f727e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-sdk-5.20.4.tar.xz">plasma-sdk-5.20.4</a></td>
   <td align="right">260kB</td>
   <td><tt>49d29c1c95832c585ea3c0b26f8fb46f5fa0fac726f9f7e9cbf0ab83415a00ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-tests-5.20.4.tar.xz">plasma-tests-5.20.4</a></td>
   <td align="right">1kB</td>
   <td><tt>35234da922aad986db73ca4d2ca1c0440dbff24e200b98584246b060cc7a2735</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-thunderbolt-5.20.4.tar.xz">plasma-thunderbolt-5.20.4</a></td>
   <td align="right">55kB</td>
   <td><tt>7c37c66815242b5d1e208df3b4dbf4fe0d8542ac9aa352d06c548fc172348429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-vault-5.20.4.tar.xz">plasma-vault-5.20.4</a></td>
   <td align="right">154kB</td>
   <td><tt>525226a143e6bb173e8106ed2f2313a529ed380a0a1488b096a60af6d08d881c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-workspace-5.20.4.tar.xz">plasma-workspace-5.20.4</a></td>
   <td align="right">8.6MB</td>
   <td><tt>12bfe6c3f62e4d1d2f7bc02ccb2e2ed5aee2ffe21c310987e42a2205374c30c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plasma-workspace-wallpapers-5.20.4.tar.xz">plasma-workspace-wallpapers-5.20.4</a></td>
   <td align="right">43MB</td>
   <td><tt>4740d67e85910ed398c048916963f31c6632698d6a4494bc09cc1b0cd14e2808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/plymouth-kcm-5.20.4.tar.xz">plymouth-kcm-5.20.4</a></td>
   <td align="right">42kB</td>
   <td><tt>0cde268064c92b89c5b2a5f8c033983d372406656d446f52b77611effd67ad77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/polkit-kde-agent-1-5.20.4.tar.xz">polkit-kde-agent-1-5.20.4</a></td>
   <td align="right">43kB</td>
   <td><tt>f01a7b3443553810b0c9e6f25d2ca51eeac7c5e9fd624505852e77183e294b61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/powerdevil-5.20.4.tar.xz">powerdevil-5.20.4</a></td>
   <td align="right">595kB</td>
   <td><tt>864128ea9178701bc322f728402cf9277b3c6feaa15fe425aa2adf92464bd28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/sddm-kcm-5.20.4.tar.xz">sddm-kcm-5.20.4</a></td>
   <td align="right">63kB</td>
   <td><tt>c61e136c10b98a91e1bd48ca5bbdd2a15b197a38b83d7ad5ccd289200524935e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/systemsettings-5.20.4.tar.xz">systemsettings-5.20.4</a></td>
   <td align="right">189kB</td>
   <td><tt>e87eedfb40a0255348cf2a775ca0ea15bbce37687eedd521f2200670315953b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.4/xdg-desktop-portal-kde-5.20.4.tar.xz">xdg-desktop-portal-kde-5.20.4</a></td>
   <td align="right">79kB</td>
   <td><tt>cb3d856f7caeae7bd02a3e9e43f12ee3d432aa399df9d40db0636199b7ed4df8</tt></td>
</tr>

</table>
