
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/attica-5.98.0.tar.xz">attica-5.98.0</a></td>
   <td align="right">67kB</td>
   <td><tt>9ed30822508b5af737a7d35263eae9bd575db587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/baloo-5.98.0.tar.xz">baloo-5.98.0</a></td>
   <td align="right">286kB</td>
   <td><tt>2c8a3951dd2c06f62e8818587f216f2ae635e9a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/bluez-qt-5.98.0.tar.xz">bluez-qt-5.98.0</a></td>
   <td align="right">111kB</td>
   <td><tt>1a0fa63e763917d04b4225f43abfdc1cce082676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/breeze-icons-5.98.0.tar.xz">breeze-icons-5.98.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3fae1701a0d60123b871c6f52d217aecfa21c631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/extra-cmake-modules-5.98.0.tar.xz">extra-cmake-modules-5.98.0</a></td>
   <td align="right">323kB</td>
   <td><tt>e21fd8a0a5ed0e633a5d0fccb953c188a9f4d138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/frameworkintegration-5.98.0.tar.xz">frameworkintegration-5.98.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>97bc10cc1c54cd255ed4a0e31328780a04da2d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kactivities-5.98.0.tar.xz">kactivities-5.98.0</a></td>
   <td align="right">71kB</td>
   <td><tt>9cb6af39abeceded4a85fb2ad60642240ac6c0d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kactivities-stats-5.98.0.tar.xz">kactivities-stats-5.98.0</a></td>
   <td align="right">82kB</td>
   <td><tt>111ffe032cdf296f91c9fab52a21e24e7809fdd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kapidox-5.98.0.tar.xz">kapidox-5.98.0</a></td>
   <td align="right">193kB</td>
   <td><tt>6310bbc73f290f815ab3b06a9d9216f07e782211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/karchive-5.98.0.tar.xz">karchive-5.98.0</a></td>
   <td align="right">963kB</td>
   <td><tt>80c3e473b3ad727b631340bf7594778b7022c6ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kauth-5.98.0.tar.xz">kauth-5.98.0</a></td>
   <td align="right">88kB</td>
   <td><tt>7b7a9b15834919a2a19eabd76b588c2ca42c0e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kbookmarks-5.98.0.tar.xz">kbookmarks-5.98.0</a></td>
   <td align="right">127kB</td>
   <td><tt>3f5577e4cfdd3fc913729206cd081b39064a7ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kcalendarcore-5.98.0.tar.xz">kcalendarcore-5.98.0</a></td>
   <td align="right">262kB</td>
   <td><tt>a9b87a9b90bef5859aca357e046cb807405a5823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kcmutils-5.98.0.tar.xz">kcmutils-5.98.0</a></td>
   <td align="right">184kB</td>
   <td><tt>60a8861b416e31d75473b2769015cf0d27c396d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kcodecs-5.98.0.tar.xz">kcodecs-5.98.0</a></td>
   <td align="right">231kB</td>
   <td><tt>8b43e3cf999573b7fc0e8972d99e0ffed5d4fefd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kcompletion-5.98.0.tar.xz">kcompletion-5.98.0</a></td>
   <td align="right">121kB</td>
   <td><tt>1124a482e060176b39c8b420eadc0d76cb50d68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kconfig-5.98.0.tar.xz">kconfig-5.98.0</a></td>
   <td align="right">276kB</td>
   <td><tt>5d32956bc5c6134e3b32a87a9b6438f1288fec51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kconfigwidgets-5.98.0.tar.xz">kconfigwidgets-5.98.0</a></td>
   <td align="right">409kB</td>
   <td><tt>4b68c5a591b189a529fd37216e5cee2519ffa844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kcontacts-5.98.0.tar.xz">kcontacts-5.98.0</a></td>
   <td align="right">189kB</td>
   <td><tt>77b05b0abb93146c022dac86588ccdbaa62d175b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kcoreaddons-5.98.0.tar.xz">kcoreaddons-5.98.0</a></td>
   <td align="right">457kB</td>
   <td><tt>de81101dad2e2a1bc60636c0d71979b03b9a5dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kcrash-5.98.0.tar.xz">kcrash-5.98.0</a></td>
   <td align="right">27kB</td>
   <td><tt>769e1bf845d4a339402aa0ee1e147a34f2dfc1e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kdav-5.98.0.tar.xz">kdav-5.98.0</a></td>
   <td align="right">64kB</td>
   <td><tt>e45e78a8fde1cfb013d63c7386c842aa25b05485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kdbusaddons-5.98.0.tar.xz">kdbusaddons-5.98.0</a></td>
   <td align="right">47kB</td>
   <td><tt>14c0ccb77b53f3a58ee831a89157d480960c39fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kdeclarative-5.98.0.tar.xz">kdeclarative-5.98.0</a></td>
   <td align="right">202kB</td>
   <td><tt>68003bf3da687ec027092607bf9523595da4fb36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kded-5.98.0.tar.xz">kded-5.98.0</a></td>
   <td align="right">38kB</td>
   <td><tt>f5a088221fb1864c0640c394f69ff1f02f79dbbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kdesu-5.98.0.tar.xz">kdesu-5.98.0</a></td>
   <td align="right">54kB</td>
   <td><tt>094b97ba0138b09c8e44f4cd9504e7a66aaa3e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kdnssd-5.98.0.tar.xz">kdnssd-5.98.0</a></td>
   <td align="right">59kB</td>
   <td><tt>37487d3d5404cf25567d8dc78e087532823adfa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kdoctools-5.98.0.tar.xz">kdoctools-5.98.0</a></td>
   <td align="right">430kB</td>
   <td><tt>0622e4f6a48d15193d6dd5289c94934ae6ec0e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kemoticons-5.98.0.tar.xz">kemoticons-5.98.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>56281782f3873c89e6402ee6933f97c581bec062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kfilemetadata-5.98.0.tar.xz">kfilemetadata-5.98.0</a></td>
   <td align="right">427kB</td>
   <td><tt>a74dd41396094e476d020071e2941b62c1f6bbc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kglobalaccel-5.98.0.tar.xz">kglobalaccel-5.98.0</a></td>
   <td align="right">94kB</td>
   <td><tt>b5d624f75b66d5ea101a540ccd06ff61e0532d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kguiaddons-5.98.0.tar.xz">kguiaddons-5.98.0</a></td>
   <td align="right">72kB</td>
   <td><tt>17ed583942ab372adacec77963c8cfb9c931fb77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kholidays-5.98.0.tar.xz">kholidays-5.98.0</a></td>
   <td align="right">235kB</td>
   <td><tt>08d30d9043b1c0a15821599f84b63692d0700a6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/ki18n-5.98.0.tar.xz">ki18n-5.98.0</a></td>
   <td align="right">933kB</td>
   <td><tt>0cf44cb41275efbacf16e0090eaf47d21349455c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kiconthemes-5.98.0.tar.xz">kiconthemes-5.98.0</a></td>
   <td align="right">222kB</td>
   <td><tt>34df40ed37d275964aca0fe14d4b758e82a5d217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kidletime-5.98.0.tar.xz">kidletime-5.98.0</a></td>
   <td align="right">28kB</td>
   <td><tt>9421a28460075c17b5009b8b5b3468e8740c8585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kimageformats-5.98.0.tar.xz">kimageformats-5.98.0</a></td>
   <td align="right">5.0MB</td>
   <td><tt>b9ba5ee0f8107b40fd41e1f8fe495c169686fdcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kinit-5.98.0.tar.xz">kinit-5.98.0</a></td>
   <td align="right">116kB</td>
   <td><tt>444803bdf2016d5298693f69bcfb6132f646a9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kio-5.98.0.tar.xz">kio-5.98.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e9fd86e6a2aff1d0822ee4136ef6ab191112d1aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kirigami2-5.98.0.tar.xz">kirigami2-5.98.0</a></td>
   <td align="right">352kB</td>
   <td><tt>6ddd382ad63a62e940df1d7d686a6baddf8ac938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kitemmodels-5.98.0.tar.xz">kitemmodels-5.98.0</a></td>
   <td align="right">397kB</td>
   <td><tt>5ad2cb55aee88fc3c2c25b5685d3d4d3285f10a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kitemviews-5.98.0.tar.xz">kitemviews-5.98.0</a></td>
   <td align="right">75kB</td>
   <td><tt>09a45ac8d681f074d56d0bb00c27ce51ecdc73aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kjobwidgets-5.98.0.tar.xz">kjobwidgets-5.98.0</a></td>
   <td align="right">99kB</td>
   <td><tt>e2987ffbf1af6aa12bfc4acbeb589caa291494d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/knewstuff-5.98.0.tar.xz">knewstuff-5.98.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>49cf522f09c70622c84ea6a9ec638dc7bfb0cde0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/knotifications-5.98.0.tar.xz">knotifications-5.98.0</a></td>
   <td align="right">129kB</td>
   <td><tt>1c49495527b9f515004803bdb3b26114c9757fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/knotifyconfig-5.98.0.tar.xz">knotifyconfig-5.98.0</a></td>
   <td align="right">85kB</td>
   <td><tt>a4fbb6eb2b526cae06d24b905fd8c7fd3ff50319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kpackage-5.98.0.tar.xz">kpackage-5.98.0</a></td>
   <td align="right">137kB</td>
   <td><tt>9c554a848b9280b6b1d6dc846c3db7dbde520520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kparts-5.98.0.tar.xz">kparts-5.98.0</a></td>
   <td align="right">192kB</td>
   <td><tt>bacd05e73f23e3c93da29998c89f9b701161d050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kpeople-5.98.0.tar.xz">kpeople-5.98.0</a></td>
   <td align="right">58kB</td>
   <td><tt>c740fe8c265dd55210e4014a1278659ed095721a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kplotting-5.98.0.tar.xz">kplotting-5.98.0</a></td>
   <td align="right">32kB</td>
   <td><tt>2cbe48359415f75783779f528318afe11cde25c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kpty-5.98.0.tar.xz">kpty-5.98.0</a></td>
   <td align="right">58kB</td>
   <td><tt>d28385bdc715f33409dacd7c9c1e856bf400d3cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kquickcharts-5.98.0.tar.xz">kquickcharts-5.98.0</a></td>
   <td align="right">106kB</td>
   <td><tt>fc1239af8d38adc79c3c92ef7e0a14863c04256d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/krunner-5.98.0.tar.xz">krunner-5.98.0</a></td>
   <td align="right">85kB</td>
   <td><tt>ba2fb34e7a941234c5363ba90fd6968f1834968e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kservice-5.98.0.tar.xz">kservice-5.98.0</a></td>
   <td align="right">262kB</td>
   <td><tt>1f23571faef13dc0597eb7020a38cf99e1049f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/ktexteditor-5.98.0.tar.xz">ktexteditor-5.98.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>13e083af265b96a954292cb9e78805309e31fd2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/ktextwidgets-5.98.0.tar.xz">ktextwidgets-5.98.0</a></td>
   <td align="right">320kB</td>
   <td><tt>844cb0b2361304f91a4d75d592d9ac81db587050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kunitconversion-5.98.0.tar.xz">kunitconversion-5.98.0</a></td>
   <td align="right">878kB</td>
   <td><tt>b28e7deaeb7e59b216129024ba2c293dfccb253e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kwallet-5.98.0.tar.xz">kwallet-5.98.0</a></td>
   <td align="right">325kB</td>
   <td><tt>589c0a39c7600ae068b92bcec50c4af0632ad34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kwayland-5.98.0.tar.xz">kwayland-5.98.0</a></td>
   <td align="right">328kB</td>
   <td><tt>353a1452d66ab58b5197b9e6126059210380bdb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kwidgetsaddons-5.98.0.tar.xz">kwidgetsaddons-5.98.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>8e93d55b27dad6bc302449bd76cb5c339fa6be04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kwindowsystem-5.98.0.tar.xz">kwindowsystem-5.98.0</a></td>
   <td align="right">178kB</td>
   <td><tt>5f27e583665d78a3a76d5da8aedc4ad233544114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/kxmlgui-5.98.0.tar.xz">kxmlgui-5.98.0</a></td>
   <td align="right">882kB</td>
   <td><tt>2525dd1cc65d12f7bce7e928ac8a699021b758b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/modemmanager-qt-5.98.0.tar.xz">modemmanager-qt-5.98.0</a></td>
   <td align="right">118kB</td>
   <td><tt>c95ccb8505d72028d5d0dbc1fde2347c71cb9820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/networkmanager-qt-5.98.0.tar.xz">networkmanager-qt-5.98.0</a></td>
   <td align="right">193kB</td>
   <td><tt>903d01682dc33676c95663f3458fe4c720bec03a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/oxygen-icons5-5.98.0.tar.xz">oxygen-icons5-5.98.0</a></td>
   <td align="right">227MB</td>
   <td><tt>f9a5b3d6320bf220e93c407b609f8772fcd9b7dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/plasma-framework-5.98.0.tar.xz">plasma-framework-5.98.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c6e474f14307c936d2a9242be35b4bb2ae5126d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/prison-5.98.0.tar.xz">prison-5.98.0</a></td>
   <td align="right">54kB</td>
   <td><tt>1e3ec5622c2628bd764bc64057375e1c741b97db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/purpose-5.98.0.tar.xz">purpose-5.98.0</a></td>
   <td align="right">170kB</td>
   <td><tt>46a0b43f8904f1d79d89988c6d0c6e344613185d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/qqc2-desktop-style-5.98.0.tar.xz">qqc2-desktop-style-5.98.0</a></td>
   <td align="right">64kB</td>
   <td><tt>97e5d65f96607e5dd661fddadaab83f72a401d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/solid-5.98.0.tar.xz">solid-5.98.0</a></td>
   <td align="right">253kB</td>
   <td><tt>03f7b4383732b27b09ca6b18fac4e769f7d6a529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/sonnet-5.98.0.tar.xz">sonnet-5.98.0</a></td>
   <td align="right">300kB</td>
   <td><tt>e850761b864df082c612ad485f64886cefae6220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/syndication-5.98.0.tar.xz">syndication-5.98.0</a></td>
   <td align="right">498kB</td>
   <td><tt>c46f90d4c3bb7986c7433cab736438133309160f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/syntax-highlighting-5.98.0.tar.xz">syntax-highlighting-5.98.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d2cb38d9add187d45bbf192c599dd3844d562662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.98/threadweaver-5.98.0.tar.xz">threadweaver-5.98.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4829d791b6378010f1cfc5155790d795f81824fa</tt></td>
</tr>

</table>
