<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/bluedevil-5.18.8.tar.xz">bluedevil-5.18.8</a></td>
   <td align="right">166kB</td>
   <td><tt>d50140628540677c02f6cc495b8baf6a5bd16d4655588a071778306357af76d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/breeze-5.18.8.tar.xz">breeze-5.18.8</a></td>
   <td align="right">20MB</td>
   <td><tt>4a4d0d4b74fc2457af642920f10787e9bec3290bbbb602fae1e8ef65c1779cfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/breeze-grub-5.18.8.tar.xz">breeze-grub-5.18.8</a></td>
   <td align="right">2.9MB</td>
   <td><tt>df27d51a3c910caf7187a8771d979f7a7903c8d1730d434577a00e280786e628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/breeze-gtk-5.18.8.tar.xz">breeze-gtk-5.18.8</a></td>
   <td align="right">41kB</td>
   <td><tt>a7a178259e78f8cdd92b9292776e3586b740abba5eb86fe339702247e691bb87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/breeze-plymouth-5.18.8.tar.xz">breeze-plymouth-5.18.8</a></td>
   <td align="right">103kB</td>
   <td><tt>6ff1b1b80b9f142b9c9b8f1d907de8025fd37a880d99da6504d47cab057d2fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/discover-5.18.8.tar.xz">discover-5.18.8</a></td>
   <td align="right">9.9MB</td>
   <td><tt>ceef34b1d80997a70fe4f61a0bc8c4ed676580d4f25a42c8133c7546c231b53c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/drkonqi-5.18.8.tar.xz">drkonqi-5.18.8</a></td>
   <td align="right">728kB</td>
   <td><tt>e7f363a3f43ff5ec934947c533ab860d2ba2a138ac40a90890e45da9dfa45380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kactivitymanagerd-5.18.8.tar.xz">kactivitymanagerd-5.18.8</a></td>
   <td align="right">85kB</td>
   <td><tt>e2da0d96a4c51b723f8bbee4d7b6cde0a49e51d89beb99c71b0f0326a599c7c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kde-cli-tools-5.18.8.tar.xz">kde-cli-tools-5.18.8</a></td>
   <td align="right">572kB</td>
   <td><tt>82ef2a12f838e98eb6018d8c8eb1a66e041f65f4620f609ee109bb1b5b9329a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kdecoration-5.18.8.tar.xz">kdecoration-5.18.8</a></td>
   <td align="right">42kB</td>
   <td><tt>f8b69b76d0f8a699c0ebafe94c0db17333ce52009d284218b9eb315799f3ee64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kde-gtk-config-5.18.8.tar.xz">kde-gtk-config-5.18.8</a></td>
   <td align="right">24kB</td>
   <td><tt>8f379a728bc3d17587976a1f94a3b8c781994ee39bf80f51399f82d69e5e2042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kdeplasma-addons-5.18.8.tar.xz">kdeplasma-addons-5.18.8</a></td>
   <td align="right">612kB</td>
   <td><tt>5b11ded8ad2ccb3cca388e0ce5bc68430e98c327e7e7d15cf7b45e0125d10e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kgamma5-5.18.8.tar.xz">kgamma5-5.18.8</a></td>
   <td align="right">77kB</td>
   <td><tt>7362cc46436b624d5fb0d4cbc56239955db7557d607dcd0ec7e05e2f3daeccf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/khotkeys-5.18.8.tar.xz">khotkeys-5.18.8</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6953ad4a84d10ec5086442c5977c4adcdb52fbae15fce2503e8dc9f79bd10012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kinfocenter-5.18.8.tar.xz">kinfocenter-5.18.8</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5529e16ab05f9b5ef9deb5ee7b3a8ebb700a4c7b37ac7127c9e371f89e604feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kmenuedit-5.18.8.tar.xz">kmenuedit-5.18.8</a></td>
   <td align="right">789kB</td>
   <td><tt>7c98208895da57f0212116d396da91ce8693df1b0a8fd19577921e9fac11caa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kscreen-5.18.8.tar.xz">kscreen-5.18.8</a></td>
   <td align="right">110kB</td>
   <td><tt>0599ed1d7295c53549270bf44a23454a85aa73751073775e4a9c91d4ad877c82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kscreenlocker-5.18.8.tar.xz">kscreenlocker-5.18.8</a></td>
   <td align="right">122kB</td>
   <td><tt>e61fd1f7e4ff62ad5538ce8df382d841cd270960c75878b76971961a618f3ef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/ksshaskpass-5.18.8.tar.xz">ksshaskpass-5.18.8</a></td>
   <td align="right">21kB</td>
   <td><tt>4c534640087e047a634ba783b056b51d1c64136628cddac0926a525ee41bbc0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/ksysguard-5.18.8.tar.xz">ksysguard-5.18.8</a></td>
   <td align="right">500kB</td>
   <td><tt>51ad36003634f4204654a965b1afcef60c3dd0b96de9f3f325c082a36d6c5185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kwallet-pam-5.18.8.tar.xz">kwallet-pam-5.18.8</a></td>
   <td align="right">19kB</td>
   <td><tt>c864ef7a5fabec96eb09a5b24427f0b0d02638fae03530b205e6b5746bccd53b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kwayland-integration-5.18.8.tar.xz">kwayland-integration-5.18.8</a></td>
   <td align="right">19kB</td>
   <td><tt>e7e5ab1f75f6d7d62119e341207367ccb8cdec37fc2a127eb19b0d009f922591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kwin-5.18.8.tar.xz">kwin-5.18.8</a></td>
   <td align="right">5.9MB</td>
   <td><tt>4df964235e53600662bae9feb60a7c16f5746a89b4652df317c94532977f7470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/kwrited-5.18.8.tar.xz">kwrited-5.18.8</a></td>
   <td align="right">19kB</td>
   <td><tt>4d85ebb18674ed1750dfee73debe323da3506659501b3fe9d135833dd58d923a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/libkscreen-5.18.8.tar.xz">libkscreen-5.18.8</a></td>
   <td align="right">83kB</td>
   <td><tt>a8a0e515a715f5bf803fc58c3e314acec879a8914b8238952e7645fe479e0d81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/libksysguard-5.18.8.tar.xz">libksysguard-5.18.8</a></td>
   <td align="right">596kB</td>
   <td><tt>92e5e71693a6182b3a3a5e914507c94e53854e8c9fc9c1d5342574c5114df061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/milou-5.18.8.tar.xz">milou-5.18.8</a></td>
   <td align="right">62kB</td>
   <td><tt>f2dc28d218ad187e231cf12ac6ce7ba9d437157fb26f132676108435feb576f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/oxygen-5.18.8.tar.xz">oxygen-5.18.8</a></td>
   <td align="right">4.2MB</td>
   <td><tt>7850bd12a258d423b4fc827d0447e36d02ae6c64e87ed110c76c7de8197d1a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-browser-integration-5.18.8.tar.xz">plasma-browser-integration-5.18.8</a></td>
   <td align="right">171kB</td>
   <td><tt>353577915e2b9dcaf12e30041e28e8a9eeaa670953472c2a90b624df0875920f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-desktop-5.18.8.tar.xz">plasma-desktop-5.18.8</a></td>
   <td align="right">8.9MB</td>
   <td><tt>32276deae4975d62acae6f297dd85edb225e392de23eaba22bd61078ca0f8d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-integration-5.18.8.tar.xz">plasma-integration-5.18.8</a></td>
   <td align="right">56kB</td>
   <td><tt>c63b94f6403bd55093ba6a92ef6c00fe6a6068e92f0edeff3477b109b296f8ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-nm-5.18.8.tar.xz">plasma-nm-5.18.8</a></td>
   <td align="right">812kB</td>
   <td><tt>1e45334b07739d2297a22a3306b4c2960142d3beb0286e12932be2555e269eec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-pa-5.18.8.tar.xz">plasma-pa-5.18.8</a></td>
   <td align="right">102kB</td>
   <td><tt>2e6a769dd4a464af11a0f95bad8aac5aebe55ef72f30d835ad898bac43624ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-sdk-5.18.8.tar.xz">plasma-sdk-5.18.8</a></td>
   <td align="right">256kB</td>
   <td><tt>895550540a202c94131481181509093bdaa2e3ecbb2180307638c061ca647640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-tests-5.18.8.tar.xz">plasma-tests-5.18.8</a></td>
   <td align="right">1kB</td>
   <td><tt>cf28eafc3c27f72019845ad4e996b5db21a8d8d30eff447417b39c196df7dce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-thunderbolt-5.18.8.tar.xz">plasma-thunderbolt-5.18.8</a></td>
   <td align="right">50kB</td>
   <td><tt>0c89255b56c7f3fe8e9ac3ae199776882176b24cddca929f99f9a8bc024ff133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-vault-5.18.8.tar.xz">plasma-vault-5.18.8</a></td>
   <td align="right">135kB</td>
   <td><tt>546bde90c5225c0dd8fccb438cccaa1df7c30095a5451b1786fdf332300f6998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-workspace-5.18.8.tar.xz">plasma-workspace-5.18.8</a></td>
   <td align="right">5.4MB</td>
   <td><tt>90148599ae623cfb4a9aa3fb9fd2d490e75e04ac5c0058548826e1cd59ba4558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plasma-workspace-wallpapers-5.18.8.tar.xz">plasma-workspace-wallpapers-5.18.8</a></td>
   <td align="right">35MB</td>
   <td><tt>617cc31b74bf3b5a958ecac8116bb42a934490460427daf4d85dfacb7b05e49b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/plymouth-kcm-5.18.8.tar.xz">plymouth-kcm-5.18.8</a></td>
   <td align="right">41kB</td>
   <td><tt>bf83714bcd2db71cedf491825bb58217f599b645c7600d6c8926ba3e594f7b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/polkit-kde-agent-1-5.18.8.tar.xz">polkit-kde-agent-1-5.18.8</a></td>
   <td align="right">43kB</td>
   <td><tt>f31889a49da13b3d7f99caf03143e842dc49870214bad2fe8ae3fe1fffd2a2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/powerdevil-5.18.8.tar.xz">powerdevil-5.18.8</a></td>
   <td align="right">583kB</td>
   <td><tt>3b042329d4cd4ac082bfcbc52dd827ee2f6d5803ba47dfe21d5cf0211f9327a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/sddm-kcm-5.18.8.tar.xz">sddm-kcm-5.18.8</a></td>
   <td align="right">60kB</td>
   <td><tt>428037e7e705931e66152349b9fc785a7847ce5923c9e02fcc69592906944f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/systemsettings-5.18.8.tar.xz">systemsettings-5.18.8</a></td>
   <td align="right">173kB</td>
   <td><tt>efeb05d17998c009b0a5162b87b786aa8c408ed84a9d680cdc0a7ba312cff2c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/user-manager-5.18.8.tar.xz">user-manager-5.18.8</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4cf8d7ca65347028d2c0c8b67b927f2d1c404b4fbf92b21e50e5d9c7bb389a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.8/xdg-desktop-portal-kde-5.18.8.tar.xz">xdg-desktop-portal-kde-5.18.8</a></td>
   <td align="right">63kB</td>
   <td><tt>96e49fce3250fe44b464ea3bb5cba9a2363755dff3b32a58f66ac92c53ad57fd</tt></td>
</tr>

</table>
