<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/bluedevil-5.25.0.tar.xz">bluedevil-5.25.0</a></td>
   <td align="right">168kB</td>
   <td><tt>5bb483cccbf5a77af4ea96bad2f157466a7106e75d2a254e9affe8279def2aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/breeze-5.25.0.tar.xz">breeze-5.25.0</a></td>
   <td align="right">29MB</td>
   <td><tt>946cef6be6d9dd2de492faa3d82552a1a0951e7d74697219db1f5cad7421f04e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/breeze-grub-5.25.0.tar.xz">breeze-grub-5.25.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9c10e81148f8e7e5040cc42e6f0835004cc8a41bea8fb66ccb6d027bb518aac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/breeze-gtk-5.25.0.tar.xz">breeze-gtk-5.25.0</a></td>
   <td align="right">44kB</td>
   <td><tt>acae561d40712e0d42f4d9cbfd63f578b7db1c2f0475b7b0e25ee3671fd5de42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/breeze-plymouth-5.25.0.tar.xz">breeze-plymouth-5.25.0</a></td>
   <td align="right">108kB</td>
   <td><tt>9288c9ce7b9d21dced3f7d6af3902ee97eec015b088543bcba388b9612a778ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/discover-5.25.0.tar.xz">discover-5.25.0</a></td>
   <td align="right">7.9MB</td>
   <td><tt>d1e2e9bd5df7d53e46d701408a3ce4bac93dce32657b4d8be775b865fb864073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/drkonqi-5.25.0.tar.xz">drkonqi-5.25.0</a></td>
   <td align="right">472kB</td>
   <td><tt>d0a1c313c7fe647c7747c6140e80ad6ed282c73b04cc1d743b354d074fb77a88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kactivitymanagerd-5.25.0.tar.xz">kactivitymanagerd-5.25.0</a></td>
   <td align="right">104kB</td>
   <td><tt>75455cbdb0c285450e6966ae5d4df9792e93a67463d26c28af876890809399c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kde-cli-tools-5.25.0.tar.xz">kde-cli-tools-5.25.0</a></td>
   <td align="right">615kB</td>
   <td><tt>1ed773a023947146bb41da8e1ef0eb18dda8d36fd54fb105d63dd6efcf8a6c48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kdecoration-5.25.0.tar.xz">kdecoration-5.25.0</a></td>
   <td align="right">48kB</td>
   <td><tt>889d4f96e2d21bdb2cc3bf9205325913b8ba800a4c114db00502e6c5d646f4bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kde-gtk-config-5.25.0.tar.xz">kde-gtk-config-5.25.0</a></td>
   <td align="right">70kB</td>
   <td><tt>cb05437602c5ff59834b3e9fbbaca6a0d7232cdc41d49bda40fb402ef32ae4b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kdeplasma-addons-5.25.0.tar.xz">kdeplasma-addons-5.25.0</a></td>
   <td align="right">639kB</td>
   <td><tt>d91a61a9994311491bf661c9387001acbcf947e996eb7a6c1cb99d5dd2ebb744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kgamma5-5.25.0.tar.xz">kgamma5-5.25.0</a></td>
   <td align="right">82kB</td>
   <td><tt>40654022ea59f083fdfe5c1d95453b5c9d99a06940bdf6165b477e931b72f467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/khotkeys-5.25.0.tar.xz">khotkeys-5.25.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c108e5be8d847317ba32964bc236ada2814c3e8d612cd030cb5761eceac84e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kinfocenter-5.25.0.tar.xz">kinfocenter-5.25.0</a></td>
   <td align="right">714kB</td>
   <td><tt>e6422131e6a7e9d08db2c076498f9349dca78ec3ce206aca86f313791706f4f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kmenuedit-5.25.0.tar.xz">kmenuedit-5.25.0</a></td>
   <td align="right">881kB</td>
   <td><tt>32ec4af1c8c4ed4f23ece8410c14131a64f8dff9d6ab26c5bcdd8beaa1731520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kscreen-5.25.0.tar.xz">kscreen-5.25.0</a></td>
   <td align="right">139kB</td>
   <td><tt>0b8bdaf7d6a40e5fbe2e3058fb39c0a73d44405b03e4cc81a9f3479f2c10ca32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kscreenlocker-5.25.0.tar.xz">kscreenlocker-5.25.0</a></td>
   <td align="right">109kB</td>
   <td><tt>0e02659c52f697dd65f26e5801945c662e05f31e4eef193b6e249922c6392042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/ksshaskpass-5.25.0.tar.xz">ksshaskpass-5.25.0</a></td>
   <td align="right">24kB</td>
   <td><tt>702561d0dac450d74d45ecf013ede54eec6f295fff8fc3ff064d8392b97f762e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/ksystemstats-5.25.0.tar.xz">ksystemstats-5.25.0</a></td>
   <td align="right">96kB</td>
   <td><tt>51221dd18a96bf9fb94cc670524752f93173d8afe5a7892935b05515510a9d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kwallet-pam-5.25.0.tar.xz">kwallet-pam-5.25.0</a></td>
   <td align="right">19kB</td>
   <td><tt>f18b6897ba41f08f94e7023c114855e73605ee27aa931cb9397367ee0b8c9da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kwayland-integration-5.25.0.tar.xz">kwayland-integration-5.25.0</a></td>
   <td align="right">23kB</td>
   <td><tt>b3472a28568d1ad1d86d7183e0c34e3d64e09faaf346deeacaa54a44aaa3f651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kwin-5.25.0.tar.xz">kwin-5.25.0</a></td>
   <td align="right">6.3MB</td>
   <td><tt>5175c2532a84f234e6acb206de98b2cf2f3654ea5afd694061901c2679fd280f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/kwrited-5.25.0.tar.xz">kwrited-5.25.0</a></td>
   <td align="right">20kB</td>
   <td><tt>4b7f3f1c513028d91f65d16f8b44ba4f980889341aa430394177b569847baeb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/layer-shell-qt-5.25.0.tar.xz">layer-shell-qt-5.25.0</a></td>
   <td align="right">17kB</td>
   <td><tt>326d0df9d77ee5b48f19d5ad097d63bbc48dc8019b464d9f68f9d742e694d1f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/libkscreen-5.25.0.tar.xz">libkscreen-5.25.0</a></td>
   <td align="right">97kB</td>
   <td><tt>1bd542a19a4fefadb3fad1a59bb921b3578092ef5bc1d9ae4a42531ba2d5d82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/libksysguard-5.25.0.tar.xz">libksysguard-5.25.0</a></td>
   <td align="right">754kB</td>
   <td><tt>345790b3dab1d6b7e5f1ace8e2616517661a736c37b285578b959401b60441fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/milou-5.25.0.tar.xz">milou-5.25.0</a></td>
   <td align="right">47kB</td>
   <td><tt>b47d5c67190ed1910a22d8bca9b307ee9b4ca7f41f10681e00bf19eb1107d598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/oxygen-5.25.0.tar.xz">oxygen-5.25.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>4eab0189468bd0bd56f7f0f8ed77bf42e9e1d6b406036b3c90001e10ff80084f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/oxygen-sounds-5.25.0.tar.xz">oxygen-sounds-5.25.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6409d465067118834fd698e7ae64ac7fdd25f9687fdff58bb4ff4a3b8b7364e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-browser-integration-5.25.0.tar.xz">plasma-browser-integration-5.25.0</a></td>
   <td align="right">217kB</td>
   <td><tt>857337399f18bcb0d75a0a54722e47ece43b6c4181e9c95dd25263ca21eb8ae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-desktop-5.25.0.tar.xz">plasma-desktop-5.25.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>63d3c1f0901a8add1491fd66360310207a466cfbd2b37bf6f01388b3af9168c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-disks-5.25.0.tar.xz">plasma-disks-5.25.0</a></td>
   <td align="right">88kB</td>
   <td><tt>c8588fa42f995f003d880f38451c3fae8e86946492532a7bbbf15cf0e33adf81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-firewall-5.25.0.tar.xz">plasma-firewall-5.25.0</a></td>
   <td align="right">347kB</td>
   <td><tt>ace179a102fd97985fd481965df5e16e0bb402889448c6c7e0499deca8811455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-integration-5.25.0.tar.xz">plasma-integration-5.25.0</a></td>
   <td align="right">84kB</td>
   <td><tt>b81c725cd94bc7e56aae560f00c00c0e85e753b0941624d6ce817727194f06a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-mobile-5.25.0.tar.xz">plasma-mobile-5.25.0</a></td>
   <td align="right">142kB</td>
   <td><tt>a829c10b200a815ad790311c3ffdc0ffaf613698ef062530523f0e8bd61fa601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-nano-5.25.0.tar.xz">plasma-nano-5.25.0</a></td>
   <td align="right">66kB</td>
   <td><tt>dff79e092d6ca7bf2e8e5a49fee7c0fe633bcfcd1c970e4eb58df6f0f1899341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-nm-5.25.0.tar.xz">plasma-nm-5.25.0</a></td>
   <td align="right">915kB</td>
   <td><tt>4d99e1d6445ed3dc0309e9cd99e6a5e600a4e30d63a857990c355ca52d066580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-pa-5.25.0.tar.xz">plasma-pa-5.25.0</a></td>
   <td align="right">131kB</td>
   <td><tt>a892332c093800022b96028eabe16a2d2a7fecffbcb6a904a018f98c8027176a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-sdk-5.25.0.tar.xz">plasma-sdk-5.25.0</a></td>
   <td align="right">257kB</td>
   <td><tt>395105b41cf6417855cf37243a26bb6f03a3023a973a4f63b2acb572bb7fe27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-systemmonitor-5.25.0.tar.xz">plasma-systemmonitor-5.25.0</a></td>
   <td align="right">152kB</td>
   <td><tt>d9493c828845f5b32aeabb6b91e39f8fa52b175b4a7671c32840110621fe308c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-tests-5.25.0.tar.xz">plasma-tests-5.25.0</a></td>
   <td align="right">1kB</td>
   <td><tt>58b216bb8e093d5dfc9df37fd44e4aeda8fe1dd957d9b20524875a7dc373f3b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-thunderbolt-5.25.0.tar.xz">plasma-thunderbolt-5.25.0</a></td>
   <td align="right">66kB</td>
   <td><tt>112a07b0649197ff54d4a66b525a0ec1dce8d424fe052de9d3c2284858cd0112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-vault-5.25.0.tar.xz">plasma-vault-5.25.0</a></td>
   <td align="right">173kB</td>
   <td><tt>787f0014f303c97fd70cfb1e2be186d161a108903a5434a35f5fd9bf9cddd8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-workspace-5.25.0.tar.xz">plasma-workspace-5.25.0</a></td>
   <td align="right">17MB</td>
   <td><tt>565462d89e60fcbede133ceaf4fa75a92702187acdb291dbc8b9e1b90d077bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plasma-workspace-wallpapers-5.25.0.tar.xz">plasma-workspace-wallpapers-5.25.0</a></td>
   <td align="right">71MB</td>
   <td><tt>e0acf94d4b583d55d9e801e39df459cdc19da9b4bcd729eadfc333a246717853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/plymouth-kcm-5.25.0.tar.xz">plymouth-kcm-5.25.0</a></td>
   <td align="right">39kB</td>
   <td><tt>a59f83a483ea28bdaee7bfa1cf697928b703ed448a9c5f7a5860ed2a3eced840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/polkit-kde-agent-1-5.25.0.tar.xz">polkit-kde-agent-1-5.25.0</a></td>
   <td align="right">47kB</td>
   <td><tt>69e2c35de52928d0b1845e21547cd5cfce1c8a95fdeb05ad1a4708db0d89035e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/powerdevil-5.25.0.tar.xz">powerdevil-5.25.0</a></td>
   <td align="right">620kB</td>
   <td><tt>71b63a3135d60e2ad172cf72c2d095014b2ed97b8406124118ae6f410bb30fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/qqc2-breeze-style-5.25.0.tar.xz">qqc2-breeze-style-5.25.0</a></td>
   <td align="right">64kB</td>
   <td><tt>9f11e25986e20eb37e31c10bcac03d47a451306105b181d21babb99cd3fc824b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/sddm-kcm-5.25.0.tar.xz">sddm-kcm-5.25.0</a></td>
   <td align="right">79kB</td>
   <td><tt>c4b1ed917608d662c8fee6b507fcdfc399fa1073d36293630164dcaa71004156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/systemsettings-5.25.0.tar.xz">systemsettings-5.25.0</a></td>
   <td align="right">201kB</td>
   <td><tt>cfb66826edbbfe846d47136aa56446f2fa7e6841591e85a128b3c7f3e2037da8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.0/xdg-desktop-portal-kde-5.25.0.tar.xz">xdg-desktop-portal-kde-5.25.0</a></td>
   <td align="right">101kB</td>
   <td><tt>1521ba6bdf8ead350c879a053117e2150d38f647b9d6fcb441dba36fe9bb6298</tt></td>
</tr>

</table>
