<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/bluedevil-5.9.3.tar.xz">bluedevil-5.9.3</a></td>
   <td align="right">140kB</td>
   <td><tt>8d2e8327f318c387d6d1c0d166c339fbf3d71cc711f65b358b4e98c6e004d331</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/breeze-5.9.3.tar.xz">breeze-5.9.3</a></td>
   <td align="right">29MB</td>
   <td><tt>a0971024c1609e8613e543aa26c558f3401dd88d9c1694515d564396fc3c3038</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/breeze-grub-5.9.3.tar.xz">breeze-grub-5.9.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>89c0175a2b3ea4881f5c7683d3492d82f723261b8983c32ed8c81517a4af7bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/breeze-gtk-5.9.3.tar.xz">breeze-gtk-5.9.3</a></td>
   <td align="right">206kB</td>
   <td><tt>4658052abd99fedbb28ab5d6b5815e6bfa770904b8d37c1bf3a2e44729270a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/breeze-plymouth-5.9.3.tar.xz">breeze-plymouth-5.9.3</a></td>
   <td align="right">94kB</td>
   <td><tt>b50a4dce450628008c3ded99b7e4a84ad2d654f38a65373381035038fa83e06f</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/discover-5.9.3.tar.xz">discover-5.9.3</a></td>
   <td align="right">9.2MB</td>
   <td><tt>0e80a405ec7ad0b9d098e24aa2264f3482aefb70d2de6500a9be7c4926026e76</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kactivitymanagerd-5.9.3.tar.xz">kactivitymanagerd-5.9.3</a></td>
   <td align="right">81kB</td>
   <td><tt>9990aa0da6e7c9608b8fcec91c15d3a48b7997cfa7715cbca412122ce3f08b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kde-cli-tools-5.9.3.tar.xz">kde-cli-tools-5.9.3</a></td>
   <td align="right">489kB</td>
   <td><tt>0a5470bdd4d6fc5469aeabe72eef6dda05433cec632bd30482dece2ad3953fdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kdecoration-5.9.3.tar.xz">kdecoration-5.9.3</a></td>
   <td align="right">34kB</td>
   <td><tt>29120c9263ad4913d20667337bddcb39940cd776ad1c171559b9268715a567fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kde-gtk-config-5.9.3.tar.xz">kde-gtk-config-5.9.3</a></td>
   <td align="right">147kB</td>
   <td><tt>d9bc376a01fcd7df852ef7ce175b145060742c4ab4f46651110504ccf31ab3f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kdeplasma-addons-5.9.3.tar.xz">kdeplasma-addons-5.9.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>434b135cfcfa828160ad13a4afb5ad22cd439519328ae8abc7e2b4ec54d66ecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kgamma5-5.9.3.tar.xz">kgamma5-5.9.3</a></td>
   <td align="right">59kB</td>
   <td><tt>619760d69286e76bff9ff926acbd0c893768f48f1a1192ce3a9bc9575890430b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/khotkeys-5.9.3.tar.xz">khotkeys-5.9.3</a></td>
   <td align="right">591kB</td>
   <td><tt>8e5a3d408613c14fc6bb044bd8107e5460a1e76df6efe470099405d06f3e674b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kinfocenter-5.9.3.tar.xz">kinfocenter-5.9.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>caf87ff53a91240d3739dfcf57f7e68db45d0e87e100565843009ce364c6ea93</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kmenuedit-5.9.3.tar.xz">kmenuedit-5.9.3</a></td>
   <td align="right">637kB</td>
   <td><tt>f31710fc14d046222a1008e7f8884cb651bd0fee5a92def40d0360697c54f6d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kscreen-5.9.3.tar.xz">kscreen-5.9.3</a></td>
   <td align="right">110kB</td>
   <td><tt>6b85e95756830cc39803c1e76773bf6e830c0c54a13ee2092c6f662c1f8c6cfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kscreenlocker-5.9.3.tar.xz">kscreenlocker-5.9.3</a></td>
   <td align="right">105kB</td>
   <td><tt>2af875ce9112ef554ced3cb386d3274cb19300a3126b9478f407fc17ae7b9731</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/ksshaskpass-5.9.3.tar.xz">ksshaskpass-5.9.3</a></td>
   <td align="right">19kB</td>
   <td><tt>1c0ab2d4550ba860a492f8b2930283a59d3261ac1797480795122b615799664a</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/ksysguard-5.9.3.tar.xz">ksysguard-5.9.3</a></td>
   <td align="right">476kB</td>
   <td><tt>8a51eadd87124864fbb31ea400ba518740d72ae2f073579f173710a838bb5e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kwallet-pam-5.9.3.tar.xz">kwallet-pam-5.9.3</a></td>
   <td align="right">17kB</td>
   <td><tt>ca5ea6c5a76814be3e4234592281dd38ed11c8d767975f5e6623077bcd75bade</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kwayland-integration-5.9.3.tar.xz">kwayland-integration-5.9.3</a></td>
   <td align="right">17kB</td>
   <td><tt>67fdfa7248682184da01bc8d3b2a38a2c92427e141e09b6da07b5210b6cf6ce4</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kwin-5.9.3.tar.xz">kwin-5.9.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>13f64ec29268dc1e167548d7943e943abb57905e97844d4ace5a972e0ef12c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/kwrited-5.9.3.tar.xz">kwrited-5.9.3</a></td>
   <td align="right">19kB</td>
   <td><tt>1825496d9af3dbeb921c04a1f2de62526fd7955daaa0bd11f1b49b4adad53852</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/libkscreen-5.9.3.tar.xz">libkscreen-5.9.3</a></td>
   <td align="right">91kB</td>
   <td><tt>eb19e488e495391c557eaaadc4943cfb4ad683687bb855c8b9be4e906b5fb0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/libksysguard-5.9.3.tar.xz">libksysguard-5.9.3</a></td>
   <td align="right">561kB</td>
   <td><tt>2f9aedeeaeb616cdd6ea90156a85e2b4fb6981e01dd0da7c3c2f2bae98cf473a</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/milou-5.9.3.tar.xz">milou-5.9.3</a></td>
   <td align="right">53kB</td>
   <td><tt>c375e1170e872822f020eb87dd23e76721491b4ff49d3d2b7615fc5b3f4bb3de</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/oxygen-5.9.3.tar.xz">oxygen-5.9.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>2a9697811a771c699da8ea34461c4173882cdc7f91eb8ec8fa30509a2e4fa2ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/plasma-desktop-5.9.3.tar.xz">plasma-desktop-5.9.3</a></td>
   <td align="right">5.7MB</td>
   <td><tt>351eb8d4d1b78c5a18051d7c3f7443bfa8d46dc09714d62b19a8846683b00215</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/plasma-integration-5.9.3.tar.xz">plasma-integration-5.9.3</a></td>
   <td align="right">48kB</td>
   <td><tt>d47e5346d62635d95cc18e95511d600f9eb06d68ca5f2b8c1715588d358803fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/plasma-nm-5.9.3.tar.xz">plasma-nm-5.9.3</a></td>
   <td align="right">653kB</td>
   <td><tt>c6b8bcb0bf0562cc57430ab1d02489746a8c126f0cc465a05c8ccf1a9795adc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/plasma-pa-5.9.3.tar.xz">plasma-pa-5.9.3</a></td>
   <td align="right">68kB</td>
   <td><tt>0158de76ef968a821431b18e3a325d7f316d289af74e0e09fff43c53ed1a282f</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/plasma-sdk-5.9.3.tar.xz">plasma-sdk-5.9.3</a></td>
   <td align="right">705kB</td>
   <td><tt>2bff3ede9fcf7c6e96b7a8d845487cc28a02d096778dfbe9b35836c896879980</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/plasma-tests-5.9.3.tar.xz">plasma-tests-5.9.3</a></td>
   <td align="right">1kB</td>
   <td><tt>f7ffa799a11a791917cf5f10eff0587f13802d8782db075d617f4b9f9475ebf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/plasma-workspace-5.9.3.tar.xz">plasma-workspace-5.9.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>6f9ba698efeba4b66f6c0d2efa5b109030e8baf971fae2033fbff069b119cb52</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/plasma-workspace-wallpapers-5.9.3.tar.xz">plasma-workspace-wallpapers-5.9.3</a></td>
   <td align="right">43MB</td>
   <td><tt>60f5dfd7a6c9cf4faa07182fbfd9e07742ae7ed4183afa464e16166b039172c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/polkit-kde-agent-1-5.9.3.tar.xz">polkit-kde-agent-1-5.9.3</a></td>
   <td align="right">40kB</td>
   <td><tt>586c2eae15c1b6406da428595e01d2e404362b72c7b6a2941ae0e2359e72ca4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/powerdevil-5.9.3.tar.xz">powerdevil-5.9.3</a></td>
   <td align="right">350kB</td>
   <td><tt>b2abb0b6169b928878e64eb575f0784e809a8693b6240bba2edabac99eadf0ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/sddm-kcm-5.9.3.tar.xz">sddm-kcm-5.9.3</a></td>
   <td align="right">55kB</td>
   <td><tt>80fab96c3a3d5861ca7edb3b5f418860a709467f063b944e2a64976e99505690</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/systemsettings-5.9.3.tar.xz">systemsettings-5.9.3</a></td>
   <td align="right">154kB</td>
   <td><tt>0c2f79e2bceb0efd7143da0e3abfc09fce18bfc70fb7f2c30fbf8574e7da3096</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma/5.9.3/user-manager-5.9.3.tar.xz">user-manager-5.9.3</a></td>
   <td align="right">531kB</td>
   <td><tt>f681e5df558b50bf7f8273a0ed8a77119d2a24e6744697a0bf19b31ce0fb21e9</tt></td>
</tr>

</table>
