<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akonadi-21.08.1.tar.xz">akonadi-21.08.1</a></td>
   <td align="right">1570kB</td>
   <td><tt>ab8a3f5405da151141f5c4ecc8720a522c2a9e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akonadi-calendar-21.08.1.tar.xz">akonadi-calendar-21.08.1</a></td>
   <td align="right">344kB</td>
   <td><tt>bef508802e7e62fd294c7af2e2442a660b5203c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akonadi-calendar-tools-21.08.1.tar.xz">akonadi-calendar-tools-21.08.1</a></td>
   <td align="right">230kB</td>
   <td><tt>6d32ce4f39d8df2958748f4a11e8cd976074e0a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akonadiconsole-21.08.1.tar.xz">akonadiconsole-21.08.1</a></td>
   <td align="right">196kB</td>
   <td><tt>5488b0381829646cfa2e185542df460ae349a6a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akonadi-contacts-21.08.1.tar.xz">akonadi-contacts-21.08.1</a></td>
   <td align="right">411kB</td>
   <td><tt>0a45f1032d6c06f398b1c60ffb848a10b06601db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akonadi-import-wizard-21.08.1.tar.xz">akonadi-import-wizard-21.08.1</a></td>
   <td align="right">499kB</td>
   <td><tt>c326f04674a374c2075c343152338509d1cb061e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akonadi-mime-21.08.1.tar.xz">akonadi-mime-21.08.1</a></td>
   <td align="right">137kB</td>
   <td><tt>1ae9959e2f553a5ec74fb1f46079dd22b1d5b5a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akonadi-notes-21.08.1.tar.xz">akonadi-notes-21.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>8a83481e3ba251c890df5f42b8a2db612a1ba063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akonadi-search-21.08.1.tar.xz">akonadi-search-21.08.1</a></td>
   <td align="right">95kB</td>
   <td><tt>abd204514951f4a51e9a76d6e832c7dbd4a2b39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/akregator-21.08.1.tar.xz">akregator-21.08.1</a></td>
   <td align="right">2193kB</td>
   <td><tt>dadeb63d3eeb66ad0a4d05d57c1d4abc517e7bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/analitza-21.08.1.tar.xz">analitza-21.08.1</a></td>
   <td align="right">338kB</td>
   <td><tt>1a01fb2484cd62b414476309b4a6cc01cf84527d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ark-21.08.1.tar.xz">ark-21.08.1</a></td>
   <td align="right">2704kB</td>
   <td><tt>01b43ed2476f919bbf99fa1029962c85013afa24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/artikulate-21.08.1.tar.xz">artikulate-21.08.1</a></td>
   <td align="right">1064kB</td>
   <td><tt>8d4ff190fd2e94cd1c63c2656bb0ae1da216fd18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/audiocd-kio-21.08.1.tar.xz">audiocd-kio-21.08.1</a></td>
   <td align="right">510kB</td>
   <td><tt>88fca48eb33b5c5e47028be1905a7f9fe058d713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/baloo-widgets-21.08.1.tar.xz">baloo-widgets-21.08.1</a></td>
   <td align="right">256kB</td>
   <td><tt>61cbfc3e120f75a1ffb0b53ff36e4c1a25bbe25b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/blinken-21.08.1.tar.xz">blinken-21.08.1</a></td>
   <td align="right">2650kB</td>
   <td><tt>7ca504d023bcf18e0f1cabb574929e87a729cebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/bomber-21.08.1.tar.xz">bomber-21.08.1</a></td>
   <td align="right">811kB</td>
   <td><tt>a26251a2ecf89cedec5169630bc93e9ea2d3aa01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/bovo-21.08.1.tar.xz">bovo-21.08.1</a></td>
   <td align="right">203kB</td>
   <td><tt>7e23fd7a90a98f759be595bda65b5aa903c98eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/calendarsupport-21.08.1.tar.xz">calendarsupport-21.08.1</a></td>
   <td align="right">747kB</td>
   <td><tt>1219f1a89fe59b44523eb17578c78fa1b765b235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/cantor-21.08.1.tar.xz">cantor-21.08.1</a></td>
   <td align="right">8966kB</td>
   <td><tt>ad35bedee56551d89f818ee6c67c2be2331db327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/cervisia-21.08.1.tar.xz">cervisia-21.08.1</a></td>
   <td align="right">1866kB</td>
   <td><tt>0a5c254a0ab91a59213264e594a08b5b36f3c418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/dolphin-21.08.1.tar.xz">dolphin-21.08.1</a></td>
   <td align="right">5177kB</td>
   <td><tt>9c25c1ed7f0cabaf6f0964ed04704155b1118e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/dolphin-plugins-21.08.1.tar.xz">dolphin-plugins-21.08.1</a></td>
   <td align="right">246kB</td>
   <td><tt>55587100d6d11f9fe499c22220fa903e2184da3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/dragon-21.08.1.tar.xz">dragon-21.08.1</a></td>
   <td align="right">1626kB</td>
   <td><tt>be7cea6f6994193b813b61b9795d7cd72e44cbfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/elisa-21.08.1.tar.xz">elisa-21.08.1</a></td>
   <td align="right">1697kB</td>
   <td><tt>4e21d5eaff4a42b1966f0417ac2b30f6add88d6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/eventviews-21.08.1.tar.xz">eventviews-21.08.1</a></td>
   <td align="right">440kB</td>
   <td><tt>48146671b8dbca65b49d3069785384852c6ead66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ffmpegthumbs-21.08.1.tar.xz">ffmpegthumbs-21.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>4b35349ea9e99efa761f602e60329e68c0ad0e4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/filelight-21.08.1.tar.xz">filelight-21.08.1</a></td>
   <td align="right">667kB</td>
   <td><tt>bdcfac44229bae16b442984d80a8f97e90b5c0c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/granatier-21.08.1.tar.xz">granatier-21.08.1</a></td>
   <td align="right">2046kB</td>
   <td><tt>b173f4716ad56eb7866f6ccd33791a25b2a83adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/grantlee-editor-21.08.1.tar.xz">grantlee-editor-21.08.1</a></td>
   <td align="right">108kB</td>
   <td><tt>623985616daeb1e2613bd18ead7696123f1ed1f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/grantleetheme-21.08.1.tar.xz">grantleetheme-21.08.1</a></td>
   <td align="right">58kB</td>
   <td><tt>101207bb4fd3163080f08ffc5c335c2a77db5014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/gwenview-21.08.1.tar.xz">gwenview-21.08.1</a></td>
   <td align="right">6658kB</td>
   <td><tt>55084458582e020e585f0095a265312692228350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/incidenceeditor-21.08.1.tar.xz">incidenceeditor-21.08.1</a></td>
   <td align="right">531kB</td>
   <td><tt>ed54c57262757874b1153709c247d16e67739748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/itinerary-21.08.1.tar.xz">itinerary-21.08.1</a></td>
   <td align="right">405kB</td>
   <td><tt>b4a4cf97ac8b6d0b78009264c1d28f01e3b2fef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/juk-21.08.1.tar.xz">juk-21.08.1</a></td>
   <td align="right">1966kB</td>
   <td><tt>c7d9a24990fc6577f2265675c5b7b33778e77ec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/k3b-21.08.1.tar.xz">k3b-21.08.1</a></td>
   <td align="right">10494kB</td>
   <td><tt>f2644274aa9b3ca3fc64d8a26163ca1bd90814d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kaccounts-integration-21.08.1.tar.xz">kaccounts-integration-21.08.1</a></td>
   <td align="right">84kB</td>
   <td><tt>5307f49fae9e25e0763fbaa254e33d0b7daaed2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kaccounts-providers-21.08.1.tar.xz">kaccounts-providers-21.08.1</a></td>
   <td align="right">61kB</td>
   <td><tt>d84d94c6507593b9d466533e1f7ed3952462a079</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kaddressbook-21.08.1.tar.xz">kaddressbook-21.08.1</a></td>
   <td align="right">3247kB</td>
   <td><tt>3aea19cdc5ef18d9b5de205a80544d7e75d5a550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kajongg-21.08.1.tar.xz">kajongg-21.08.1</a></td>
   <td align="right">4453kB</td>
   <td><tt>a9473cc6ce6bf3fbc97fbd70f9a2af55f4a45601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kalarm-21.08.1.tar.xz">kalarm-21.08.1</a></td>
   <td align="right">2105kB</td>
   <td><tt>de48f256ded5d932f31005458be9b2b3c7b6ba6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kalarmcal-21.08.1.tar.xz">kalarmcal-21.08.1</a></td>
   <td align="right">614kB</td>
   <td><tt>457e55e8e754be37a2f7683ce799864e7e7a9b93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kalgebra-21.08.1.tar.xz">kalgebra-21.08.1</a></td>
   <td align="right">1002kB</td>
   <td><tt>eba56f5f860cca50ef76ead50539b6d951ce5b52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kalzium-21.08.1.tar.xz">kalzium-21.08.1</a></td>
   <td align="right">24016kB</td>
   <td><tt>36d628eb89bcc5ada46cb4f6cb61128b4740da44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kamera-21.08.1.tar.xz">kamera-21.08.1</a></td>
   <td align="right">113kB</td>
   <td><tt>1f184a9d215a93f6051ca9350b4817c3567b341d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kamoso-21.08.1.tar.xz">kamoso-21.08.1</a></td>
   <td align="right">209kB</td>
   <td><tt>ba0d1a1718b13ec85e3988c622c276257ae49080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kanagram-21.08.1.tar.xz">kanagram-21.08.1</a></td>
   <td align="right">7851kB</td>
   <td><tt>ebe79faea5bb20ffc6c1cb90a4eccfc055c083b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kapman-21.08.1.tar.xz">kapman-21.08.1</a></td>
   <td align="right">2414kB</td>
   <td><tt>0e7831a80b454718fdc1cee06b4f1afaddb0766e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kapptemplate-21.08.1.tar.xz">kapptemplate-21.08.1</a></td>
   <td align="right">326kB</td>
   <td><tt>2759345aac7288c18f18ea11654277918009228b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kate-21.08.1.tar.xz">kate-21.08.1</a></td>
   <td align="right">7118kB</td>
   <td><tt>f6f19adbdf19675c8556c71b85b4d74ccd1b1d2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/katomic-21.08.1.tar.xz">katomic-21.08.1</a></td>
   <td align="right">1400kB</td>
   <td><tt>b76a88348480118acd949cc95a8887525a67a480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kbackup-21.08.1.tar.xz">kbackup-21.08.1</a></td>
   <td align="right">379kB</td>
   <td><tt>452b2a465d2fa4eda0e82dca97cad36bd168d312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kblackbox-21.08.1.tar.xz">kblackbox-21.08.1</a></td>
   <td align="right">511kB</td>
   <td><tt>6f587d5a31453bd4161a3b71c079540af560d25c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kblocks-21.08.1.tar.xz">kblocks-21.08.1</a></td>
   <td align="right">2050kB</td>
   <td><tt>6457911ac11325abb06e0222062b36e22f1b7506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kbounce-21.08.1.tar.xz">kbounce-21.08.1</a></td>
   <td align="right">3445kB</td>
   <td><tt>887dff4a51306432a1eab7be7d2a2db40e0c478d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kbreakout-21.08.1.tar.xz">kbreakout-21.08.1</a></td>
   <td align="right">2494kB</td>
   <td><tt>0fcfd1be243b44e2de455644dd2052a257a86896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kbruch-21.08.1.tar.xz">kbruch-21.08.1</a></td>
   <td align="right">5496kB</td>
   <td><tt>1722f80946694461c82021644bfbe3dc354cd074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kcachegrind-21.08.1.tar.xz">kcachegrind-21.08.1</a></td>
   <td align="right">834kB</td>
   <td><tt>b961bc746fc10cc444adc6d87297c4aac9697922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kcalc-21.08.1.tar.xz">kcalc-21.08.1</a></td>
   <td align="right">370kB</td>
   <td><tt>40f16be0ad9501192943b9e848b649d7c14d353e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kcalutils-21.08.1.tar.xz">kcalutils-21.08.1</a></td>
   <td align="right">329kB</td>
   <td><tt>1aed7f5c591de2c2d07ef744e18a7f13620e521b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kcharselect-21.08.1.tar.xz">kcharselect-21.08.1</a></td>
   <td align="right">360kB</td>
   <td><tt>1d19ddbe77547ef397880ae87dc917ad32afa598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kcolorchooser-21.08.1.tar.xz">kcolorchooser-21.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>86ac3020738c5f22e751ce7dee3b58a172b565b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kcron-21.08.1.tar.xz">kcron-21.08.1</a></td>
   <td align="right">889kB</td>
   <td><tt>387767710003f20cb0407a43aa42e02009cc3589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdebugsettings-21.08.1.tar.xz">kdebugsettings-21.08.1</a></td>
   <td align="right">88kB</td>
   <td><tt>32386ca8a8a0b274c3aa3c85d7e8c34a43c75e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdeconnect-kde-21.08.1.tar.xz">kdeconnect-kde-21.08.1</a></td>
   <td align="right">575kB</td>
   <td><tt>49a818e999f48af17e9151a035a087e0d5cd5466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kde-dev-scripts-21.08.1.tar.xz">kde-dev-scripts-21.08.1</a></td>
   <td align="right">357kB</td>
   <td><tt>1e383e23afb8db79ac6658f8a0b958df204207b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kde-dev-utils-21.08.1.tar.xz">kde-dev-utils-21.08.1</a></td>
   <td align="right">67kB</td>
   <td><tt>d330bb1515f7a4f3f62e580f5ef22e6425f195cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdeedu-data-21.08.1.tar.xz">kdeedu-data-21.08.1</a></td>
   <td align="right">327kB</td>
   <td><tt>2683c578f5d4fdedd3ca3cc82a4344b3cbfb7258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdegraphics-mobipocket-21.08.1.tar.xz">kdegraphics-mobipocket-21.08.1</a></td>
   <td align="right">16kB</td>
   <td><tt>b8938807916248fc1cb5c76a64ee471dfb127e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdegraphics-thumbnailers-21.08.1.tar.xz">kdegraphics-thumbnailers-21.08.1</a></td>
   <td align="right">46kB</td>
   <td><tt>ae3f6e28ad5ae73898454ce9f190a0e818d47ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdenetwork-filesharing-21.08.1.tar.xz">kdenetwork-filesharing-21.08.1</a></td>
   <td align="right">369kB</td>
   <td><tt>cce0f67039fc0077648d43ccde79523e52424e2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdenlive-21.08.1.tar.xz">kdenlive-21.08.1</a></td>
   <td align="right">11533kB</td>
   <td><tt>d01c04e6b893378445440ac4028510ec828bd60f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdepim-addons-21.08.1.tar.xz">kdepim-addons-21.08.1</a></td>
   <td align="right">2224kB</td>
   <td><tt>a2ef8fa0c9ff6c6b607a3e856b77488f997b08a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdepim-runtime-21.08.1.tar.xz">kdepim-runtime-21.08.1</a></td>
   <td align="right">1779kB</td>
   <td><tt>bc1a8a15820dad7be658338852da06acfe88ceba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdesdk-kioslaves-21.08.1.tar.xz">kdesdk-kioslaves-21.08.1</a></td>
   <td align="right">38kB</td>
   <td><tt>f3a1dbbad8d69dacab71a326e6cba9234e26dbb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdesdk-thumbnailers-21.08.1.tar.xz">kdesdk-thumbnailers-21.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>b975a3f365c61b6c437f5301dd7d6b5ec425a422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdf-21.08.1.tar.xz">kdf-21.08.1</a></td>
   <td align="right">462kB</td>
   <td><tt>8d7431d84a0111eb91509996cf51367592eae0b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdialog-21.08.1.tar.xz">kdialog-21.08.1</a></td>
   <td align="right">112kB</td>
   <td><tt>c56fb0373624819f1f1c66dc0d48aab37ce79301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kdiamond-21.08.1.tar.xz">kdiamond-21.08.1</a></td>
   <td align="right">4589kB</td>
   <td><tt>bb91ef3ea4d1ad4040c5410539ad6d3c487bbb9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/keditbookmarks-21.08.1.tar.xz">keditbookmarks-21.08.1</a></td>
   <td align="right">197kB</td>
   <td><tt>e935d37fdd281502d3da8dbe3e1374a7664847ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kfind-21.08.1.tar.xz">kfind-21.08.1</a></td>
   <td align="right">279kB</td>
   <td><tt>2474822c8f35cf123c6aafc54155fd99058d657b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kfloppy-21.08.1.tar.xz">kfloppy-21.08.1</a></td>
   <td align="right">206kB</td>
   <td><tt>45f6f2026f70fda5c9f71d9eca8c2a71573b582e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kfourinline-21.08.1.tar.xz">kfourinline-21.08.1</a></td>
   <td align="right">702kB</td>
   <td><tt>e179fbbe956f1c1f75f50fec561e8de071ed9556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kgeography-21.08.1.tar.xz">kgeography-21.08.1</a></td>
   <td align="right">10744kB</td>
   <td><tt>b140a83acfe4692e086e2b927ff0ab752e99c8f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kget-21.08.1.tar.xz">kget-21.08.1</a></td>
   <td align="right">5502kB</td>
   <td><tt>f86df96109d2754f7a9d82342e810b17dddbbfb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kgoldrunner-21.08.1.tar.xz">kgoldrunner-21.08.1</a></td>
   <td align="right">4656kB</td>
   <td><tt>e9a77b56cd80b613d0dacefbe72f8ef5e4069fd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kgpg-21.08.1.tar.xz">kgpg-21.08.1</a></td>
   <td align="right">2877kB</td>
   <td><tt>d95bcec80df28e8a02e05c2912e9af61cba1d2f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/khangman-21.08.1.tar.xz">khangman-21.08.1</a></td>
   <td align="right">7253kB</td>
   <td><tt>7bc8d94233b34cd437e7a459f37459da72be792c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/khelpcenter-21.08.1.tar.xz">khelpcenter-21.08.1</a></td>
   <td align="right">4190kB</td>
   <td><tt>beb4bafa5585db054bffdb1cadef779f5d0a4af5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kidentitymanagement-21.08.1.tar.xz">kidentitymanagement-21.08.1</a></td>
   <td align="right">153kB</td>
   <td><tt>8067fdaa3ffbce3ece5560b6facc83bcb828c694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kig-21.08.1.tar.xz">kig-21.08.1</a></td>
   <td align="right">3100kB</td>
   <td><tt>52192a48cdf2a79906a198308835bbb020d972e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kigo-21.08.1.tar.xz">kigo-21.08.1</a></td>
   <td align="right">5128kB</td>
   <td><tt>c2a5682eae2b393abdfd7aa6734f2dd29c19abec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/killbots-21.08.1.tar.xz">killbots-21.08.1</a></td>
   <td align="right">1165kB</td>
   <td><tt>42d512c6b3b87007d794b4b746c67e2a7c8ce254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kimagemapeditor-21.08.1.tar.xz">kimagemapeditor-21.08.1</a></td>
   <td align="right">1063kB</td>
   <td><tt>65827119d37469447a46639adf1eccf4e388c9f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kimap-21.08.1.tar.xz">kimap-21.08.1</a></td>
   <td align="right">124kB</td>
   <td><tt>34d14215c94abe5bbd24fca18fa41e495a1f7d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kio-extras-21.08.1.tar.xz">kio-extras-21.08.1</a></td>
   <td align="right">612kB</td>
   <td><tt>ec5c53ad4e46161397b6a0ee39a86ccbec1020c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kio-gdrive-21.08.1.tar.xz">kio-gdrive-21.08.1</a></td>
   <td align="right">67kB</td>
   <td><tt>b82503f5aebe0618aec44f0c739bdefc4d82af73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kipi-plugins-21.08.1.tar.xz">kipi-plugins-21.08.1</a></td>
   <td align="right">1509kB</td>
   <td><tt>6a5bc10b1a7a07e2ba92087e6d40543838e42cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kirigami-gallery-21.08.1.tar.xz">kirigami-gallery-21.08.1</a></td>
   <td align="right">321kB</td>
   <td><tt>ccbe43da726f3e435a57b6fdfeb2839a1a1b652d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kiriki-21.08.1.tar.xz">kiriki-21.08.1</a></td>
   <td align="right">356kB</td>
   <td><tt>fbf2e68c2978cfcc35902d56ab274a6aefe1ae30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kiten-21.08.1.tar.xz">kiten-21.08.1</a></td>
   <td align="right">11047kB</td>
   <td><tt>6b0ed222f8788854c54c57bd2a1b225bba9e4c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kitinerary-21.08.1.tar.xz">kitinerary-21.08.1</a></td>
   <td align="right">1799kB</td>
   <td><tt>a254da1bd248a4e95149dfe4cd08f9c863c39be8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kjumpingcube-21.08.1.tar.xz">kjumpingcube-21.08.1</a></td>
   <td align="right">315kB</td>
   <td><tt>090ef1be2f362ab89a28b55855d796ed160d4bf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kldap-21.08.1.tar.xz">kldap-21.08.1</a></td>
   <td align="right">167kB</td>
   <td><tt>3852356fbc388c60467d25de4baee807e87561ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kleopatra-21.08.1.tar.xz">kleopatra-21.08.1</a></td>
   <td align="right">2080kB</td>
   <td><tt>e8d3d470d5dd48d029e617a280731acd788f7d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/klettres-21.08.1.tar.xz">klettres-21.08.1</a></td>
   <td align="right">46034kB</td>
   <td><tt>0541d43787cd7a5497fff3fe860089e9ac1cd609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/klickety-21.08.1.tar.xz">klickety-21.08.1</a></td>
   <td align="right">1456kB</td>
   <td><tt>450b85747b4b054d00c2a4544e04fbf5f1f5ce7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/klines-21.08.1.tar.xz">klines-21.08.1</a></td>
   <td align="right">1682kB</td>
   <td><tt>e5905868197b1830579bc89eb17934cd008548af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmag-21.08.1.tar.xz">kmag-21.08.1</a></td>
   <td align="right">689kB</td>
   <td><tt>f8331347aebc45d698798368aba59faac952ea8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmahjongg-21.08.1.tar.xz">kmahjongg-21.08.1</a></td>
   <td align="right">3972kB</td>
   <td><tt>2a577e517eafc1cdd86c0ec9a4dee6b5f9de0135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmail-21.08.1.tar.xz">kmail-21.08.1</a></td>
   <td align="right">6763kB</td>
   <td><tt>1841ba34ab3d126bde70fab361d2534436432da7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmail-account-wizard-21.08.1.tar.xz">kmail-account-wizard-21.08.1</a></td>
   <td align="right">162kB</td>
   <td><tt>d826a04b0f536886333cece8848e8338192f282a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmailtransport-21.08.1.tar.xz">kmailtransport-21.08.1</a></td>
   <td align="right">168kB</td>
   <td><tt>16abf50cdcef764bf724f61fb2a8fa37087a1038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmbox-21.08.1.tar.xz">kmbox-21.08.1</a></td>
   <td align="right">27kB</td>
   <td><tt>e0885d76df8d1fd1b830f2fb9190d0cebdf42c31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmime-21.08.1.tar.xz">kmime-21.08.1</a></td>
   <td align="right">151kB</td>
   <td><tt>87ec40b40f7b90c15df22d36de993f2f4f57e6f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmines-21.08.1.tar.xz">kmines-21.08.1</a></td>
   <td align="right">966kB</td>
   <td><tt>2604d8e7402d5b5b5f91826704fa93860b3e9aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmix-21.08.1.tar.xz">kmix-21.08.1</a></td>
   <td align="right">1136kB</td>
   <td><tt>570b48a4476ccac7976e9acfabc61af7f774eac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmousetool-21.08.1.tar.xz">kmousetool-21.08.1</a></td>
   <td align="right">118kB</td>
   <td><tt>86594ae09c0fb23d1cc2cfa82b3e8d82a07fcbae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmouth-21.08.1.tar.xz">kmouth-21.08.1</a></td>
   <td align="right">2051kB</td>
   <td><tt>27297d9d7bec832d55f9e2c609a18a9a187c80cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kmplot-21.08.1.tar.xz">kmplot-21.08.1</a></td>
   <td align="right">2971kB</td>
   <td><tt>b3a03d2ff043ccbf8d14ecfdb6a5b973b93f5454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/knavalbattle-21.08.1.tar.xz">knavalbattle-21.08.1</a></td>
   <td align="right">1343kB</td>
   <td><tt>093a507094fdbf46de7f1dbcec47e7972cc73ef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/knetwalk-21.08.1.tar.xz">knetwalk-21.08.1</a></td>
   <td align="right">1241kB</td>
   <td><tt>1a9a3858577f5cd3a0bfcf58aeacb427eedd2b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/knights-21.08.1.tar.xz">knights-21.08.1</a></td>
   <td align="right">3453kB</td>
   <td><tt>9b54362109e556ae201bdee74fc2df6d4e0bf841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/knotes-21.08.1.tar.xz">knotes-21.08.1</a></td>
   <td align="right">333kB</td>
   <td><tt>9bceb2ec001b42e543f3ed908ff00b6a8564a33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kolf-21.08.1.tar.xz">kolf-21.08.1</a></td>
   <td align="right">1018kB</td>
   <td><tt>94000411da8165541d1ca0e7df951d66b8da7553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kollision-21.08.1.tar.xz">kollision-21.08.1</a></td>
   <td align="right">284kB</td>
   <td><tt>0b52efdc4013e6b575cd2a278ad4e1f25da9b07a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kolourpaint-21.08.1.tar.xz">kolourpaint-21.08.1</a></td>
   <td align="right">5581kB</td>
   <td><tt>7a605282c03ddd45525cc2130b549c243cc4389c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kompare-21.08.1.tar.xz">kompare-21.08.1</a></td>
   <td align="right">920kB</td>
   <td><tt>fcf7d3e0976513ff1a8e7cb2d66ccfb9d51f50e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/konqueror-21.08.1.tar.xz">konqueror-21.08.1</a></td>
   <td align="right">7243kB</td>
   <td><tt>a19a0ed5e05385716f4662fcbffe66bbff017229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/konquest-21.08.1.tar.xz">konquest-21.08.1</a></td>
   <td align="right">655kB</td>
   <td><tt>c91c215992e38f7bbd6416d30665eb10d737ad72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/konsole-21.08.1.tar.xz">konsole-21.08.1</a></td>
   <td align="right">1342kB</td>
   <td><tt>315a30a4f0d93ddaec37484a7764ddade8dff62b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kontact-21.08.1.tar.xz">kontact-21.08.1</a></td>
   <td align="right">790kB</td>
   <td><tt>9fa130d71661a8ce63b9a323df063cb5933d8f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kontactinterface-21.08.1.tar.xz">kontactinterface-21.08.1</a></td>
   <td align="right">38kB</td>
   <td><tt>12781ac6231d391fe4d9b528c8d0b6635c288b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kontrast-21.08.1.tar.xz">kontrast-21.08.1</a></td>
   <td align="right">122kB</td>
   <td><tt>2ec8d1fb9bf41bd965924421367adab1cc531e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/konversation-21.08.1.tar.xz">konversation-21.08.1</a></td>
   <td align="right">4151kB</td>
   <td><tt>d2a1bc4fc5ef245064c9a4f729337845f41ba821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kopeninghours-21.08.1.tar.xz">kopeninghours-21.08.1</a></td>
   <td align="right">64kB</td>
   <td><tt>7b23e3e943087ff6c156c45fc5641f9e55c6c5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kopete-21.08.1.tar.xz">kopete-21.08.1</a></td>
   <td align="right">9438kB</td>
   <td><tt>4b07fcee174008d21c7f75c93349e2fb8f844b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/korganizer-21.08.1.tar.xz">korganizer-21.08.1</a></td>
   <td align="right">2339kB</td>
   <td><tt>f3b22295b17f516534b36434ed848a64fcb1f2ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kosmindoormap-21.08.1.tar.xz">kosmindoormap-21.08.1</a></td>
   <td align="right">332kB</td>
   <td><tt>4119cde8941f0e4e6c3d8df41955909702fb6f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kpat-21.08.1.tar.xz">kpat-21.08.1</a></td>
   <td align="right">3641kB</td>
   <td><tt>b635254709dd678b80a22dfd8e969dba3e3db266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kpimtextedit-21.08.1.tar.xz">kpimtextedit-21.08.1</a></td>
   <td align="right">199kB</td>
   <td><tt>45e1883c0378e4ef70b3fdf75c2f735088950f9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kpkpass-21.08.1.tar.xz">kpkpass-21.08.1</a></td>
   <td align="right">27kB</td>
   <td><tt>69395ebd278e069a6e45c9dd447152f69e121d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kpmcore-21.08.1.tar.xz">kpmcore-21.08.1</a></td>
   <td align="right">575kB</td>
   <td><tt>4b1bae4e6d18a6c1a8a2eb6876aa5fdf75ea75e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kpublictransport-21.08.1.tar.xz">kpublictransport-21.08.1</a></td>
   <td align="right">398kB</td>
   <td><tt>0df964d5e5ce3e78e8a2da48628a360a6e272757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kqtquickcharts-21.08.1.tar.xz">kqtquickcharts-21.08.1</a></td>
   <td align="right">29kB</td>
   <td><tt>b69dd8967b6f6233ae0ac85f0fb4f6a82e35f712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/krdc-21.08.1.tar.xz">krdc-21.08.1</a></td>
   <td align="right">1544kB</td>
   <td><tt>01fd43ed425bc1df6be10b39b247cf59ec5b3d20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kreversi-21.08.1.tar.xz">kreversi-21.08.1</a></td>
   <td align="right">940kB</td>
   <td><tt>992a65bfdfd7d592bac95c38ff2845b3dbfccde2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/krfb-21.08.1.tar.xz">krfb-21.08.1</a></td>
   <td align="right">1263kB</td>
   <td><tt>d07eb8d7e568b9c1d8438dff93bff7ae0084b3c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kross-interpreters-21.08.1.tar.xz">kross-interpreters-21.08.1</a></td>
   <td align="right">147kB</td>
   <td><tt>1e0d7c06d5cf5fd9f3244c7f48678d57efe4462f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kruler-21.08.1.tar.xz">kruler-21.08.1</a></td>
   <td align="right">270kB</td>
   <td><tt>f35025584863040e68c686389475bc5422154d83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kshisen-21.08.1.tar.xz">kshisen-21.08.1</a></td>
   <td align="right">964kB</td>
   <td><tt>cf3d5b420872f5bd6178102cf40cad22a99847fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ksirk-21.08.1.tar.xz">ksirk-21.08.1</a></td>
   <td align="right">6834kB</td>
   <td><tt>a39185abc41fff37978f85bcb9d9019f452c1969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ksmtp-21.08.1.tar.xz">ksmtp-21.08.1</a></td>
   <td align="right">46kB</td>
   <td><tt>ca3aba7e4108928807d51272dbf64a44a9c5e57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ksnakeduel-21.08.1.tar.xz">ksnakeduel-21.08.1</a></td>
   <td align="right">532kB</td>
   <td><tt>e79f0db2d60db6ea4b90edd715d17708f6ed268e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kspaceduel-21.08.1.tar.xz">kspaceduel-21.08.1</a></td>
   <td align="right">607kB</td>
   <td><tt>e37a3a9b3d23f444d206fe8aaf40fec60eca8283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ksquares-21.08.1.tar.xz">ksquares-21.08.1</a></td>
   <td align="right">261kB</td>
   <td><tt>067f4dc474047d4f75a2aa6ab7b84dff2fbad5b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ksudoku-21.08.1.tar.xz">ksudoku-21.08.1</a></td>
   <td align="right">1642kB</td>
   <td><tt>6c727573260fc9ab3db81a1e0c345380deef85c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ksystemlog-21.08.1.tar.xz">ksystemlog-21.08.1</a></td>
   <td align="right">1918kB</td>
   <td><tt>db4a5fa896e01574d2fee6e062756de099557cfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kteatime-21.08.1.tar.xz">kteatime-21.08.1</a></td>
   <td align="right">292kB</td>
   <td><tt>f2689ef63c8be231e4f7a97fc3929f61ac30dfe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktimer-21.08.1.tar.xz">ktimer-21.08.1</a></td>
   <td align="right">379kB</td>
   <td><tt>75691144cc5ab4b9e70c5799a0018475df5a9504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktnef-21.08.1.tar.xz">ktnef-21.08.1</a></td>
   <td align="right">298kB</td>
   <td><tt>18b9cae984be3b05ce881655acfb8a4888b0a910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktorrent-21.08.1.tar.xz">ktorrent-21.08.1</a></td>
   <td align="right">2041kB</td>
   <td><tt>36b371f320977f2a748b3ef7c6bb9b94c7809067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktouch-21.08.1.tar.xz">ktouch-21.08.1</a></td>
   <td align="right">4848kB</td>
   <td><tt>d03c3f1dfdb355f9a5b031cfffcfd8d81151ad6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-accounts-kcm-21.08.1.tar.xz">ktp-accounts-kcm-21.08.1</a></td>
   <td align="right">260kB</td>
   <td><tt>f3017032a266ea45060a82b66ce49c3f4b6b05ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-approver-21.08.1.tar.xz">ktp-approver-21.08.1</a></td>
   <td align="right">37kB</td>
   <td><tt>ca02c5c6022ffffbd33a4222e6976690d502eabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-auth-handler-21.08.1.tar.xz">ktp-auth-handler-21.08.1</a></td>
   <td align="right">46kB</td>
   <td><tt>d12d9c4b282326acca5152ba6d386fc74f1c4043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-call-ui-21.08.1.tar.xz">ktp-call-ui-21.08.1</a></td>
   <td align="right">96kB</td>
   <td><tt>ede031b9112d86e39e37fabd3ea4a2d934d87897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-common-internals-21.08.1.tar.xz">ktp-common-internals-21.08.1</a></td>
   <td align="right">440kB</td>
   <td><tt>b94ca2c6a77459a69a1777c6d2bcb52397f80b8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-contact-list-21.08.1.tar.xz">ktp-contact-list-21.08.1</a></td>
   <td align="right">149kB</td>
   <td><tt>e528e40b41e661a801facde24d7f178a1c3b77b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-contact-runner-21.08.1.tar.xz">ktp-contact-runner-21.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>42ba5e9c5446f5fd9c4472c91a8e7ffd76835a56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-desktop-applets-21.08.1.tar.xz">ktp-desktop-applets-21.08.1</a></td>
   <td align="right">43kB</td>
   <td><tt>7dd56dfe326c7f1f074515bf9c15dc96c4bc402e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-filetransfer-handler-21.08.1.tar.xz">ktp-filetransfer-handler-21.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>6e67ed36cc0c22d3db614a74461c1bcf158aabeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-kded-module-21.08.1.tar.xz">ktp-kded-module-21.08.1</a></td>
   <td align="right">96kB</td>
   <td><tt>6eb0bd895fd562fb9f971f6cec50a732588ee86f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-send-file-21.08.1.tar.xz">ktp-send-file-21.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>5e5b8ca98e3ef9f39c3efb8abeed0136ed648a3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktp-text-ui-21.08.1.tar.xz">ktp-text-ui-21.08.1</a></td>
   <td align="right">463kB</td>
   <td><tt>db5a56a7c4c11f8fd20fa5dcede0d269e1b3a0d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/ktuberling-21.08.1.tar.xz">ktuberling-21.08.1</a></td>
   <td align="right">69113kB</td>
   <td><tt>3b1b50a3d81f6eb49450df51092c6313f1d4ee1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kturtle-21.08.1.tar.xz">kturtle-21.08.1</a></td>
   <td align="right">1925kB</td>
   <td><tt>ec315e06792af9be3ccef595ad4261c476c16c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kubrick-21.08.1.tar.xz">kubrick-21.08.1</a></td>
   <td align="right">335kB</td>
   <td><tt>95a441248afa120eff85dae04ae548e08dcd5c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kwalletmanager-21.08.1.tar.xz">kwalletmanager-21.08.1</a></td>
   <td align="right">778kB</td>
   <td><tt>45d03633c59f32ff5e101909e2ab8b037fe8a8d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kwave-21.08.1.tar.xz">kwave-21.08.1</a></td>
   <td align="right">6737kB</td>
   <td><tt>5f50a7ff608b5476614543dc145b97c4320aa9b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/kwordquiz-21.08.1.tar.xz">kwordquiz-21.08.1</a></td>
   <td align="right">4110kB</td>
   <td><tt>91e74c1afbbdd3ed762dea676aab822345e9d7d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libgravatar-21.08.1.tar.xz">libgravatar-21.08.1</a></td>
   <td align="right">34kB</td>
   <td><tt>43484cb12d939dc8f6b6e0c411b3dd173a3eec4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkcddb-21.08.1.tar.xz">libkcddb-21.08.1</a></td>
   <td align="right">420kB</td>
   <td><tt>eccb05b621b020a53ffb295e5439ceb194bb41a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkcompactdisc-21.08.1.tar.xz">libkcompactdisc-21.08.1</a></td>
   <td align="right">94kB</td>
   <td><tt>a5c534da409202cc9ca5714278d9d41023f02017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkdcraw-21.08.1.tar.xz">libkdcraw-21.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>1ce228bc8f2295951bd3715a9e896307b87897ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkdegames-21.08.1.tar.xz">libkdegames-21.08.1</a></td>
   <td align="right">6254kB</td>
   <td><tt>e47cc04e533ad6a26b9c466b15b5f5befeedd410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkdepim-21.08.1.tar.xz">libkdepim-21.08.1</a></td>
   <td align="right">247kB</td>
   <td><tt>863d0beb8da6736ceb46bed412308bbce2f9c115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkeduvocdocument-21.08.1.tar.xz">libkeduvocdocument-21.08.1</a></td>
   <td align="right">212kB</td>
   <td><tt>7b05ad1b36445cd3f5df33ebd00e7d2b69865501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkexiv2-21.08.1.tar.xz">libkexiv2-21.08.1</a></td>
   <td align="right">58kB</td>
   <td><tt>576b7a7ad5c39e1ba5bdeeb5d7edb93724b66902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkgapi-21.08.1.tar.xz">libkgapi-21.08.1</a></td>
   <td align="right">241kB</td>
   <td><tt>6f2a9d229e53fbfcf0c8939fe20f95f849f8786b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkipi-21.08.1.tar.xz">libkipi-21.08.1</a></td>
   <td align="right">100kB</td>
   <td><tt>8343c7efb7bd6104346500b42a6f163b9ac8d0dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkleo-21.08.1.tar.xz">libkleo-21.08.1</a></td>
   <td align="right">425kB</td>
   <td><tt>61b7b56501b192940ba862f6d0adbd504aa92c7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkmahjongg-21.08.1.tar.xz">libkmahjongg-21.08.1</a></td>
   <td align="right">1642kB</td>
   <td><tt>bb41db5110e33fd91ac49e4e17c14e3819fdb0eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libkomparediff2-21.08.1.tar.xz">libkomparediff2-21.08.1</a></td>
   <td align="right">168kB</td>
   <td><tt>9a4e9b2572b4ebe5d31fe245176ab340e5c87170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libksane-21.08.1.tar.xz">libksane-21.08.1</a></td>
   <td align="right">151kB</td>
   <td><tt>c86ca01eb211045b8093a67f142f9a3755c85df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libksieve-21.08.1.tar.xz">libksieve-21.08.1</a></td>
   <td align="right">556kB</td>
   <td><tt>7f1df8db2e37393b2c5388afc81e05fabb9baa93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/libktorrent-21.08.1.tar.xz">libktorrent-21.08.1</a></td>
   <td align="right">592kB</td>
   <td><tt>3c2122682cb00f780ca7090022847462ca8aad07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/lokalize-21.08.1.tar.xz">lokalize-21.08.1</a></td>
   <td align="right">1988kB</td>
   <td><tt>5821b1445ad766bc609b5e6d75db7b4c86f57904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/lskat-21.08.1.tar.xz">lskat-21.08.1</a></td>
   <td align="right">1201kB</td>
   <td><tt>2f4a86371b82fba56164630185c458c32a18ef60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/mailcommon-21.08.1.tar.xz">mailcommon-21.08.1</a></td>
   <td align="right">712kB</td>
   <td><tt>8accf92bdaaf75a10311a1aa54b8ff7b26c25a79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/mailimporter-21.08.1.tar.xz">mailimporter-21.08.1</a></td>
   <td align="right">545kB</td>
   <td><tt>37f97d577b7ab90dd502e6d958636505499851ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/marble-21.08.1.tar.xz">marble-21.08.1</a></td>
   <td align="right">51191kB</td>
   <td><tt>87e735ecbfe1a0e166159c77866c5c657f039d88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/markdownpart-21.08.1.tar.xz">markdownpart-21.08.1</a></td>
   <td align="right">27kB</td>
   <td><tt>dbc4502ea3922bee84b1b82c7ad56a8f2a091f06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/mbox-importer-21.08.1.tar.xz">mbox-importer-21.08.1</a></td>
   <td align="right">27kB</td>
   <td><tt>526d1eca02e7874571ed5ed8673ddc3b6e95f118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/messagelib-21.08.1.tar.xz">messagelib-21.08.1</a></td>
   <td align="right">10545kB</td>
   <td><tt>ae1ca5975b8086bfcdd95968f128ecb3073be7c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/minuet-21.08.1.tar.xz">minuet-21.08.1</a></td>
   <td align="right">27081kB</td>
   <td><tt>4f84945b0c3ae41346d7a0631e3e23cab831f11b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/okular-21.08.1.tar.xz">okular-21.08.1</a></td>
   <td align="right">7897kB</td>
   <td><tt>ca52283d2c8da850de9dc3e2e28510ae264f10ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/palapeli-21.08.1.tar.xz">palapeli-21.08.1</a></td>
   <td align="right">2028kB</td>
   <td><tt>1d679df234da667e497ecea2198658b057b97c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/parley-21.08.1.tar.xz">parley-21.08.1</a></td>
   <td align="right">8676kB</td>
   <td><tt>cb99a4ee7a572bdc46a3c8b1568875b8f8fc2610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/partitionmanager-21.08.1.tar.xz">partitionmanager-21.08.1</a></td>
   <td align="right">2048kB</td>
   <td><tt>3d0df9bbbf431921dce7db5e40afaa6f05728015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/picmi-21.08.1.tar.xz">picmi-21.08.1</a></td>
   <td align="right">1337kB</td>
   <td><tt>bccd0099fd2f0d257792bd2453e33eac869497ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/pimcommon-21.08.1.tar.xz">pimcommon-21.08.1</a></td>
   <td align="right">360kB</td>
   <td><tt>aef133f64b093794cb88e7220755f5338f798493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/pim-data-exporter-21.08.1.tar.xz">pim-data-exporter-21.08.1</a></td>
   <td align="right">387kB</td>
   <td><tt>4df294dd9be6ee4e8dd76cc8abb9800cace45b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/pim-sieve-editor-21.08.1.tar.xz">pim-sieve-editor-21.08.1</a></td>
   <td align="right">446kB</td>
   <td><tt>b651d8cc14e0d56cb70c9c23e04fea4689f086f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/poxml-21.08.1.tar.xz">poxml-21.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>2ffc1a560a4f36c2af3924a39ee1131fb70a2843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/print-manager-21.08.1.tar.xz">print-manager-21.08.1</a></td>
   <td align="right">263kB</td>
   <td><tt>47cb54d41e0c42624dacf132ebb784edf52fac03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/rocs-21.08.1.tar.xz">rocs-21.08.1</a></td>
   <td align="right">1518kB</td>
   <td><tt>190bea3ccfcaa058409529d45b5859b2946cfa69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/signon-kwallet-extension-21.08.1.tar.xz">signon-kwallet-extension-21.08.1</a></td>
   <td align="right">10kB</td>
   <td><tt>620e69a435fa2aac02b42c1e73f6fe63e8523446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/skanlite-21.08.1.tar.xz">skanlite-21.08.1</a></td>
   <td align="right">2369kB</td>
   <td><tt>f45420e614641d49d468d0ed0e7488798213e6d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/spectacle-21.08.1.tar.xz">spectacle-21.08.1</a></td>
   <td align="right">1184kB</td>
   <td><tt>050fbab8b74a0942c3141a6843549c5de6da8000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/step-21.08.1.tar.xz">step-21.08.1</a></td>
   <td align="right">952kB</td>
   <td><tt>a69327de40a822ba2c53536e8e5d5dd052de6e71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/svgpart-21.08.1.tar.xz">svgpart-21.08.1</a></td>
   <td align="right">23kB</td>
   <td><tt>b90decabdde079ba2e69c136f7ef2a1c5b956c84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/sweeper-21.08.1.tar.xz">sweeper-21.08.1</a></td>
   <td align="right">368kB</td>
   <td><tt>318aa3efbf341c55bd6e1ce5851bc7f20a4405d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/umbrello-21.08.1.tar.xz">umbrello-21.08.1</a></td>
   <td align="right">5517kB</td>
   <td><tt>632a5f03657a68377a2232c9c22ade66057ca7d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/yakuake-21.08.1.tar.xz">yakuake-21.08.1</a></td>
   <td align="right">383kB</td>
   <td><tt>673285e813a2820bf46dacf1ac81eb1540191202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.1/src/zeroconf-ioslave-21.08.1.tar.xz">zeroconf-ioslave-21.08.1</a></td>
   <td align="right">37kB</td>
   <td><tt>9826520cc273084580cd69fee05175db7d7d2c06</tt></td>
</tr>

</table>
