
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/attica-5.107.0.tar.xz">attica-5.107.0</a></td>
   <td align="right">67kB</td>
   <td><tt>6e827e0e1ae99b0598e62ba9e9a4aa19e1ff29e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/baloo-5.107.0.tar.xz">baloo-5.107.0</a></td>
   <td align="right">300kB</td>
   <td><tt>990c4e87c4cc0d33378a64fb4aadd1359d6a5b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/bluez-qt-5.107.0.tar.xz">bluez-qt-5.107.0</a></td>
   <td align="right">111kB</td>
   <td><tt>2773524e465a113d7b6a0318f8c53180ec9c9d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/breeze-icons-5.107.0.tar.xz">breeze-icons-5.107.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c85f3dee55edf3577021ad1cdaf6513f40abb52e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/extra-cmake-modules-5.107.0.tar.xz">extra-cmake-modules-5.107.0</a></td>
   <td align="right">323kB</td>
   <td><tt>76b8a1eeb7b593384cda8af7235abed4b550850c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/frameworkintegration-5.107.0.tar.xz">frameworkintegration-5.107.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>06cdb4c56fc2115f8c070ca2263a72f95e9f673e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kactivities-5.107.0.tar.xz">kactivities-5.107.0</a></td>
   <td align="right">71kB</td>
   <td><tt>16f18f118c4d6bcb60b7cb8a8ff89c8e9ec563ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kactivities-stats-5.107.0.tar.xz">kactivities-stats-5.107.0</a></td>
   <td align="right">82kB</td>
   <td><tt>ad64b100348956e5f4f8422f712db18f259be1cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kapidox-5.107.0.tar.xz">kapidox-5.107.0</a></td>
   <td align="right">194kB</td>
   <td><tt>dc4ae64e451933fa745e852c0b3a3a64aa17fafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/karchive-5.107.0.tar.xz">karchive-5.107.0</a></td>
   <td align="right">993kB</td>
   <td><tt>358fc0a243141d60401269fb02048bc7f574c9a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kauth-5.107.0.tar.xz">kauth-5.107.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>bdd61cc772b125a30217fab6821a9c441a7ab7b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kbookmarks-5.107.0.tar.xz">kbookmarks-5.107.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dde6c34eb0e30a24df37c7377f1b18efd293373f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kcalendarcore-5.107.0.tar.xz">kcalendarcore-5.107.0</a></td>
   <td align="right">262kB</td>
   <td><tt>c4302a20f0b0ce4e52878a6ab713d8fa079028a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kcmutils-5.107.0.tar.xz">kcmutils-5.107.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ad9a7417a15e51ac8fcf356cfecd846dcdb6a9c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kcodecs-5.107.0.tar.xz">kcodecs-5.107.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>bf869e28cde6c8d01488d9e32ef108d927fd50b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kcompletion-5.107.0.tar.xz">kcompletion-5.107.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>e93c53735c85313cd5b00d73a08a62091f6dc350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kconfig-5.107.0.tar.xz">kconfig-5.107.0</a></td>
   <td align="right">286kB</td>
   <td><tt>fffa1a1c3bd9578796bdb887a6573a3f80efdc70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kconfigwidgets-5.107.0.tar.xz">kconfigwidgets-5.107.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1cc57d55885471227a22eae648d1989a92a16f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kcontacts-5.107.0.tar.xz">kcontacts-5.107.0</a></td>
   <td align="right">208kB</td>
   <td><tt>f7b2d71e87c2eeef8182cabb59a5088b8dacb09e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kcoreaddons-5.107.0.tar.xz">kcoreaddons-5.107.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c42a011f95beead4d373d19b38955986161d4d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kcrash-5.107.0.tar.xz">kcrash-5.107.0</a></td>
   <td align="right">27kB</td>
   <td><tt>d9e10120c1025e819cce132b768459c0432baada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kdav-5.107.0.tar.xz">kdav-5.107.0</a></td>
   <td align="right">64kB</td>
   <td><tt>5232e019919a40add9b98ca3248a4a81c7216483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kdbusaddons-5.107.0.tar.xz">kdbusaddons-5.107.0</a></td>
   <td align="right">47kB</td>
   <td><tt>f9e7770b21f2315bffaa5083f502e62852536fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kdeclarative-5.107.0.tar.xz">kdeclarative-5.107.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2568d3c563d4b5285681a55dcc891bb0f7e87757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kded-5.107.0.tar.xz">kded-5.107.0</a></td>
   <td align="right">40kB</td>
   <td><tt>c042f94d0f11b0ec9338c5b09a4f27c1ad54dd49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kdesu-5.107.0.tar.xz">kdesu-5.107.0</a></td>
   <td align="right">55kB</td>
   <td><tt>9d9a6c4d60434b3c4fd4ec910e165c014700f210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kdnssd-5.107.0.tar.xz">kdnssd-5.107.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>099d6f33cdfc1805afcbe2c5f477097450171d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kdoctools-5.107.0.tar.xz">kdoctools-5.107.0</a></td>
   <td align="right">454kB</td>
   <td><tt>75d4f80979df303f9a237dff235fd2f0c23c8b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kemoticons-5.107.0.tar.xz">kemoticons-5.107.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d7d239cdc5c46499e7ff42cd167f685ee24eaaf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kfilemetadata-5.107.0.tar.xz">kfilemetadata-5.107.0</a></td>
   <td align="right">460kB</td>
   <td><tt>fef9cef2e1d1335cbb4272dfc0c90143c179d358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kglobalaccel-5.107.0.tar.xz">kglobalaccel-5.107.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>ce617f41e36e5b730bbb937e2196856c1ab3bbd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kguiaddons-5.107.0.tar.xz">kguiaddons-5.107.0</a></td>
   <td align="right">76kB</td>
   <td><tt>d2f2da071ccc4193429380d8fdda660495c34b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kholidays-5.107.0.tar.xz">kholidays-5.107.0</a></td>
   <td align="right">248kB</td>
   <td><tt>96708fe234d4b5e9dae55e2baa671e9a97600bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/ki18n-5.107.0.tar.xz">ki18n-5.107.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d3d553df73f65ba5ce36b3e8cb65cdc5b1c8c217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kiconthemes-5.107.0.tar.xz">kiconthemes-5.107.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>27a31741f59efc654ae865772d5d232b0203a708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kidletime-5.107.0.tar.xz">kidletime-5.107.0</a></td>
   <td align="right">30kB</td>
   <td><tt>60593a944d2cdedad1f1919f66791d96d9cd32aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kimageformats-5.107.0.tar.xz">kimageformats-5.107.0</a></td>
   <td align="right">12MB</td>
   <td><tt>8fa9d1255dfb2d8e9e3f167af906a69e58c51df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kinit-5.107.0.tar.xz">kinit-5.107.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dc429e74b7bde304bbebf0db85a99ea8ddd6d04d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kio-5.107.0.tar.xz">kio-5.107.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>1d9df56d8b52229cbaf45863c30d9821328f3c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kirigami2-5.107.0.tar.xz">kirigami2-5.107.0</a></td>
   <td align="right">372kB</td>
   <td><tt>0f9dd5052a40f7728d02c530f35a7daccc86fe80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kitemmodels-5.107.0.tar.xz">kitemmodels-5.107.0</a></td>
   <td align="right">397kB</td>
   <td><tt>844291cfdf278bf86ae49a752c27a337788e82b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kitemviews-5.107.0.tar.xz">kitemviews-5.107.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c41c4535050bda6d8f5129b2d5c1fae7286334d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kjobwidgets-5.107.0.tar.xz">kjobwidgets-5.107.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>987d50ebe9e5672a122f19b486c3ce67f57a2847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/knewstuff-5.107.0.tar.xz">knewstuff-5.107.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>2c345f992b3190c4fae2abf97a2fdbf814436d7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/knotifications-5.107.0.tar.xz">knotifications-5.107.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>503f4a5a4d6225586c8e3eb849fbded84430a2c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/knotifyconfig-5.107.0.tar.xz">knotifyconfig-5.107.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d0c3e6e21aa9b58dbe50ec0a1ac706b213aea99c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kpackage-5.107.0.tar.xz">kpackage-5.107.0</a></td>
   <td align="right">182kB</td>
   <td><tt>9e5169a0bc8a06dadd8a361194b355c9f30724b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kparts-5.107.0.tar.xz">kparts-5.107.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>bcac884d9fe631dc54dc883eceebefe6737e22ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kpeople-5.107.0.tar.xz">kpeople-5.107.0</a></td>
   <td align="right">61kB</td>
   <td><tt>06644f8d2da8e6776488c981add3825342b12c0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kplotting-5.107.0.tar.xz">kplotting-5.107.0</a></td>
   <td align="right">32kB</td>
   <td><tt>dd0cd9feb399d14ac1f453512670ad052770107a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kpty-5.107.0.tar.xz">kpty-5.107.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9bc3ca69be12b9280cefb0ec9c78814f1354af2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kquickcharts-5.107.0.tar.xz">kquickcharts-5.107.0</a></td>
   <td align="right">110kB</td>
   <td><tt>63b655dd0e78b086d4c84fec34a70a946b2c09da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/krunner-5.107.0.tar.xz">krunner-5.107.0</a></td>
   <td align="right">86kB</td>
   <td><tt>f057f47ff64087980163570d3b2c5795dbb1e01e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kservice-5.107.0.tar.xz">kservice-5.107.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>bd00508486c02a65fd014c90869df5322273f107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/ktexteditor-5.107.0.tar.xz">ktexteditor-5.107.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>bd6bb5c8097b086ef7939e0e77e2f139628816be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/ktextwidgets-5.107.0.tar.xz">ktextwidgets-5.107.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2bab00cef7ce941fb07148133ad1c68f6925d11a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kunitconversion-5.107.0.tar.xz">kunitconversion-5.107.0</a></td>
   <td align="right">909kB</td>
   <td><tt>d0f4f947e0ffc09fdfbdaade8b7d8f5cce50218e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kwallet-5.107.0.tar.xz">kwallet-5.107.0</a></td>
   <td align="right">341kB</td>
   <td><tt>9232e42818bf9a73f8282b4baa5d71f2026e89a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kwayland-5.107.0.tar.xz">kwayland-5.107.0</a></td>
   <td align="right">328kB</td>
   <td><tt>eab22bd41720d6e8a7e6fbea5055a5920a626e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kwidgetsaddons-5.107.0.tar.xz">kwidgetsaddons-5.107.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>95c2cfdb6c43369efa62da473fbc571d124864d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kwindowsystem-5.107.0.tar.xz">kwindowsystem-5.107.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>729040d0306e8b813581fbe731d38856de9f4b93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/kxmlgui-5.107.0.tar.xz">kxmlgui-5.107.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a7a3df6724bcdeb10e2e3f4b3165b6f42a9184b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/modemmanager-qt-5.107.0.tar.xz">modemmanager-qt-5.107.0</a></td>
   <td align="right">118kB</td>
   <td><tt>5fd728cf727961430a9230c2a9bc95d9dfc5433b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/networkmanager-qt-5.107.0.tar.xz">networkmanager-qt-5.107.0</a></td>
   <td align="right">193kB</td>
   <td><tt>631f015e46f1107f178f5837140cb5e76f4aff68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/oxygen-icons5-5.107.0.tar.xz">oxygen-icons5-5.107.0</a></td>
   <td align="right">227MB</td>
   <td><tt>cdbc24b0df45d7f7c24356203e6e88a3fbb9e363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/plasma-framework-5.107.0.tar.xz">plasma-framework-5.107.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>35ed3ba002e1f5283ef1a9d0311604de0c0588b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/prison-5.107.0.tar.xz">prison-5.107.0</a></td>
   <td align="right">54kB</td>
   <td><tt>8d581c75e259e15ce9f2363694ac80e0ecb44bf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/purpose-5.107.0.tar.xz">purpose-5.107.0</a></td>
   <td align="right">175kB</td>
   <td><tt>aaaf1c981c794577a0a9c87baf11130630e15162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/qqc2-desktop-style-5.107.0.tar.xz">qqc2-desktop-style-5.107.0</a></td>
   <td align="right">67kB</td>
   <td><tt>f81a4817b5c444c399c7c8e1640a33d4e96ac66e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/solid-5.107.0.tar.xz">solid-5.107.0</a></td>
   <td align="right">298kB</td>
   <td><tt>0e3a867d723e8b8681f82c4e411685eededc3ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/sonnet-5.107.0.tar.xz">sonnet-5.107.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d20b708fa954064b438196c01a1235d431bef8aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/syndication-5.107.0.tar.xz">syndication-5.107.0</a></td>
   <td align="right">498kB</td>
   <td><tt>ccad24ca96fd4aba636184e5cc88a83819e9d9e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/syntax-highlighting-5.107.0.tar.xz">syntax-highlighting-5.107.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>41671909ac0438888a0fdf2623eb3ef2c43cf4c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.107/threadweaver-5.107.0.tar.xz">threadweaver-5.107.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>abaed39a4dfb5af0374cd35bfd3711798f009ba3</tt></td>
</tr>

</table>
