{{ define "main" }}
<main>
  <div class="container">
    <div class="text-center my-5 mx-auto" style="max-width: 800px">
      <h1>
        {{ .Title }}
      </h1>
      <p>{{ .Description }}</p>
    </div>
  </div>

  <div class="position-relative">
    <div class="slim-background"></div>
    <div class="header-background"></div>
    <div class="d-flex" id="features-hero">
      {{ with .Params.logo }}
        <img src="{{ . }}" class="d-block mx-auto mt-auto" height="100" width="100" />
      {{ end }}
      {{ with .Params.video }}
        <video autoplay muted loop>
          <source src="{{ . }}">
        </video>
      {{ end }}
    </div>
    <svg width="0" height="0">
    <defs>
    <clipPath id="header-decoration-clip" clipPathUnits="objectBoundingBox">
    <polygon points="0 0, 1 0.67, 1 1, 0 .12"></polygon>
    </clipPath>
    </defs>
    </svg>
    <svg width="0" height="0">
  <defs>
  <clipPath id="slim-header-clip" clipPathUnits="objectBoundingBox">
  <polygon points="0 0, 1 0, 1 1, 0 .4"></polygon>
  </clipPath>
  </defs>
  </svg>
  </div>
  {{ .Content }}
</main>
{{ end }}
