<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/akonadi-15.12.1.tar.xz">akonadi-15.12.1</a></td>
   <td align="right">280kB</td>
   <td><tt>f48dd3a842270f2dd91dbf594e546c709c7cdf79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/akonadi-calendar-15.12.1.tar.xz">akonadi-calendar-15.12.1</a></td>
   <td align="right">112kB</td>
   <td><tt>40a5fbfa780b8100c8c7e947c4aa0fe747fa1d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/akonadi-search-15.12.1.tar.xz">akonadi-search-15.12.1</a></td>
   <td align="right">68kB</td>
   <td><tt>d59d6157dcb8346fea14b5b004bd75e4e2e57da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/analitza-15.12.1.tar.xz">analitza-15.12.1</a></td>
   <td align="right">227kB</td>
   <td><tt>cef82a413413bec4cf464db42f59b2d60a06d440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ark-15.12.1.tar.xz">ark-15.12.1</a></td>
   <td align="right">247kB</td>
   <td><tt>ceebf483773e3eabeff351d15ac7832a813e4467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/artikulate-15.12.1.tar.xz">artikulate-15.12.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>5c25f53dcc77bff09690e6f2f6fd8335b75cdcfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/audiocd-kio-15.12.1.tar.xz">audiocd-kio-15.12.1</a></td>
   <td align="right">50kB</td>
   <td><tt>f09eb468a9122a8528716ae60cd7f98fb97a9cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/baloo-widgets-15.12.1.tar.xz">baloo-widgets-15.12.1</a></td>
   <td align="right">55kB</td>
   <td><tt>bb158298e94e813f3ae3e19d3fe10e9ea0172ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/blinken-15.12.1.tar.xz">blinken-15.12.1</a></td>
   <td align="right">554kB</td>
   <td><tt>cf9ce2a15cacc14dd528c7dbfa1bb76f2ab50c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/bomber-15.12.1.tar.xz">bomber-15.12.1</a></td>
   <td align="right">384kB</td>
   <td><tt>ee7d5bce839864d7665a174fcc30153519eaff53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/bovo-15.12.1.tar.xz">bovo-15.12.1</a></td>
   <td align="right">103kB</td>
   <td><tt>2bf199c7a2eee7230578eeb1bb854aabe06cd535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/cantor-15.12.1.tar.xz">cantor-15.12.1</a></td>
   <td align="right">341kB</td>
   <td><tt>aea99e9fd5924996181b935f4ce3566c1517b241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/cervisia-15.12.1.tar.xz">cervisia-15.12.1</a></td>
   <td align="right">365kB</td>
   <td><tt>0d50de8ba541a0d7f0d4dd9942b97f07b997022c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/dolphin-15.12.1.tar.xz">dolphin-15.12.1</a></td>
   <td align="right">642kB</td>
   <td><tt>85ade3adbc7cb68248e57021e00c4c8b250e79c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/dolphin-plugins-15.12.1.tar.xz">dolphin-plugins-15.12.1</a></td>
   <td align="right">59kB</td>
   <td><tt>5318910400647126169285709aee3dbeb58f5ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/dragon-15.12.1.tar.xz">dragon-15.12.1</a></td>
   <td align="right">393kB</td>
   <td><tt>b2348dceee0073ff9d1ac614acf3f73da7623597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ffmpegthumbs-15.12.1.tar.xz">ffmpegthumbs-15.12.1</a></td>
   <td align="right">19kB</td>
   <td><tt>a2790ae591375eb17fe90c49968dbc80052ceb5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/filelight-15.12.1.tar.xz">filelight-15.12.1</a></td>
   <td align="right">280kB</td>
   <td><tt>f89af6074a95d792cafbc7df4b83c56604b277ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/gpgmepp-15.12.1.tar.xz">gpgmepp-15.12.1</a></td>
   <td align="right">66kB</td>
   <td><tt>56d5f05bd513efc6caf770e43b6109e42842198f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/granatier-15.12.1.tar.xz">granatier-15.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d3dc64fa79c5605f84e02e101c02b48e8c4a219e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/gwenview-15.12.1.tar.xz">gwenview-15.12.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2e10577a03e013b389324d02f7cf508eb842d717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/jovie-15.12.1.tar.xz">jovie-15.12.1</a></td>
   <td align="right">383kB</td>
   <td><tt>cea75a73b93a0158450ac562994dc0e5836573d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/juk-15.12.1.tar.xz">juk-15.12.1</a></td>
   <td align="right">434kB</td>
   <td><tt>47b508e17b6f9972f1c9a23cf74c3774bd525c3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kaccessible-15.12.1.tar.xz">kaccessible-15.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>68bd5b0e7a2fab5c1a5a620b50e9211577346753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kaccounts-integration-15.12.1.tar.xz">kaccounts-integration-15.12.1</a></td>
   <td align="right">44kB</td>
   <td><tt>278c22027bd48e9ed379fcfe145c5b2e2ae286e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kaccounts-providers-15.12.1.tar.xz">kaccounts-providers-15.12.1</a></td>
   <td align="right">16kB</td>
   <td><tt>9ca1ef9f38ee7e83caec4e091435a049b217d59f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kajongg-15.12.1.tar.xz">kajongg-15.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>76d50afd6676cdea61ac755f0b7a4ba424b0fb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kalarmcal-15.12.1.tar.xz">kalarmcal-15.12.1</a></td>
   <td align="right">85kB</td>
   <td><tt>7e25e088a05f3b14c860c649247ee5a610dd48b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kalgebra-15.12.1.tar.xz">kalgebra-15.12.1</a></td>
   <td align="right">250kB</td>
   <td><tt>19f60237da950c874a7e9942955dd09219b6be9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kalzium-15.12.1.tar.xz">kalzium-15.12.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>1d351e29a9a324c631072b8c594bd2ceff5b6664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kamera-15.12.1.tar.xz">kamera-15.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>1699d73e5e563d5f23b392b9f4c3765847bba823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kanagram-15.12.1.tar.xz">kanagram-15.12.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d4735a91f2df1587f9c7c1da5ddfeea682d6c6f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kapman-15.12.1.tar.xz">kapman-15.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a27640a1340b0503b3bd57d617eee4f42f9496f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kapptemplate-15.12.1.tar.xz">kapptemplate-15.12.1</a></td>
   <td align="right">672kB</td>
   <td><tt>20f478a0f20a8304b32c73a0c2dbe12c287a756c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kate-15.12.1.tar.xz">kate-15.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f2bedbdb948bfcdd739c9df792286d5a5780a1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/katomic-15.12.1.tar.xz">katomic-15.12.1</a></td>
   <td align="right">646kB</td>
   <td><tt>50487d19712b874558ba265fe438dc11f9e7e810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kblackbox-15.12.1.tar.xz">kblackbox-15.12.1</a></td>
   <td align="right">255kB</td>
   <td><tt>ddd833a630fb9594b6d0c7c22fe6438d46642463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kblocks-15.12.1.tar.xz">kblocks-15.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>69091df4e93da19238f0c7c7260a264702d0b155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kblog-15.12.1.tar.xz">kblog-15.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>b7e10168bf90b603fafe15848d0dde0445563111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kbounce-15.12.1.tar.xz">kbounce-15.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>096fb52d4d79e51d856af73c6d3b2c63a6dda73e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kbreakout-15.12.1.tar.xz">kbreakout-15.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>72cfeb388bd91610d6720bf1ea646ad6acb94445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kbruch-15.12.1.tar.xz">kbruch-15.12.1</a></td>
   <td align="right">883kB</td>
   <td><tt>36cc7f7cdfbcaae21320f99762a700b1ee0eb364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kcachegrind-15.12.1.tar.xz">kcachegrind-15.12.1</a></td>
   <td align="right">232kB</td>
   <td><tt>66b5100de97d33eb28d7474e4394277c9baf6801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kcalc-15.12.1.tar.xz">kcalc-15.12.1</a></td>
   <td align="right">81kB</td>
   <td><tt>691e1dd20424a84f6e05c184c11a163767b569db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kcalcore-15.12.1.tar.xz">kcalcore-15.12.1</a></td>
   <td align="right">285kB</td>
   <td><tt>c0cbb50b08742e1af61eac336507057e8498e792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kcalutils-15.12.1.tar.xz">kcalutils-15.12.1</a></td>
   <td align="right">68kB</td>
   <td><tt>9ebc55d550189e0b601b077b571b4f6e5dd04b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kcharselect-15.12.1.tar.xz">kcharselect-15.12.1</a></td>
   <td align="right">70kB</td>
   <td><tt>370000942c59bb76f749e4e7781db3c6151dc4cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kcolorchooser-15.12.1.tar.xz">kcolorchooser-15.12.1</a></td>
   <td align="right">4kB</td>
   <td><tt>4c27fb6b937e15b85f2d4054f7810a2f700d55ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kcontacts-15.12.1.tar.xz">kcontacts-15.12.1</a></td>
   <td align="right">132kB</td>
   <td><tt>8615f2ebca75c7e4e6a2204b08c731ec4663315f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kcron-15.12.1.tar.xz">kcron-15.12.1</a></td>
   <td align="right">136kB</td>
   <td><tt>c78d76e8abeeef8d38a7332a74a30bb89c55d36a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-baseapps-15.12.1.tar.xz">kde-baseapps-15.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>75db465143614eafbce15ca80c8378444f2e3224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdebugsettings-15.12.1.tar.xz">kdebugsettings-15.12.1</a></td>
   <td align="right">22kB</td>
   <td><tt>0611ced333369489b4e0e1044f961d9060bc2882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-dev-scripts-15.12.1.tar.xz">kde-dev-scripts-15.12.1</a></td>
   <td align="right">301kB</td>
   <td><tt>61ae1460c5074db0d55f85e3a3b59a1382503668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-dev-utils-15.12.1.tar.xz">kde-dev-utils-15.12.1</a></td>
   <td align="right">50kB</td>
   <td><tt>a94abcbd8d5f46f70b1f0ba613cf07d42f22ba2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdeedu-data-15.12.1.tar.xz">kdeedu-data-15.12.1</a></td>
   <td align="right">94kB</td>
   <td><tt>e17223f8361b74a89d0de38b277c4ada6a0aee7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdegraphics-mobipocket-15.12.1.tar.xz">kdegraphics-mobipocket-15.12.1</a></td>
   <td align="right">14kB</td>
   <td><tt>a7e707c0bc6790f7ca7e54dec75755e74865e86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdegraphics-strigi-analyzer-15.12.1.tar.xz">kdegraphics-strigi-analyzer-15.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>093084e9ce48183dcf4365ee1b81ccb7039f4274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdegraphics-thumbnailers-15.12.1.tar.xz">kdegraphics-thumbnailers-15.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>8a26bf4b03d3b0623f5668e33fc80498c23d0e93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdelibs-4.14.16.tar.xz">kdelibs-4.14.16</a></td>
   <td align="right">11MB</td>
   <td><tt>a3dff87f15cafa8812e1517d27dd05658dc06a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdenetwork-filesharing-15.12.1.tar.xz">kdenetwork-filesharing-15.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>549dc21d59da93d0a2bd53f3ffc2b1c28fea9115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdenetwork-strigi-analyzers-15.12.1.tar.xz">kdenetwork-strigi-analyzers-15.12.1</a></td>
   <td align="right">14kB</td>
   <td><tt>95cd99790b90ec3a93cbb80d4a805028f75a101f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdenlive-15.12.1.tar.xz">kdenlive-15.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>245c5beaa0a0dd7c55f329368f4feb8fdefaed7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdepim-15.12.1.tar.xz">kdepim-15.12.1</a></td>
   <td align="right">12MB</td>
   <td><tt>813926916af19d5c1172f57375323fd7ebc4c727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdepimlibs-15.12.1.tar.xz">kdepimlibs-15.12.1</a></td>
   <td align="right">992kB</td>
   <td><tt>53a0c1d9314e8abb042e2de8608f8750518693d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdepim-runtime-15.12.1.tar.xz">kdepim-runtime-15.12.1</a></td>
   <td align="right">685kB</td>
   <td><tt>4954694d42dad0bed2048e5ef656cc456d35015b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-runtime-15.12.1.tar.xz">kde-runtime-15.12.1</a></td>
   <td align="right">7.5MB</td>
   <td><tt>075fda9bb87514124a15af3212b2d6c934e40ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdesdk-kioslaves-15.12.1.tar.xz">kdesdk-kioslaves-15.12.1</a></td>
   <td align="right">353kB</td>
   <td><tt>c1631b258842666bf0a82a4d10c099f7ce3bc8dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdesdk-strigi-analyzers-15.12.1.tar.xz">kdesdk-strigi-analyzers-15.12.1</a></td>
   <td align="right">17kB</td>
   <td><tt>335ae0c2d9a008ddc5c731b76224862c5b67c6e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdesdk-thumbnailers-15.12.1.tar.xz">kdesdk-thumbnailers-15.12.1</a></td>
   <td align="right">11kB</td>
   <td><tt>5ff79c4a3d9609149e0212080fb5625bdbf57244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdewebdev-15.12.1.tar.xz">kdewebdev-15.12.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f1bc673c20aadce44a1994189c7b358c3f44292b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdf-15.12.1.tar.xz">kdf-15.12.1</a></td>
   <td align="right">145kB</td>
   <td><tt>cde462c41a85b5649c543a52c5b9001f1f92e577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kdiamond-15.12.1.tar.xz">kdiamond-15.12.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>66500346f76c2c4024a29388fcb9f1e769781e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kfloppy-15.12.1.tar.xz">kfloppy-15.12.1</a></td>
   <td align="right">52kB</td>
   <td><tt>1c0bdb7e03513589d6fa418e1a31d31e9a9265a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kfourinline-15.12.1.tar.xz">kfourinline-15.12.1</a></td>
   <td align="right">274kB</td>
   <td><tt>d5561201ca7f5b02c99b90fcf26cfc74525c49bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kgeography-15.12.1.tar.xz">kgeography-15.12.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>16ee2a30304408c24d182237abf5ba4be08fd2e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kget-15.12.1.tar.xz">kget-15.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b81fe585a0cadba943c69c8f19104c13008704a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kgoldrunner-15.12.1.tar.xz">kgoldrunner-15.12.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2ffc50ff3f69e7b75176db6c23eed617a9f3be40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kgpg-15.12.1.tar.xz">kgpg-15.12.1</a></td>
   <td align="right">791kB</td>
   <td><tt>54996a6ed083931d4704f65e8db7a39436683c58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/khangman-15.12.1.tar.xz">khangman-15.12.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>4d46493f275ab704a47bc881efe88fdfe1268776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kholidays-15.12.1.tar.xz">kholidays-15.12.1</a></td>
   <td align="right">170kB</td>
   <td><tt>bf38b0d0128ac8ac833e328d3bb71d0d190b1602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kidentitymanagement-15.12.1.tar.xz">kidentitymanagement-15.12.1</a></td>
   <td align="right">35kB</td>
   <td><tt>0a628316948e7ea1eab0801f7df4d4d9234b0c8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kig-15.12.1.tar.xz">kig-15.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3f1a14246bfdd34a07adf738a4fc107767f00c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kigo-15.12.1.tar.xz">kigo-15.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>935ba87fb490b7c8054190e23cdf0f17bcb4210a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/killbots-15.12.1.tar.xz">killbots-15.12.1</a></td>
   <td align="right">941kB</td>
   <td><tt>96f786d2dcf7f15c172516bb8be0d3169952fde2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kimap-15.12.1.tar.xz">kimap-15.12.1</a></td>
   <td align="right">87kB</td>
   <td><tt>0ff962494e2cac53fbce9c770625c79215ec64c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kio-extras-15.12.1.tar.xz">kio-extras-15.12.1</a></td>
   <td align="right">260kB</td>
   <td><tt>eb5f965af68cde60dbebe5c914000947dd6ebb9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kiriki-15.12.1.tar.xz">kiriki-15.12.1</a></td>
   <td align="right">117kB</td>
   <td><tt>956b2fc096a42b5f9d879306ff6756abcc1d934c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kiten-15.12.1.tar.xz">kiten-15.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>dc08cfe4d11db195f57516906d526485e46495a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kjumpingcube-15.12.1.tar.xz">kjumpingcube-15.12.1</a></td>
   <td align="right">161kB</td>
   <td><tt>c753704166042c9c5ffd01c53bd36dfe4cc0eaac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kldap-15.12.1.tar.xz">kldap-15.12.1</a></td>
   <td align="right">52kB</td>
   <td><tt>fd884a366d35a362ab87232d20e2c22c55929169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/klettres-15.12.1.tar.xz">klettres-15.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>26d0aeae874f7d86ae438a4d56dbfb84f7ee23de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/klickety-15.12.1.tar.xz">klickety-15.12.1</a></td>
   <td align="right">769kB</td>
   <td><tt>e362ee1fbad583a0a0a14cfbb8bbfabc8cd9b7da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/klines-15.12.1.tar.xz">klines-15.12.1</a></td>
   <td align="right">928kB</td>
   <td><tt>9ea237b02158cdae43b8cdebd50dc1933d8a255e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmag-15.12.1.tar.xz">kmag-15.12.1</a></td>
   <td align="right">84kB</td>
   <td><tt>32aa6441331854c0c2c9a7f541024f862eb65330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmahjongg-15.12.1.tar.xz">kmahjongg-15.12.1</a></td>
   <td align="right">984kB</td>
   <td><tt>d5e846e4e634bdd244bdb613e35d37f0f09da7aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmailtransport-15.12.1.tar.xz">kmailtransport-15.12.1</a></td>
   <td align="right">63kB</td>
   <td><tt>52cac92e75e98c5f7bce39eb2bbd1689fefa3037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmbox-15.12.1.tar.xz">kmbox-15.12.1</a></td>
   <td align="right">23kB</td>
   <td><tt>1bfa0fd559cf0c31813072267bdc83f91b79bda2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmime-15.12.1.tar.xz">kmime-15.12.1</a></td>
   <td align="right">119kB</td>
   <td><tt>a8ea06de8b63ea4f999a48b53bcd604862764033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmines-15.12.1.tar.xz">kmines-15.12.1</a></td>
   <td align="right">609kB</td>
   <td><tt>e1a58f0dbb3250eb253953f094fead351c85bdb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmix-15.12.1.tar.xz">kmix-15.12.1</a></td>
   <td align="right">380kB</td>
   <td><tt>ff72ebd4c68cc543d73191ee1c481f29fa479063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmousetool-15.12.1.tar.xz">kmousetool-15.12.1</a></td>
   <td align="right">35kB</td>
   <td><tt>4ddec222e34d0f81ec3851b54ab2804975fd79c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmouth-15.12.1.tar.xz">kmouth-15.12.1</a></td>
   <td align="right">270kB</td>
   <td><tt>fc9e8e9cda6ef922ca7708cffa358c6fae05c185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kmplot-15.12.1.tar.xz">kmplot-15.12.1</a></td>
   <td align="right">647kB</td>
   <td><tt>7abb9399dd8b24104487da980360b089284e2d6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/knavalbattle-15.12.1.tar.xz">knavalbattle-15.12.1</a></td>
   <td align="right">889kB</td>
   <td><tt>e963a3c6068bac26f4a56ec94591801a40681472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/knetwalk-15.12.1.tar.xz">knetwalk-15.12.1</a></td>
   <td align="right">765kB</td>
   <td><tt>bb10bf2895663585e7aa606d23869f54a914f89c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kolf-15.12.1.tar.xz">kolf-15.12.1</a></td>
   <td align="right">749kB</td>
   <td><tt>5ca4bfb063673e62269c1c8f3c20e79155cc53f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kollision-15.12.1.tar.xz">kollision-15.12.1</a></td>
   <td align="right">204kB</td>
   <td><tt>597aa42a308e22ccd845eacb352e5ea960c5ce0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kolourpaint-15.12.1.tar.xz">kolourpaint-15.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9f1c150bed99a1c0c7cb02d03e9f54f67e5c0f6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kompare-15.12.1.tar.xz">kompare-15.12.1</a></td>
   <td align="right">336kB</td>
   <td><tt>791150fb07f00cf513075791f14cc1fe8ac953be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/konquest-15.12.1.tar.xz">konquest-15.12.1</a></td>
   <td align="right">396kB</td>
   <td><tt>62fb11c052ad15541fcd3cb39f29c9ef138d8e5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/konsole-15.12.1.tar.xz">konsole-15.12.1</a></td>
   <td align="right">448kB</td>
   <td><tt>eee38414c1be56b8513d894ebb5f50edb7e2c06a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kontactinterface-15.12.1.tar.xz">kontactinterface-15.12.1</a></td>
   <td align="right">24kB</td>
   <td><tt>ce0992b7cc5419f4e9391e34dfdba4d72d080c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kopete-15.12.1.tar.xz">kopete-15.12.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>351197ba9fc611b6e621ede4c8e0f814c0cca5f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kpat-15.12.1.tar.xz">kpat-15.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>02b970a703763aa300eaf860f46a13bcce7bd979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kpimtextedit-15.12.1.tar.xz">kpimtextedit-15.12.1</a></td>
   <td align="right">75kB</td>
   <td><tt>b0be233fd74442a77fa7b9cb0627107512f519df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kppp-15.12.1.tar.xz">kppp-15.12.1</a></td>
   <td align="right">683kB</td>
   <td><tt>003fe25056ceb690549a1c606f46194a9a695cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kqtquickcharts-15.12.1.tar.xz">kqtquickcharts-15.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>2e296ba66a19cea78d8b9201cd1eb86b67441f4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/krdc-15.12.1.tar.xz">krdc-15.12.1</a></td>
   <td align="right">389kB</td>
   <td><tt>52e437e3757c33a665040b7e784304cf18e8c913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kremotecontrol-15.12.1.tar.xz">kremotecontrol-15.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c5922f7f74449ff6fa15f5b2105815e8c8d88d17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kreversi-15.12.1.tar.xz">kreversi-15.12.1</a></td>
   <td align="right">464kB</td>
   <td><tt>fc2507c60320684605953861d3afaaf71589f303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/krfb-15.12.1.tar.xz">krfb-15.12.1</a></td>
   <td align="right">317kB</td>
   <td><tt>8c07ae863e269e0915836d242f89e0d7d97e88b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kross-interpreters-15.12.1.tar.xz">kross-interpreters-15.12.1</a></td>
   <td align="right">129kB</td>
   <td><tt>e4fb0187b1457ee3f298b7a54f8ad63dbe1b1676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kruler-15.12.1.tar.xz">kruler-15.12.1</a></td>
   <td align="right">120kB</td>
   <td><tt>34f3118bd5632359b2c22414bd3b90661cd2a82a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ksaneplugin-15.12.1.tar.xz">ksaneplugin-15.12.1</a></td>
   <td align="right">12kB</td>
   <td><tt>9e00951573eb3f31b455b4b29b044c66196cdde3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kscd-15.12.1.tar.xz">kscd-15.12.1</a></td>
   <td align="right">90kB</td>
   <td><tt>a61548f724ec2ea376896dc13af35e6f4fda0cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kshisen-15.12.1.tar.xz">kshisen-15.12.1</a></td>
   <td align="right">135kB</td>
   <td><tt>cd5099b90322de066a69b68a218ab8bb4b6143ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ksirk-15.12.1.tar.xz">ksirk-15.12.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>64e37609d2decaf8774034baa8c4c26ece296308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ksnakeduel-15.12.1.tar.xz">ksnakeduel-15.12.1</a></td>
   <td align="right">290kB</td>
   <td><tt>86d0ebd65ec5b2113ec523409f787d558a767a0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kspaceduel-15.12.1.tar.xz">kspaceduel-15.12.1</a></td>
   <td align="right">247kB</td>
   <td><tt>419c8cf2cfee1aab8d8efb7ed64a6f91766b1256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ksquares-15.12.1.tar.xz">ksquares-15.12.1</a></td>
   <td align="right">78kB</td>
   <td><tt>bca2b4753d95a6fb1c509665b6101abafc7d222d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kstars-15.12.1.tar.xz">kstars-15.12.1</a></td>
   <td align="right">16MB</td>
   <td><tt>472094f0867d01012d1968b6c2d973733a6089ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ksudoku-15.12.1.tar.xz">ksudoku-15.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8bb870134554ca86ec9c60ab51e7c6f62341deb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ksystemlog-15.12.1.tar.xz">ksystemlog-15.12.1</a></td>
   <td align="right">386kB</td>
   <td><tt>fe49b6a1fde7351ebd43dfcc830264b5781cb278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kteatime-15.12.1.tar.xz">kteatime-15.12.1</a></td>
   <td align="right">102kB</td>
   <td><tt>5420e84d3088b6441de3b2401e96f6fea2b784a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktimer-15.12.1.tar.xz">ktimer-15.12.1</a></td>
   <td align="right">157kB</td>
   <td><tt>2cde5c8651e5a383eabb90d6f80c4c05f95d1a2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktnef-15.12.1.tar.xz">ktnef-15.12.1</a></td>
   <td align="right">227kB</td>
   <td><tt>43387765000751300d4f218362535764325ad263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktouch-15.12.1.tar.xz">ktouch-15.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f436d28647c515fa8e54ae7f32b62390306a5d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-accounts-kcm-15.12.1.tar.xz">ktp-accounts-kcm-15.12.1</a></td>
   <td align="right">86kB</td>
   <td><tt>e7a911961050fed36cd91aadcd8f86785d5f1f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-approver-15.12.1.tar.xz">ktp-approver-15.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>418d6e5f3b59ded6e7b7cbe4bd329f1c497040ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-auth-handler-15.12.1.tar.xz">ktp-auth-handler-15.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>c19fbd465638cff4c38f209c54e7b742910fb6f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-common-internals-15.12.1.tar.xz">ktp-common-internals-15.12.1</a></td>
   <td align="right">308kB</td>
   <td><tt>a53575f20f8588c9a9e797e218c656ef720ed83e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-contact-list-15.12.1.tar.xz">ktp-contact-list-15.12.1</a></td>
   <td align="right">47kB</td>
   <td><tt>066175ee3b84afe813d0573401e6dd4bfcbecb8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-contact-runner-15.12.1.tar.xz">ktp-contact-runner-15.12.1</a></td>
   <td align="right">16kB</td>
   <td><tt>aa626c1889edc63649ada1f67f09cd7f51775708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-desktop-applets-15.12.1.tar.xz">ktp-desktop-applets-15.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>6605d92805df7ff43455389fc5512d2dfcc1b09a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-filetransfer-handler-15.12.1.tar.xz">ktp-filetransfer-handler-15.12.1</a></td>
   <td align="right">22kB</td>
   <td><tt>f798ab77a37f9ad39aaa20ef3bdb0bbb29c322a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-kded-module-15.12.1.tar.xz">ktp-kded-module-15.12.1</a></td>
   <td align="right">37kB</td>
   <td><tt>dfe59d0f1256f67ef7e7a4ba27a51c9cac633955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-send-file-15.12.1.tar.xz">ktp-send-file-15.12.1</a></td>
   <td align="right">14kB</td>
   <td><tt>0bb686fb29a5aab6481cbfd85b34636631d004f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktp-text-ui-15.12.1.tar.xz">ktp-text-ui-15.12.1</a></td>
   <td align="right">287kB</td>
   <td><tt>a3692574b1270ae1f412f31b1f2a64545e3aa9fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/ktuberling-15.12.1.tar.xz">ktuberling-15.12.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>c07cf873984a5f819d6c1f389811ab8422d52cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kturtle-15.12.1.tar.xz">kturtle-15.12.1</a></td>
   <td align="right">189kB</td>
   <td><tt>83823fb046a061b96ac8917ea3df7a648ad33f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kubrick-15.12.1.tar.xz">kubrick-15.12.1</a></td>
   <td align="right">104kB</td>
   <td><tt>41e17cea0d905762c238aa7a400165bdd7887b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kuser-15.12.1.tar.xz">kuser-15.12.1</a></td>
   <td align="right">132kB</td>
   <td><tt>43a8d667e0752ba9244f14470c5e05ee184ad58a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kwalletmanager-15.12.1.tar.xz">kwalletmanager-15.12.1</a></td>
   <td align="right">446kB</td>
   <td><tt>114811f9ff4176be17dd45fb4a22483d98ad2ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kwordquiz-15.12.1.tar.xz">kwordquiz-15.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f662c11091cf4eb98aa921b2b0cfd1375d2e7b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkcddb-15.12.1.tar.xz">libkcddb-15.12.1</a></td>
   <td align="right">154kB</td>
   <td><tt>5a257fa604f9ace9a3e8f4442740bab33a58fe18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkcompactdisc-15.12.1.tar.xz">libkcompactdisc-15.12.1</a></td>
   <td align="right">74kB</td>
   <td><tt>c1e58de2d8c48e6eb4c205a7a29e45d099a21cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkdcraw-15.12.1.tar.xz">libkdcraw-15.12.1</a></td>
   <td align="right">41kB</td>
   <td><tt>654619f951fe5eba5be883015afad6d7ed2c5106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkdeedu-15.12.1.tar.xz">libkdeedu-15.12.1</a></td>
   <td align="right">128kB</td>
   <td><tt>47be09c43dc1c40fbdb7a910446c89fb1e822a5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkdegames-15.12.1.tar.xz">libkdegames-15.12.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>56b7a590b24f393ca9a653001e04bc79742456bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkeduvocdocument-15.12.1.tar.xz">libkeduvocdocument-15.12.1</a></td>
   <td align="right">96kB</td>
   <td><tt>24eb52754358798c33e80202f30854bdbbc15f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkexiv2-15.12.1.tar.xz">libkexiv2-15.12.1</a></td>
   <td align="right">63kB</td>
   <td><tt>c51c9d358640a469bca8a64f7122974617c7348f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkface-15.12.1.tar.xz">libkface-15.12.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>2eb3d01b68efd034d960ce3149032cfbb0f31400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkgeomap-15.12.1.tar.xz">libkgeomap-15.12.1</a></td>
   <td align="right">122kB</td>
   <td><tt>b619e6607d5db90a38a428e8866aba01eecaf46f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkipi-15.12.1.tar.xz">libkipi-15.12.1</a></td>
   <td align="right">96kB</td>
   <td><tt>684b552d972ab5513cd6412ebd14b49a3446a524</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkmahjongg-15.12.1.tar.xz">libkmahjongg-15.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>04dad53421eadc97e2d532b445c4080ef61feff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libkomparediff2-15.12.1.tar.xz">libkomparediff2-15.12.1</a></td>
   <td align="right">55kB</td>
   <td><tt>f4e4de2bfae895051be955bfba9d71cf29346c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/libksane-15.12.1.tar.xz">libksane-15.12.1</a></td>
   <td align="right">79kB</td>
   <td><tt>0215146b6955e0d3ac08f84d50a99c42bdf9cea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/lokalize-15.12.1.tar.xz">lokalize-15.12.1</a></td>
   <td align="right">932kB</td>
   <td><tt>d94940ec84d7b92ebd4781cdff70e7738056b432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/lskat-15.12.1.tar.xz">lskat-15.12.1</a></td>
   <td align="right">907kB</td>
   <td><tt>55315b003405b45ad3f340143b0d696bb0ffcd3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/marble-15.12.1.tar.xz">marble-15.12.1</a></td>
   <td align="right">22MB</td>
   <td><tt>2cf8b5909b9a3f3b3d9fc17970dd0d3d3f0c1958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/mplayerthumbs-15.12.1.tar.xz">mplayerthumbs-15.12.1</a></td>
   <td align="right">26kB</td>
   <td><tt>4b745273318ecba181a7e4eaad81494c2ec4c07f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/okteta-15.12.1.tar.xz">okteta-15.12.1</a></td>
   <td align="right">492kB</td>
   <td><tt>deccd7fe078b2c1c7ca10645deeed6c3684c5b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/okular-15.12.1.tar.xz">okular-15.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>55575a4ddeef1cb3663222db6c34b65e7914a0d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/palapeli-15.12.1.tar.xz">palapeli-15.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>64abe97986b88484e82394fd80f5c0348475b594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/parley-15.12.1.tar.xz">parley-15.12.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>1412d0a64d0d3b9f952cf17706a6c0c6559b735f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/picmi-15.12.1.tar.xz">picmi-15.12.1</a></td>
   <td align="right">717kB</td>
   <td><tt>18f6538798f86eda33f9c4e37c74532cbaf4da11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/poxml-15.12.1.tar.xz">poxml-15.12.1</a></td>
   <td align="right">31kB</td>
   <td><tt>984fab2ca10e8d84c5931e401ec88f4b4cecc5af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/print-manager-15.12.1.tar.xz">print-manager-15.12.1</a></td>
   <td align="right">91kB</td>
   <td><tt>eef5fe79d03aa9cfb81bc1e4a02ef04d3015abc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/rocs-15.12.1.tar.xz">rocs-15.12.1</a></td>
   <td align="right">520kB</td>
   <td><tt>b145a89cb1903f8b39d96e3d865e8026ee8af24b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/signon-kwallet-extension-15.12.1.tar.xz">signon-kwallet-extension-15.12.1</a></td>
   <td align="right">10kB</td>
   <td><tt>651efc746f7e3911d98b11a5ee3cb74b1c96a615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/spectacle-15.12.1.tar.xz">spectacle-15.12.1</a></td>
   <td align="right">959kB</td>
   <td><tt>e3b7ed918c426c32af974de30aed55a84b0d6c95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/step-15.12.1.tar.xz">step-15.12.1</a></td>
   <td align="right">379kB</td>
   <td><tt>d0d89559eae814e75eb4631a0c1c78bd65dde11d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/svgpart-15.12.1.tar.xz">svgpart-15.12.1</a></td>
   <td align="right">8kB</td>
   <td><tt>699698609c8cd0ee02704decc89229ad1539d560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/sweeper-15.12.1.tar.xz">sweeper-15.12.1</a></td>
   <td align="right">80kB</td>
   <td><tt>e7f8aa21d5d52e7e1ffe219c5242f0c8ed684485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/syndication-15.12.1.tar.xz">syndication-15.12.1</a></td>
   <td align="right">156kB</td>
   <td><tt>b26bb10e5f4c537dd08790fdbdc1c4e6280b18f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/umbrello-15.12.1.tar.xz">umbrello-15.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>41e83b4b177aa6d5f90f3e2e0ccc48f8b04ae7d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/zeroconf-ioslave-15.12.1.tar.xz">zeroconf-ioslave-15.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>ec91b8bf0e5d641139987d9788fe26b4e6bbfa0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ar-15.12.1.tar.xz">kde-l10n-ar-15.12.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>7b1883c02fa30b5b2bddc7e64f8fcce074fc1198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-bg-15.12.1.tar.xz">kde-l10n-bg-15.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>444cf0d544c77db5bb104f218456874b25903910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-bs-15.12.1.tar.xz">kde-l10n-bs-15.12.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>55d398d66295f0154c5e0373dae13f5795391ce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ca-15.12.1.tar.xz">kde-l10n-ca-15.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>826a64357fb997d49ea679e42d1507b9eb680bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ca@valencia-15.12.1.tar.xz">kde-l10n-ca@valencia-15.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ff3fad6fd6c984cfff5c41021e09e5830a20a30e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-cs-15.12.1.tar.xz">kde-l10n-cs-15.12.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f01307380b93e1e6be89dc6b41919349a4b8b1b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-da-15.12.1.tar.xz">kde-l10n-da-15.12.1</a></td>
   <td align="right">12MB</td>
   <td><tt>fdc23af1cc1d00a89b1bef5575550e0e99d812e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-de-15.12.1.tar.xz">kde-l10n-de-15.12.1</a></td>
   <td align="right">34MB</td>
   <td><tt>35f688776edb612ced6a1e7af652a195651692de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-el-15.12.1.tar.xz">kde-l10n-el-15.12.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>d4a983ce3ca7d5faa5f893f52258ca811638c051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-en_GB-15.12.1.tar.xz">kde-l10n-en_GB-15.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4a498ec83b66f233657b7c222e629fb68fa1bd10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-eo-15.12.1.tar.xz">kde-l10n-eo-15.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5dd25b402325ef084e33089f6c7f34c3e6843595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-es-15.12.1.tar.xz">kde-l10n-es-15.12.1</a></td>
   <td align="right">20MB</td>
   <td><tt>b6f55289b5dbceb8df6c22a9d9d9f82aaf31f93a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-et-15.12.1.tar.xz">kde-l10n-et-15.12.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>421b3b5627c3f1b6a063107f2ed2ea7c7b7cf695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-eu-15.12.1.tar.xz">kde-l10n-eu-15.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c4d0547bb3d8ac0d4f9311055adc93f45add420e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-fa-15.12.1.tar.xz">kde-l10n-fa-15.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9b28671c01c2cb283a64248401af5e542129aad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-fi-15.12.1.tar.xz">kde-l10n-fi-15.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>865288132342a4053d9dc74912d11f660c2c5a04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-fr-15.12.1.tar.xz">kde-l10n-fr-15.12.1</a></td>
   <td align="right">45MB</td>
   <td><tt>2218966b6f1b5bdcce78c715f7efeb200af50f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ga-15.12.1.tar.xz">kde-l10n-ga-15.12.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c04a024cd4a0140773e93cd198c91121c4853415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-gl-15.12.1.tar.xz">kde-l10n-gl-15.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>af65a8a05aafb8b3ad38e9d03e2ff83c567cabea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-he-15.12.1.tar.xz">kde-l10n-he-15.12.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f48137702e50488b1e6e4da5ce189535a73ecde3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-hi-15.12.1.tar.xz">kde-l10n-hi-15.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9a5684f21cca21c0f2df4985f2b1d8fcdc1cf5ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-hr-15.12.1.tar.xz">kde-l10n-hr-15.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>131e458ef4e869c3ae28908f70b5ef80743c0e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-hu-15.12.1.tar.xz">kde-l10n-hu-15.12.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>8133dd7fee8cb393667ff7b67ab825aa550bb93e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ia-15.12.1.tar.xz">kde-l10n-ia-15.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a3f534ba0e4713c2877937e6a75a10ed85a1a11d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-id-15.12.1.tar.xz">kde-l10n-id-15.12.1</a></td>
   <td align="right">545kB</td>
   <td><tt>4bec3da96fe0d672d8cbbec16129d59646c79447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-is-15.12.1.tar.xz">kde-l10n-is-15.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>289fac87cd38a5d8097d9e8e72e6076f417f3db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-it-15.12.1.tar.xz">kde-l10n-it-15.12.1</a></td>
   <td align="right">8.3MB</td>
   <td><tt>faa313789c599f62379269bebc211783b3268a7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ja-15.12.1.tar.xz">kde-l10n-ja-15.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>bb0c50529732d7778f70e4cc6297f55be02c7c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-kk-15.12.1.tar.xz">kde-l10n-kk-15.12.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>bcab9984180881e44f1052139cb69a2d0175280e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-km-15.12.1.tar.xz">kde-l10n-km-15.12.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a884b64263d00c68c65eba513dd74d2bf19bfdab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ko-15.12.1.tar.xz">kde-l10n-ko-15.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4db46a44207daf8b7c723242cd7f80a180e445d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-lt-15.12.1.tar.xz">kde-l10n-lt-15.12.1</a></td>
   <td align="right">12MB</td>
   <td><tt>928a8b9280f2d652882e76c1660f85157019ed4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-lv-15.12.1.tar.xz">kde-l10n-lv-15.12.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e00606c96991381186ae7c79d1ca3e5f69a9913a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-mr-15.12.1.tar.xz">kde-l10n-mr-15.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>41139c1c90912256ec25ff25da7a5d4da948147a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-nb-15.12.1.tar.xz">kde-l10n-nb-15.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f949ecbb57f5bac60424492575481ff95e3f0000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-nds-15.12.1.tar.xz">kde-l10n-nds-15.12.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>26fe714949eaf453222e338bacac5c704c24975e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-nl-15.12.1.tar.xz">kde-l10n-nl-15.12.1</a></td>
   <td align="right">13MB</td>
   <td><tt>1a1735ce436007b0097ed1682c2f0faeb76e8c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-nn-15.12.1.tar.xz">kde-l10n-nn-15.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c05e717dc4304c00afbee29fa5558aadf95f3700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-pa-15.12.1.tar.xz">kde-l10n-pa-15.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1d28a8188c56515fc30282508228065f22f1fe2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-pl-15.12.1.tar.xz">kde-l10n-pl-15.12.1</a></td>
   <td align="right">18MB</td>
   <td><tt>48a19205af40f8fd7823f36f8d22d8dc09e87a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-pt-15.12.1.tar.xz">kde-l10n-pt-15.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>06e84de576298594fe0b86d64539ce55912e1093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-pt_BR-15.12.1.tar.xz">kde-l10n-pt_BR-15.12.1</a></td>
   <td align="right">20MB</td>
   <td><tt>173a6652ecdce616629850b541747827954cad76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ro-15.12.1.tar.xz">kde-l10n-ro-15.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7bbebe69c490bb178f9484aad67d09e12d1762e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ru-15.12.1.tar.xz">kde-l10n-ru-15.12.1</a></td>
   <td align="right">22MB</td>
   <td><tt>4776d9837e0f220c28c96a9096d64331330a433d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-sk-15.12.1.tar.xz">kde-l10n-sk-15.12.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>bea35f1738e775e880a56a6555c058d16e5b4a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-sl-15.12.1.tar.xz">kde-l10n-sl-15.12.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>52733d49b60c2a5cd8f5fec02756cafbed44b8c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-sr-15.12.1.tar.xz">kde-l10n-sr-15.12.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a4f55ce7fb00d6c4d3563fe329378554157fa1b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-sv-15.12.1.tar.xz">kde-l10n-sv-15.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>eaa3ae1753913246b37ed0a7de5d7f01d7f4f6ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-tr-15.12.1.tar.xz">kde-l10n-tr-15.12.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>1cf9ce0df8f39248798111c7f007fc36c4207c84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-ug-15.12.1.tar.xz">kde-l10n-ug-15.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4a0597ccc8a822fa49aad9f7b67405bd26f84a28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-uk-15.12.1.tar.xz">kde-l10n-uk-15.12.1</a></td>
   <td align="right">25MB</td>
   <td><tt>87fe9995dbaf216466dc3a5cce7e7546275d735d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-wa-15.12.1.tar.xz">kde-l10n-wa-15.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>96d7be554a3610bfdf3cc3b06717b558296ce73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-zh_CN-15.12.1.tar.xz">kde-l10n-zh_CN-15.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>9c25d598e327c118f5c4de0106beb94dd06a020d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.1/src/kde-l10n/kde-l10n-zh_TW-15.12.1.tar.xz">kde-l10n-zh_TW-15.12.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1807f5bb4d4aa2bf4ca30a582de5c22cd6746a12</tt></td>
</tr>

</table>
