<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akonadi-18.12.3.tar.xz">akonadi-18.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7f84397dda76967bffd1618cbb21e82c4e222511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akonadi-calendar-18.12.3.tar.xz">akonadi-calendar-18.12.3</a></td>
   <td align="right">325kB</td>
   <td><tt>0964306085c9d59f9e4555ca06f7f633c1ae6a81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akonadi-calendar-tools-18.12.3.tar.xz">akonadi-calendar-tools-18.12.3</a></td>
   <td align="right">220kB</td>
   <td><tt>0cf78de1e94484373ee058ac8753cde759456c73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akonadiconsole-18.12.3.tar.xz">akonadiconsole-18.12.3</a></td>
   <td align="right">189kB</td>
   <td><tt>d1235d6db3f6ac3fbb1548e330c0a71730a72e05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akonadi-contacts-18.12.3.tar.xz">akonadi-contacts-18.12.3</a></td>
   <td align="right">381kB</td>
   <td><tt>2607c230c0e2127df205f795f5603dd9e660e764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akonadi-import-wizard-18.12.3.tar.xz">akonadi-import-wizard-18.12.3</a></td>
   <td align="right">428kB</td>
   <td><tt>6454816644691d052b406afd5036ec7dd4979db9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akonadi-mime-18.12.3.tar.xz">akonadi-mime-18.12.3</a></td>
   <td align="right">133kB</td>
   <td><tt>5144dbd537e5be3d8b545f9ed98b06482acf1033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akonadi-notes-18.12.3.tar.xz">akonadi-notes-18.12.3</a></td>
   <td align="right">23kB</td>
   <td><tt>0c3dda7fcb81f3b0173398696a7189358308e57f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akonadi-search-18.12.3.tar.xz">akonadi-search-18.12.3</a></td>
   <td align="right">80kB</td>
   <td><tt>4d15fe0592c027d6e0f911585c8eac96367733c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/akregator-18.12.3.tar.xz">akregator-18.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3525f7b2bfe9b1d5379fd3176527c483d4e2298d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/analitza-18.12.3.tar.xz">analitza-18.12.3</a></td>
   <td align="right">324kB</td>
   <td><tt>72d77393b4b08b8e4193cf7f5059623aa593ca85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ark-18.12.3.tar.xz">ark-18.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>4ed606a821bbe1797337e939041025eecd28a714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/artikulate-18.12.3.tar.xz">artikulate-18.12.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>5436d6b526564e4a9105dd8fc041b2ac50c6d7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/audiocd-kio-18.12.3.tar.xz">audiocd-kio-18.12.3</a></td>
   <td align="right">244kB</td>
   <td><tt>1db671b5c1528091bf725652203e5e87a4f4c893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/baloo-widgets-18.12.3.tar.xz">baloo-widgets-18.12.3</a></td>
   <td align="right">239kB</td>
   <td><tt>02ff87f4f2efc6389f72b9da4afe5acf125a3ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/blinken-18.12.3.tar.xz">blinken-18.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>bbb3629d6390eecc6eac3fb60add4adc2e7e5059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/bomber-18.12.3.tar.xz">bomber-18.12.3</a></td>
   <td align="right">800kB</td>
   <td><tt>590553f9f0507f0461cef3bec42128aef75ca9d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/bovo-18.12.3.tar.xz">bovo-18.12.3</a></td>
   <td align="right">194kB</td>
   <td><tt>6281f341a5ab906d89040c3d0ecfd1a25314d084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/calendarsupport-18.12.3.tar.xz">calendarsupport-18.12.3</a></td>
   <td align="right">631kB</td>
   <td><tt>4a4fd45540af36ebebd1e2edb284c3b2a70b4f7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/cantor-18.12.3.tar.xz">cantor-18.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3f6aff3b041751277843a39642810abacf93eab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/cervisia-18.12.3.tar.xz">cervisia-18.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e4e6a28420a3c14d48bcd6d7a71920bffcfb57c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/dolphin-18.12.3.tar.xz">dolphin-18.12.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>0d8b7a972caac4e5da05cfc916d8622427dc16d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/dolphin-plugins-18.12.3.tar.xz">dolphin-plugins-18.12.3</a></td>
   <td align="right">187kB</td>
   <td><tt>d27430a5938c115d7b05c644d0d2346da9694494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/dragon-18.12.3.tar.xz">dragon-18.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>30f0a74a425fe41b38678450d8c42e96410e578a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/eventviews-18.12.3.tar.xz">eventviews-18.12.3</a></td>
   <td align="right">432kB</td>
   <td><tt>71a15531c4145f3e877ad22dbdfe76e90821abdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ffmpegthumbs-18.12.3.tar.xz">ffmpegthumbs-18.12.3</a></td>
   <td align="right">23kB</td>
   <td><tt>5378ff9dda296b29484031999f2efa98b2834075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/filelight-18.12.3.tar.xz">filelight-18.12.3</a></td>
   <td align="right">645kB</td>
   <td><tt>37fd73502df59bd6a21a77742b6775572c96cf42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/granatier-18.12.3.tar.xz">granatier-18.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>370a2d6932cba3d9174c9c5caadbb0dcc12781b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/grantlee-editor-18.12.3.tar.xz">grantlee-editor-18.12.3</a></td>
   <td align="right">108kB</td>
   <td><tt>96106c6db8b9797a4d44c058227b1a103d1df9d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/grantleetheme-18.12.3.tar.xz">grantleetheme-18.12.3</a></td>
   <td align="right">50kB</td>
   <td><tt>372d7d64096184aef2303cb7b4a181ecb43705a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/gwenview-18.12.3.tar.xz">gwenview-18.12.3</a></td>
   <td align="right">5.4MB</td>
   <td><tt>bc8315ffcf018f9811e25ebf4fb31a1c3150a2f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/incidenceeditor-18.12.3.tar.xz">incidenceeditor-18.12.3</a></td>
   <td align="right">529kB</td>
   <td><tt>c9264c111f31b8d34a8fa5a3d036f6229f51f850</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/juk-18.12.3.tar.xz">juk-18.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f52306b36fc68301dde9c90892be09ebe9aa1197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/k3b-18.12.3.tar.xz">k3b-18.12.3</a></td>
   <td align="right">10MB</td>
   <td><tt>cb7f3cdd12ae8fb423c97ee8eef45b835e37115f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kaccounts-integration-18.12.3.tar.xz">kaccounts-integration-18.12.3</a></td>
   <td align="right">69kB</td>
   <td><tt>ad647fb501e3f23046c01ec2310606c10ff5fa3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kaccounts-providers-18.12.3.tar.xz">kaccounts-providers-18.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>3761fbf894c2c7e0ad1b7759082e9f37855279ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kaddressbook-18.12.3.tar.xz">kaddressbook-18.12.3</a></td>
   <td align="right">461kB</td>
   <td><tt>90840f111d2ad2ba0ac666c22a75dafaed146e7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kajongg-18.12.3.tar.xz">kajongg-18.12.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>408e0ca6c02b1339aaed18a7223a6148e815c27e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kalarm-18.12.3.tar.xz">kalarm-18.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>37d83b5dd2d1c3d838d625f9dcfbb0c74aa716e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kalarmcal-18.12.3.tar.xz">kalarmcal-18.12.3</a></td>
   <td align="right">559kB</td>
   <td><tt>1679e36dfc634a010b909fd4f1ff8eda14fdd986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kalgebra-18.12.3.tar.xz">kalgebra-18.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9ddd1a6d6c67e6c8f9fb90dae2ba5b9bfc873120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kalzium-18.12.3.tar.xz">kalzium-18.12.3</a></td>
   <td align="right">25MB</td>
   <td><tt>7c78d1dbdefa3e4508fe4dd89edfcb66d1a91a90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kamera-18.12.3.tar.xz">kamera-18.12.3</a></td>
   <td align="right">96kB</td>
   <td><tt>06d8d6941b4435cdb6a6db047e005100a193b8a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kamoso-18.12.3.tar.xz">kamoso-18.12.3</a></td>
   <td align="right">162kB</td>
   <td><tt>e56ce4464c6447fd05a45d7014518ca65c007b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kanagram-18.12.3.tar.xz">kanagram-18.12.3</a></td>
   <td align="right">7.6MB</td>
   <td><tt>78a82f1b75a800de17d89523997df77bdfdaf99e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kapman-18.12.3.tar.xz">kapman-18.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0c029c7a671e50d284b25c74df7f728289d9f720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kapptemplate-18.12.3.tar.xz">kapptemplate-18.12.3</a></td>
   <td align="right">309kB</td>
   <td><tt>c9c73d9c2678d740521973be07352572cba699fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kate-18.12.3.tar.xz">kate-18.12.3</a></td>
   <td align="right">5.4MB</td>
   <td><tt>0b51b5b59c6fd58aeb87112bd399ba8ff4dd1279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/katomic-18.12.3.tar.xz">katomic-18.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>23671c71903ec973de511c98e0e316097a82ed82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kbackup-18.12.3.tar.xz">kbackup-18.12.3</a></td>
   <td align="right">343kB</td>
   <td><tt>e7264d367d27aadaef4d9d1f171db12466e3f2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kblackbox-18.12.3.tar.xz">kblackbox-18.12.3</a></td>
   <td align="right">433kB</td>
   <td><tt>123c258b2da06222a8348edf73c6f1911bf0f1c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kblocks-18.12.3.tar.xz">kblocks-18.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5b9cada86ee2270b679f50c7888e2f06f1e728ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kblog-18.12.3.tar.xz">kblog-18.12.3</a></td>
   <td align="right">71kB</td>
   <td><tt>e05708874a32eac0074ee2fb0261f997627039f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kbounce-18.12.3.tar.xz">kbounce-18.12.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>bb97bb017698dd2f81558c63268e5c7b7ddc56ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kbreakout-18.12.3.tar.xz">kbreakout-18.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ae24597222983ffcf4ecfc04c0b98ee2ef0d03a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kbruch-18.12.3.tar.xz">kbruch-18.12.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>ccf828f7fdc10b3496a9c2f6efc4cf442965cb28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kcachegrind-18.12.3.tar.xz">kcachegrind-18.12.3</a></td>
   <td align="right">789kB</td>
   <td><tt>e33cc0179981069d1c6e6af3563bd75d314f8652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kcalc-18.12.3.tar.xz">kcalc-18.12.3</a></td>
   <td align="right">354kB</td>
   <td><tt>d793fe8a820a0fa3b8e56653195f76962813b08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kcalcore-18.12.3.tar.xz">kcalcore-18.12.3</a></td>
   <td align="right">246kB</td>
   <td><tt>9e47839de006c449734ec4e580b462a499c51b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kcalutils-18.12.3.tar.xz">kcalutils-18.12.3</a></td>
   <td align="right">321kB</td>
   <td><tt>aeed3b9ae654fe9933b59185918d80546f78024c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kcharselect-18.12.3.tar.xz">kcharselect-18.12.3</a></td>
   <td align="right">326kB</td>
   <td><tt>a3d23e70d06da5c7c277cd64e37d0f4d82765f34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kcolorchooser-18.12.3.tar.xz">kcolorchooser-18.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>60b48a1e063db35631a2ca2725cdd6d44c74cc25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kcontacts-18.12.3.tar.xz">kcontacts-18.12.3</a></td>
   <td align="right">589kB</td>
   <td><tt>8ab6d6c52da695439d6da4cbe3b9cdacc79cd35d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kcron-18.12.3.tar.xz">kcron-18.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e87d94dae54a3968792c712c63bfd5e035286543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdav-18.12.3.tar.xz">kdav-18.12.3</a></td>
   <td align="right">48kB</td>
   <td><tt>04fbb9a38e8bb7d1b38095b72a8fdc2fc5128d66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdebugsettings-18.12.3.tar.xz">kdebugsettings-18.12.3</a></td>
   <td align="right">53kB</td>
   <td><tt>42234714203bb3876cdb313dc29e72f37ad751e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kde-dev-scripts-18.12.3.tar.xz">kde-dev-scripts-18.12.3</a></td>
   <td align="right">369kB</td>
   <td><tt>3245a0d72d9c0e4e19e64e83d9df2e79e9698b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kde-dev-utils-18.12.3.tar.xz">kde-dev-utils-18.12.3</a></td>
   <td align="right">59kB</td>
   <td><tt>14fc807efac1828cfa2f96402c9a3b5e4a545276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdeedu-data-18.12.3.tar.xz">kdeedu-data-18.12.3</a></td>
   <td align="right">320kB</td>
   <td><tt>989947d54798d60042b840c2845667a52d34138a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdegraphics-mobipocket-18.12.3.tar.xz">kdegraphics-mobipocket-18.12.3</a></td>
   <td align="right">13kB</td>
   <td><tt>468a7d042db579cbf01d20a1a854ebfa04098e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdegraphics-thumbnailers-18.12.3.tar.xz">kdegraphics-thumbnailers-18.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>f4d9c3a4a074bd4ce702888cde4a90e4b6655d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdenetwork-filesharing-18.12.3.tar.xz">kdenetwork-filesharing-18.12.3</a></td>
   <td align="right">305kB</td>
   <td><tt>0de833933de621befa91fe5017ce0a67035b39c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdenlive-18.12.3.tar.xz">kdenlive-18.12.3</a></td>
   <td align="right">9.7MB</td>
   <td><tt>ed2e0cd655356dc791db800d332315aa4f865fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdepim-addons-18.12.3.tar.xz">kdepim-addons-18.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f7c261bb9fb650cff8ea45dd7d8ca70d96a6ba57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdepim-apps-libs-18.12.3.tar.xz">kdepim-apps-libs-18.12.3</a></td>
   <td align="right">83kB</td>
   <td><tt>9b61e418af65758c644f45985b1277a89e1b1868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdepim-runtime-18.12.3.tar.xz">kdepim-runtime-18.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8b52538e930c81fab89c735fee07ee1c9d18f18f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdesdk-kioslaves-18.12.3.tar.xz">kdesdk-kioslaves-18.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>e8a736b2e52e6a8e15323b4562d1a7dcf17b71fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdesdk-thumbnailers-18.12.3.tar.xz">kdesdk-thumbnailers-18.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>27cec82d000e89ada8117e62f46a6974ab25576a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdf-18.12.3.tar.xz">kdf-18.12.3</a></td>
   <td align="right">543kB</td>
   <td><tt>b2c10424d47f96cc91d645709095e9a4978ffa31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdialog-18.12.3.tar.xz">kdialog-18.12.3</a></td>
   <td align="right">95kB</td>
   <td><tt>36561a190554b401a393df19c3b872176d6e4865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kdiamond-18.12.3.tar.xz">kdiamond-18.12.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>e0d3f74549c05e7483ee61c5efcf60fa40d81ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/keditbookmarks-18.12.3.tar.xz">keditbookmarks-18.12.3</a></td>
   <td align="right">180kB</td>
   <td><tt>2640b78829a14101a952ec6e4d27d41e6ab6b443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kfind-18.12.3.tar.xz">kfind-18.12.3</a></td>
   <td align="right">261kB</td>
   <td><tt>ed959c4fcd5a26293ec9de2f5937a9963bb5f254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kfloppy-18.12.3.tar.xz">kfloppy-18.12.3</a></td>
   <td align="right">194kB</td>
   <td><tt>10b0f743df61adeaa3a7f0396e14fca85cfc4354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kfourinline-18.12.3.tar.xz">kfourinline-18.12.3</a></td>
   <td align="right">621kB</td>
   <td><tt>9fbd77d3e67d66ef073d10b675937521111e0e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kgeography-18.12.3.tar.xz">kgeography-18.12.3</a></td>
   <td align="right">10MB</td>
   <td><tt>140076f091a1c6e9a0a5ab0c127e0083b42307b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kget-18.12.3.tar.xz">kget-18.12.3</a></td>
   <td align="right">4.8MB</td>
   <td><tt>d900b8208da94cabb618848bae7f92edb4ba28c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kgoldrunner-18.12.3.tar.xz">kgoldrunner-18.12.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a4de774500d930e641658ddeedcca7d1895d3684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kgpg-18.12.3.tar.xz">kgpg-18.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>45a43dacbba2e005afb6b5d7740aa7cf4820ae91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/khangman-18.12.3.tar.xz">khangman-18.12.3</a></td>
   <td align="right">6.7MB</td>
   <td><tt>2a6ef50bd26b6019ea507002deb4de97fa8e5999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/khelpcenter-18.12.3.tar.xz">khelpcenter-18.12.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>f9a4f67d6ce5abe5fed11ead746f08ab487b2ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kidentitymanagement-18.12.3.tar.xz">kidentitymanagement-18.12.3</a></td>
   <td align="right">145kB</td>
   <td><tt>70162f4bb0146a1da2d5eb32ceb4e1874ec57e25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kig-18.12.3.tar.xz">kig-18.12.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>9008337367ba4a09651fbad518599d54b89ce995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kigo-18.12.3.tar.xz">kigo-18.12.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>114626abc57515a150a0dbbe28ea29a78e2afee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/killbots-18.12.3.tar.xz">killbots-18.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c519938578dc62d6326b9640a99043b279db0fe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kimagemapeditor-18.12.3.tar.xz">kimagemapeditor-18.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1dc580d42701a566c61fd6b1dab4a896e19f33bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kimap-18.12.3.tar.xz">kimap-18.12.3</a></td>
   <td align="right">116kB</td>
   <td><tt>26d117f8da83752ccc27623257f6539828a2e5db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kio-extras-18.12.3.tar.xz">kio-extras-18.12.3</a></td>
   <td align="right">549kB</td>
   <td><tt>c2d53d771da577485f6e24f731199456f7292d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kirigami-gallery-18.12.3.tar.xz">kirigami-gallery-18.12.3</a></td>
   <td align="right">264kB</td>
   <td><tt>18c926795cf51f9ed9c70986b69ffb3749092dd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kiriki-18.12.3.tar.xz">kiriki-18.12.3</a></td>
   <td align="right">363kB</td>
   <td><tt>91198efdff2c43b0fbbc5206f20925922a86ce4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kiten-18.12.3.tar.xz">kiten-18.12.3</a></td>
   <td align="right">10MB</td>
   <td><tt>6e147daa0319cde143f3bdc2302dedd2e4a4a578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kitinerary-18.12.3.tar.xz">kitinerary-18.12.3</a></td>
   <td align="right">636kB</td>
   <td><tt>f7b69ae1d0d11e144ee3225c7fbf8fb766111365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kjumpingcube-18.12.3.tar.xz">kjumpingcube-18.12.3</a></td>
   <td align="right">279kB</td>
   <td><tt>9389c7c9dfbbb2ffb20d7957b6db91acabc2734d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kldap-18.12.3.tar.xz">kldap-18.12.3</a></td>
   <td align="right">151kB</td>
   <td><tt>050ba9ef39578867c6b04ce8e84272aea7ded9bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kleopatra-18.12.3.tar.xz">kleopatra-18.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>67df0029b550791d060f3f24b8cd85e7d6d97b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/klettres-18.12.3.tar.xz">klettres-18.12.3</a></td>
   <td align="right">20MB</td>
   <td><tt>0ae702fa0e1b16518cfa1c353a17877830792c9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/klickety-18.12.3.tar.xz">klickety-18.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b837074b1b0e6fb19ce3daf0f62b9f6ee9af19c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/klines-18.12.3.tar.xz">klines-18.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>831106547d529b20b5e6d47026fca5171a8470ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmag-18.12.3.tar.xz">kmag-18.12.3</a></td>
   <td align="right">614kB</td>
   <td><tt>a881699e96b14172cb7425d7adbb4e47d960a7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmahjongg-18.12.3.tar.xz">kmahjongg-18.12.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>711aea9c171419e9aacc5259c674d277052cd77d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmail-18.12.3.tar.xz">kmail-18.12.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>fb4698af1e996dec9755c2106f7438b271e93e3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmail-account-wizard-18.12.3.tar.xz">kmail-account-wizard-18.12.3</a></td>
   <td align="right">152kB</td>
   <td><tt>35b9f5e5e7350e8c490bca4d4abe698914dce7db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmailtransport-18.12.3.tar.xz">kmailtransport-18.12.3</a></td>
   <td align="right">161kB</td>
   <td><tt>af10be6b95ca8e8ef19655ba36afe8b2105ce43e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmbox-18.12.3.tar.xz">kmbox-18.12.3</a></td>
   <td align="right">24kB</td>
   <td><tt>5c55e38215c83690a291c6d926955db355fef8e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmime-18.12.3.tar.xz">kmime-18.12.3</a></td>
   <td align="right">143kB</td>
   <td><tt>d69aedf05f4c780b3a1a22ce7eae83eec90f2082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmines-18.12.3.tar.xz">kmines-18.12.3</a></td>
   <td align="right">880kB</td>
   <td><tt>4cd131dfd359c84013b85e074cd8a1c8e66aa04b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmix-18.12.3.tar.xz">kmix-18.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>36e33be728d182f0066cfe4e4f05fe65f0270a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmousetool-18.12.3.tar.xz">kmousetool-18.12.3</a></td>
   <td align="right">109kB</td>
   <td><tt>7f7c53d411bf5069282f9cf5fc8cdefe1c7b5341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmouth-18.12.3.tar.xz">kmouth-18.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>39d88e72bc3dc33bae95f8dde16912a9b7c497ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kmplot-18.12.3.tar.xz">kmplot-18.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d361d76a001b741cca94a739f1744e5980679901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/knavalbattle-18.12.3.tar.xz">knavalbattle-18.12.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>bf0474539507678e2b9cba160c215a5e42b2e532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/knetwalk-18.12.3.tar.xz">knetwalk-18.12.3</a></td>
   <td align="right">1012kB</td>
   <td><tt>7e650bc5eea9ffa0546775956ba72d7c1b6e317d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/knights-18.12.3.tar.xz">knights-18.12.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>e20e0ae24827a49ee912d6a03de97c2f8cbf6fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/knotes-18.12.3.tar.xz">knotes-18.12.3</a></td>
   <td align="right">312kB</td>
   <td><tt>b8d9070c92a157601de3af3cae932dc0a63022e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kolf-18.12.3.tar.xz">kolf-18.12.3</a></td>
   <td align="right">903kB</td>
   <td><tt>8f4ca801cbf473c111c4c92574ce03d78676c790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kollision-18.12.3.tar.xz">kollision-18.12.3</a></td>
   <td align="right">274kB</td>
   <td><tt>d50a893cb1fdbc90a43973bd4be7c09b6e07822b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kolourpaint-18.12.3.tar.xz">kolourpaint-18.12.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>f96c55dbbd5f213fff4393462bd8b672ef9c8d94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kompare-18.12.3.tar.xz">kompare-18.12.3</a></td>
   <td align="right">783kB</td>
   <td><tt>66796078e4fe8465928afe5230458d6e6cc02f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/konqueror-18.12.3.tar.xz">konqueror-18.12.3</a></td>
   <td align="right">7.3MB</td>
   <td><tt>d0f45764fd1ba70f9006775284e2380429254774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/konquest-18.12.3.tar.xz">konquest-18.12.3</a></td>
   <td align="right">643kB</td>
   <td><tt>a31349f105dbf55ee4818eb48f114e80c889bd11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/konsole-18.12.3.tar.xz">konsole-18.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>75544e96eaa38d5bf5e9195022100a349e235715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kontact-18.12.3.tar.xz">kontact-18.12.3</a></td>
   <td align="right">774kB</td>
   <td><tt>c504b9f855278e85f1884761f26d1532380059a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kontactinterface-18.12.3.tar.xz">kontactinterface-18.12.3</a></td>
   <td align="right">32kB</td>
   <td><tt>e0cb713ffa62e08c2a779fb5992b22e1d41121c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kopete-18.12.3.tar.xz">kopete-18.12.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>73a22d58a5c4e44a2aa34da962643b653d1b7fca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/korganizer-18.12.3.tar.xz">korganizer-18.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>20a81bddff2d321a0578f068eed333c0cc3ac86b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kpat-18.12.3.tar.xz">kpat-18.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>40d0296aa2181aa88e4b8f344cf4d3e8946c02b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kpimtextedit-18.12.3.tar.xz">kpimtextedit-18.12.3</a></td>
   <td align="right">139kB</td>
   <td><tt>df1e64c2db757259d41e05402f374eb498b08813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kpkpass-18.12.3.tar.xz">kpkpass-18.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>e3f6c7443299f1fc45573819263db62245be5afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kqtquickcharts-18.12.3.tar.xz">kqtquickcharts-18.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>1d908c5abb6f528382ef7dc9d7df1faefab50da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/krdc-18.12.3.tar.xz">krdc-18.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a5342c9078a266214576a61a5a5cdff27fcc3aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kreversi-18.12.3.tar.xz">kreversi-18.12.3</a></td>
   <td align="right">921kB</td>
   <td><tt>24fe1d0cf4d1f88d427abcd9815de33e9deec3dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/krfb-18.12.3.tar.xz">krfb-18.12.3</a></td>
   <td align="right">910kB</td>
   <td><tt>3ac8c9723fb1902530733f60bd3bf15bf77509a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kross-interpreters-18.12.3.tar.xz">kross-interpreters-18.12.3</a></td>
   <td align="right">141kB</td>
   <td><tt>764b6ca1d9604fd3258015cde72a791f2beac7a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kruler-18.12.3.tar.xz">kruler-18.12.3</a></td>
   <td align="right">278kB</td>
   <td><tt>69d033cf2379a7a012a8c77cea86d95209b9286b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kshisen-18.12.3.tar.xz">kshisen-18.12.3</a></td>
   <td align="right">801kB</td>
   <td><tt>c6e7c4740788016c7bc179106251db5df1ec8eb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ksirk-18.12.3.tar.xz">ksirk-18.12.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>a1fc86dc76f9c749ebbbe65f7e0b30e1ad55ef69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ksmtp-18.12.3.tar.xz">ksmtp-18.12.3</a></td>
   <td align="right">39kB</td>
   <td><tt>fc068462ce8e1fb5767648781e5e6320fa91798b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ksnakeduel-18.12.3.tar.xz">ksnakeduel-18.12.3</a></td>
   <td align="right">590kB</td>
   <td><tt>c3e6577327b9ee14eb15b6c475ff63e028c93585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kspaceduel-18.12.3.tar.xz">kspaceduel-18.12.3</a></td>
   <td align="right">596kB</td>
   <td><tt>0ff3627b95d6033e5298401a25ba8b438651bcb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ksquares-18.12.3.tar.xz">ksquares-18.12.3</a></td>
   <td align="right">253kB</td>
   <td><tt>fba39fd70d73f3c43ca5bef1b72c9db110324c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ksudoku-18.12.3.tar.xz">ksudoku-18.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>444c8778cb594fbb0b98d1e6df1ac1b537cdbf46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ksystemlog-18.12.3.tar.xz">ksystemlog-18.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c97fb3ef8f10b127ff94033739014d843cd994b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kteatime-18.12.3.tar.xz">kteatime-18.12.3</a></td>
   <td align="right">291kB</td>
   <td><tt>067c9994a5517e9cb2eb86c139d03ba6434bc9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktimer-18.12.3.tar.xz">ktimer-18.12.3</a></td>
   <td align="right">367kB</td>
   <td><tt>f9ebefc1192e2bfce7a49433965ad542225db1aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktnef-18.12.3.tar.xz">ktnef-18.12.3</a></td>
   <td align="right">292kB</td>
   <td><tt>29f86ee861ec54d3d3e95605d396be0460068c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktouch-18.12.3.tar.xz">ktouch-18.12.3</a></td>
   <td align="right">4.8MB</td>
   <td><tt>3202d4f1a1f5a6e375f6a8fd0276928b3b99b732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-accounts-kcm-18.12.3.tar.xz">ktp-accounts-kcm-18.12.3</a></td>
   <td align="right">255kB</td>
   <td><tt>1e6a456fc5ab90a30cb7093dad23af33d659b62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-approver-18.12.3.tar.xz">ktp-approver-18.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>9d433c2bfbeda30c3b59d0e6b65cba31fbe434b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-auth-handler-18.12.3.tar.xz">ktp-auth-handler-18.12.3</a></td>
   <td align="right">44kB</td>
   <td><tt>d05a6288b884a55affbd4dcd4ff28fee62fe05a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-call-ui-18.12.3.tar.xz">ktp-call-ui-18.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>6d30874558e53a5b1b29de8dd41c756cb7e2e213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-common-internals-18.12.3.tar.xz">ktp-common-internals-18.12.3</a></td>
   <td align="right">430kB</td>
   <td><tt>864d6688f4f3f7dea0a272383fc75abbf81fb9db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-contact-list-18.12.3.tar.xz">ktp-contact-list-18.12.3</a></td>
   <td align="right">143kB</td>
   <td><tt>6077811525c2b33dc2e88b70630615756c7a6783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-contact-runner-18.12.3.tar.xz">ktp-contact-runner-18.12.3</a></td>
   <td align="right">41kB</td>
   <td><tt>42ce26a810844da1b6886160acd63c75810de26b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-desktop-applets-18.12.3.tar.xz">ktp-desktop-applets-18.12.3</a></td>
   <td align="right">41kB</td>
   <td><tt>ddce706872591ba9c7d1f31172062ca7a3617471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-filetransfer-handler-18.12.3.tar.xz">ktp-filetransfer-handler-18.12.3</a></td>
   <td align="right">44kB</td>
   <td><tt>e95986c9686ef2d5e10a7a688f494d98662a9c72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-kded-module-18.12.3.tar.xz">ktp-kded-module-18.12.3</a></td>
   <td align="right">92kB</td>
   <td><tt>72e2e6b36323667d2448bc8a4818d22c46598c71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-send-file-18.12.3.tar.xz">ktp-send-file-18.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>7938bdf88f61b70138839df1085e81ea7b81747f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktp-text-ui-18.12.3.tar.xz">ktp-text-ui-18.12.3</a></td>
   <td align="right">455kB</td>
   <td><tt>a6291395b08f3c47ba7a31f8b7d605efd706fc83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/ktuberling-18.12.3.tar.xz">ktuberling-18.12.3</a></td>
   <td align="right">31MB</td>
   <td><tt>18cbd23eac27ba56d4692294cc8cbda5d49434ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kturtle-18.12.3.tar.xz">kturtle-18.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7c6b8576125af72179926997f45eeb6c04c2956f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kubrick-18.12.3.tar.xz">kubrick-18.12.3</a></td>
   <td align="right">304kB</td>
   <td><tt>5ae06ae2df02cf322d620570771fd3502a2930f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kwalletmanager-18.12.3.tar.xz">kwalletmanager-18.12.3</a></td>
   <td align="right">767kB</td>
   <td><tt>9d5755fcd9040e93a981f39692ef8ce28ef0482f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kwave-18.12.3.tar.xz">kwave-18.12.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>ef472d3736fcd7cacd20cdcab5cd4b3a5bf5f97c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/kwordquiz-18.12.3.tar.xz">kwordquiz-18.12.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>a34ff535af708ba77bc007185f26c2f86952949b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libgravatar-18.12.3.tar.xz">libgravatar-18.12.3</a></td>
   <td align="right">29kB</td>
   <td><tt>6121890771e3e55688c2971acaf7534e640ce2db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkcddb-18.12.3.tar.xz">libkcddb-18.12.3</a></td>
   <td align="right">416kB</td>
   <td><tt>6660ec7bd30d311185fb2cc6b8b6a4ce2dda64cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkcompactdisc-18.12.3.tar.xz">libkcompactdisc-18.12.3</a></td>
   <td align="right">86kB</td>
   <td><tt>326ed8b0c4b9206250ff4382bfaf78d49ffb2cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkdcraw-18.12.3.tar.xz">libkdcraw-18.12.3</a></td>
   <td align="right">41kB</td>
   <td><tt>00f158e59735141ae6c9b83e5be0c92ddab0210f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkdegames-18.12.3.tar.xz">libkdegames-18.12.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>f29e0b1142de9e221393527471ec2afd1c822339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkdepim-18.12.3.tar.xz">libkdepim-18.12.3</a></td>
   <td align="right">328kB</td>
   <td><tt>24a5d230ded2346ae691ee8012cac1ae55064746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkeduvocdocument-18.12.3.tar.xz">libkeduvocdocument-18.12.3</a></td>
   <td align="right">202kB</td>
   <td><tt>537e9c83235b08c73cc70b7d10185f9f191553fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkexiv2-18.12.3.tar.xz">libkexiv2-18.12.3</a></td>
   <td align="right">63kB</td>
   <td><tt>cdda9990b22dbbb94ecfc99e58e04bf9d698a646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkgapi-18.12.3.tar.xz">libkgapi-18.12.3</a></td>
   <td align="right">210kB</td>
   <td><tt>710cba98a1d663a03569cb13cf0b943169241e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkgeomap-18.12.3.tar.xz">libkgeomap-18.12.3</a></td>
   <td align="right">147kB</td>
   <td><tt>8361cf868e9aa3768cf425f53f2a19c2021a909f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkipi-18.12.3.tar.xz">libkipi-18.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>1f69768746a33f7848a6800a465795cd5dbc5217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkleo-18.12.3.tar.xz">libkleo-18.12.3</a></td>
   <td align="right">325kB</td>
   <td><tt>70041f3de7b2b988213d319e58161a73ad80b858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkmahjongg-18.12.3.tar.xz">libkmahjongg-18.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>332852a5c316b3547d7c2a4702c3b2758512444d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libkomparediff2-18.12.3.tar.xz">libkomparediff2-18.12.3</a></td>
   <td align="right">169kB</td>
   <td><tt>03464d36b2edb671e6376dbf4d1134e270524b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libksane-18.12.3.tar.xz">libksane-18.12.3</a></td>
   <td align="right">134kB</td>
   <td><tt>eacf99857b9988e908c19583dc0988db2aadc606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/libksieve-18.12.3.tar.xz">libksieve-18.12.3</a></td>
   <td align="right">537kB</td>
   <td><tt>49e54993bd05b0513d22de097bf3fa3fa7974390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/lokalize-18.12.3.tar.xz">lokalize-18.12.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0ecc84678083f84725b84a11c6bfb2f17e0aee16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/lskat-18.12.3.tar.xz">lskat-18.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>01fca4429065c509e24ef2e7aeeaf4f38e078ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/mailcommon-18.12.3.tar.xz">mailcommon-18.12.3</a></td>
   <td align="right">676kB</td>
   <td><tt>c5cbeb0b16edda89e743f57707d9ad390188bea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/mailimporter-18.12.3.tar.xz">mailimporter-18.12.3</a></td>
   <td align="right">527kB</td>
   <td><tt>fd23e27293b78ac5d3e5777da28039ca02a28816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/marble-18.12.3.tar.xz">marble-18.12.3</a></td>
   <td align="right">49MB</td>
   <td><tt>90239a22eeb6139a6e80c9c0ea526a16d7fe7f1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/mbox-importer-18.12.3.tar.xz">mbox-importer-18.12.3</a></td>
   <td align="right">32kB</td>
   <td><tt>519c672668b9f33f604a1adae3cdde95d01cfc19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/messagelib-18.12.3.tar.xz">messagelib-18.12.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>50339d21fdd6c3e6eca062afec7c1e9bc504a72e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/minuet-18.12.3.tar.xz">minuet-18.12.3</a></td>
   <td align="right">26MB</td>
   <td><tt>431aa5802ede1f6df1f7b24218dbd110d365f1dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/okular-18.12.3.tar.xz">okular-18.12.3</a></td>
   <td align="right">6.2MB</td>
   <td><tt>dee924559100da9a6c5f771aed370219b1edc3a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/palapeli-18.12.3.tar.xz">palapeli-18.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c08accdd155ede8b87659b3189dce93f3e13db4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/parley-18.12.3.tar.xz">parley-18.12.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>ad67767fb34eacc2bd7f5fdafc2e5e858fdd1547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/picmi-18.12.3.tar.xz">picmi-18.12.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>43b0ffbfdf8c3fc45fbf3ce88a2a85155213fb2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/pimcommon-18.12.3.tar.xz">pimcommon-18.12.3</a></td>
   <td align="right">288kB</td>
   <td><tt>a49f861d34eee4a0a81d94bbea1f895cb266a433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/pim-data-exporter-18.12.3.tar.xz">pim-data-exporter-18.12.3</a></td>
   <td align="right">264kB</td>
   <td><tt>f9932c823f10a8e51d6291fe120d29c4c0d5e10b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/pim-sieve-editor-18.12.3.tar.xz">pim-sieve-editor-18.12.3</a></td>
   <td align="right">440kB</td>
   <td><tt>627cfc0aefc05cb2f31da6d195c368db2e941c9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/poxml-18.12.3.tar.xz">poxml-18.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>04154ea2399beae2955fe51041d5d74a31ef1a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/print-manager-18.12.3.tar.xz">print-manager-18.12.3</a></td>
   <td align="right">233kB</td>
   <td><tt>3ba7b6b84f75e0327e8070e3b45c9b2ed6dd760f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/rocs-18.12.3.tar.xz">rocs-18.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b0dd0d64a33b563b8fe50bbf77a6068adeba2bca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/signon-kwallet-extension-18.12.3.tar.xz">signon-kwallet-extension-18.12.3</a></td>
   <td align="right">10kB</td>
   <td><tt>1cd865395e72a8adcdb00e643a0bf422173c0188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/spectacle-18.12.3.tar.xz">spectacle-18.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e9231bc3eb1c105e81e93e2849aef2990f417957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/step-18.12.3.tar.xz">step-18.12.3</a></td>
   <td align="right">840kB</td>
   <td><tt>c903236b221572219784ef9c657a776aa2754df2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/svgpart-18.12.3.tar.xz">svgpart-18.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>68edb524407be0f2ef1733cc55e08f2126927f17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/sweeper-18.12.3.tar.xz">sweeper-18.12.3</a></td>
   <td align="right">359kB</td>
   <td><tt>85fd7e4a5e831cde44aaa9d7481307990cd91950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/umbrello-18.12.3.tar.xz">umbrello-18.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>837599a93afc1aab7300b007676098314257156e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.3/src/zeroconf-ioslave-18.12.3.tar.xz">zeroconf-ioslave-18.12.3</a></td>
   <td align="right">37kB</td>
   <td><tt>35abd4d59545a891f33a08029665a5d244e6f22d</tt></td>
</tr>

</table>
