<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akonadi-20.08.1.tar.xz">akonadi-20.08.1</a></td>
   <td align="right">1546kB</td>
   <td><tt>581359aeae70b6ba4a081995ef982d9c1156b8cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akonadi-calendar-20.08.1.tar.xz">akonadi-calendar-20.08.1</a></td>
   <td align="right">327kB</td>
   <td><tt>cf3765199c00e300fae8485eeef8208eadff65df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akonadi-calendar-tools-20.08.1.tar.xz">akonadi-calendar-tools-20.08.1</a></td>
   <td align="right">221kB</td>
   <td><tt>613cbaba230fd301fe0d2c668c1346c9ba0a3676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akonadiconsole-20.08.1.tar.xz">akonadiconsole-20.08.1</a></td>
   <td align="right">190kB</td>
   <td><tt>b877632030710e5208cc0a67e70d6d075afdddbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akonadi-contacts-20.08.1.tar.xz">akonadi-contacts-20.08.1</a></td>
   <td align="right">394kB</td>
   <td><tt>c3d3f9e88237ce26e52c9a680603ea56b3cd5653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akonadi-import-wizard-20.08.1.tar.xz">akonadi-import-wizard-20.08.1</a></td>
   <td align="right">493kB</td>
   <td><tt>782b0653001904b9ca3c6c3e69dd0455e89955ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akonadi-mime-20.08.1.tar.xz">akonadi-mime-20.08.1</a></td>
   <td align="right">134kB</td>
   <td><tt>b18a517c92ea12c58109dd534dc4f0560d5f0f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akonadi-notes-20.08.1.tar.xz">akonadi-notes-20.08.1</a></td>
   <td align="right">22kB</td>
   <td><tt>8ad2253e496e9940fcc8deab0aed20e5a8d08bdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akonadi-search-20.08.1.tar.xz">akonadi-search-20.08.1</a></td>
   <td align="right">92kB</td>
   <td><tt>e5551222281fc6233d9c0ee8130866ac6a1d2c99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/akregator-20.08.1.tar.xz">akregator-20.08.1</a></td>
   <td align="right">2152kB</td>
   <td><tt>4214069056cc90ef3a7af2f76a5f8955c065bf9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/analitza-20.08.1.tar.xz">analitza-20.08.1</a></td>
   <td align="right">330kB</td>
   <td><tt>b532f5287fe561d86cd0bccf4369661cb4cf9c92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ark-20.08.1.tar.xz">ark-20.08.1</a></td>
   <td align="right">2645kB</td>
   <td><tt>8be2b8e52e9e79d7861df647b8a810ea6edc31a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/artikulate-20.08.1.tar.xz">artikulate-20.08.1</a></td>
   <td align="right">1058kB</td>
   <td><tt>47df8e4115a939f374c6c663838788ffad7a9353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/audiocd-kio-20.08.1.tar.xz">audiocd-kio-20.08.1</a></td>
   <td align="right">486kB</td>
   <td><tt>e6149729790c2577a361a087cdb4dbbd4b583cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/baloo-widgets-20.08.1.tar.xz">baloo-widgets-20.08.1</a></td>
   <td align="right">255kB</td>
   <td><tt>2a0bee67e9ca5eadf6037a616d497c236538c630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/blinken-20.08.1.tar.xz">blinken-20.08.1</a></td>
   <td align="right">2762kB</td>
   <td><tt>4061e5b8a05b406a23aa0edc2ac4872d0cb7db2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/bomber-20.08.1.tar.xz">bomber-20.08.1</a></td>
   <td align="right">805kB</td>
   <td><tt>46a5daad7382facb014a5127d2a238be2fd83bbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/bovo-20.08.1.tar.xz">bovo-20.08.1</a></td>
   <td align="right">201kB</td>
   <td><tt>5f9c0d319f3d9fb77fde847efd79bce2c44de8c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/calendarsupport-20.08.1.tar.xz">calendarsupport-20.08.1</a></td>
   <td align="right">644kB</td>
   <td><tt>b1cc23fd395d799dbc0bfaa18241bb54c5bbc149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/cantor-20.08.1.tar.xz">cantor-20.08.1</a></td>
   <td align="right">8865kB</td>
   <td><tt>4ec1a36e4041da280e7be802c5b32d6e594a5eec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/cervisia-20.08.1.tar.xz">cervisia-20.08.1</a></td>
   <td align="right">1844kB</td>
   <td><tt>40758af758f911b4b58dbbe1a456ea95582651f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/dolphin-20.08.1.tar.xz">dolphin-20.08.1</a></td>
   <td align="right">4971kB</td>
   <td><tt>fcdbc77e61f0e2e45cc986f299ba1aed77dc0970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/dolphin-plugins-20.08.1.tar.xz">dolphin-plugins-20.08.1</a></td>
   <td align="right">222kB</td>
   <td><tt>d2ed9f898bc0f74f590add96ed9c575144b7763b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/dragon-20.08.1.tar.xz">dragon-20.08.1</a></td>
   <td align="right">1617kB</td>
   <td><tt>e3fb442a61682a7742c814d4cab6246439192f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/elisa-20.08.1.tar.xz">elisa-20.08.1</a></td>
   <td align="right">1596kB</td>
   <td><tt>ccd1e1672617600a10bf7604336a61e0e0815ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/eventviews-20.08.1.tar.xz">eventviews-20.08.1</a></td>
   <td align="right">434kB</td>
   <td><tt>f1eebe339c20aa74d5c26947e5f61eb2e7a9f40b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ffmpegthumbs-20.08.1.tar.xz">ffmpegthumbs-20.08.1</a></td>
   <td align="right">31kB</td>
   <td><tt>ea595c5c08466132454b7fd26551e04bcdedbb14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/filelight-20.08.1.tar.xz">filelight-20.08.1</a></td>
   <td align="right">651kB</td>
   <td><tt>09b1d40a13d642afdea373f48bedccca01cb31c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/granatier-20.08.1.tar.xz">granatier-20.08.1</a></td>
   <td align="right">1905kB</td>
   <td><tt>df5d377aa9f7ad7468ebf67f54335a2c0c3f09ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/grantlee-editor-20.08.1.tar.xz">grantlee-editor-20.08.1</a></td>
   <td align="right">109kB</td>
   <td><tt>c3aee4837d718cb34e324a3f80184c8a4136f320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/grantleetheme-20.08.1.tar.xz">grantleetheme-20.08.1</a></td>
   <td align="right">54kB</td>
   <td><tt>26b45d91425945c45d9e566b53bf7eb2b917eefb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/gwenview-20.08.1.tar.xz">gwenview-20.08.1</a></td>
   <td align="right">6583kB</td>
   <td><tt>5a9672af05701fabeae976eb6013c2fd12e26828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/incidenceeditor-20.08.1.tar.xz">incidenceeditor-20.08.1</a></td>
   <td align="right">530kB</td>
   <td><tt>a06bb731a0714b1af7f99de1d69bdbb2fce61ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/juk-20.08.1.tar.xz">juk-20.08.1</a></td>
   <td align="right">1951kB</td>
   <td><tt>9538d35d9aeb82fc74ca10b24708f8800a3232fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/k3b-20.08.1.tar.xz">k3b-20.08.1</a></td>
   <td align="right">10431kB</td>
   <td><tt>c6c922f0368b77d55d634becf582c89fb0272cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kaccounts-integration-20.08.1.tar.xz">kaccounts-integration-20.08.1</a></td>
   <td align="right">73kB</td>
   <td><tt>b342a2a752debf2651241938ec9d21e171f1c488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kaccounts-providers-20.08.1.tar.xz">kaccounts-providers-20.08.1</a></td>
   <td align="right">35kB</td>
   <td><tt>5ec5d8fdbfb3f15e43fa43a4bcc5cee66a006350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kaddressbook-20.08.1.tar.xz">kaddressbook-20.08.1</a></td>
   <td align="right">3092kB</td>
   <td><tt>76a8c517a9f87d1f6aa5af6e41d4fae49bd5db9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kajongg-20.08.1.tar.xz">kajongg-20.08.1</a></td>
   <td align="right">4370kB</td>
   <td><tt>246068ca8bf9ce886826d7790bb3c8a731d4b33b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kalarm-20.08.1.tar.xz">kalarm-20.08.1</a></td>
   <td align="right">1869kB</td>
   <td><tt>c6a38c1b1fb949bb2de5db724c5ca92d4737271c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kalarmcal-20.08.1.tar.xz">kalarmcal-20.08.1</a></td>
   <td align="right">561kB</td>
   <td><tt>b8c2192b9530b71506070809f2833de937d68067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kalgebra-20.08.1.tar.xz">kalgebra-20.08.1</a></td>
   <td align="right">1137kB</td>
   <td><tt>d5de1f86822299e39076d73048d3375008d950a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kalzium-20.08.1.tar.xz">kalzium-20.08.1</a></td>
   <td align="right">23950kB</td>
   <td><tt>6c01dc2fdc220eb224b2593f510e3ebf226060fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kamera-20.08.1.tar.xz">kamera-20.08.1</a></td>
   <td align="right">106kB</td>
   <td><tt>80ac5c5bcad2d9a6bb7c77325f1815578195f9ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kamoso-20.08.1.tar.xz">kamoso-20.08.1</a></td>
   <td align="right">206kB</td>
   <td><tt>57e0ddfee2e34ff3ce39ce90e5ab17b77679e588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kanagram-20.08.1.tar.xz">kanagram-20.08.1</a></td>
   <td align="right">7843kB</td>
   <td><tt>e1c26a4c863d779d32a92ff8f29703cc9198204a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kapman-20.08.1.tar.xz">kapman-20.08.1</a></td>
   <td align="right">2472kB</td>
   <td><tt>682bbe079cb2d8c46866b59c941a392c4ab3cab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kapptemplate-20.08.1.tar.xz">kapptemplate-20.08.1</a></td>
   <td align="right">327kB</td>
   <td><tt>24826453208a1af1d69771bb1886d9cbcda635f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kate-20.08.1.tar.xz">kate-20.08.1</a></td>
   <td align="right">5711kB</td>
   <td><tt>8efb906f16f531dd90a7cf7ab3102ab4f0e40096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/katomic-20.08.1.tar.xz">katomic-20.08.1</a></td>
   <td align="right">1395kB</td>
   <td><tt>29e4dfff5be02ebb9d490afb7a1e5370a5bce7b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kbackup-20.08.1.tar.xz">kbackup-20.08.1</a></td>
   <td align="right">362kB</td>
   <td><tt>29fe5f31f4edfca9457cac62f23619aa2e4dde1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kblackbox-20.08.1.tar.xz">kblackbox-20.08.1</a></td>
   <td align="right">439kB</td>
   <td><tt>0b5d798aa6f751332ee5f2c78a6921b35cff4f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kblocks-20.08.1.tar.xz">kblocks-20.08.1</a></td>
   <td align="right">1862kB</td>
   <td><tt>4e8a63299c9e757ba24007addb430088f6d39cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kbounce-20.08.1.tar.xz">kbounce-20.08.1</a></td>
   <td align="right">3362kB</td>
   <td><tt>fed07e0eca5dd6496800f1a2f6613098a902cd98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kbreakout-20.08.1.tar.xz">kbreakout-20.08.1</a></td>
   <td align="right">2229kB</td>
   <td><tt>938e9384aa73d8c242d7dbcc243a8042f7cba864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kbruch-20.08.1.tar.xz">kbruch-20.08.1</a></td>
   <td align="right">5483kB</td>
   <td><tt>e55c1865ee246d91f67896f9668ee72be240f394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kcachegrind-20.08.1.tar.xz">kcachegrind-20.08.1</a></td>
   <td align="right">772kB</td>
   <td><tt>372ab8eab57b4c5298bb7b8654f9d866ca190b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kcalc-20.08.1.tar.xz">kcalc-20.08.1</a></td>
   <td align="right">370kB</td>
   <td><tt>496f673afa3b226d74395371febc21dffe4d5b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kcalutils-20.08.1.tar.xz">kcalutils-20.08.1</a></td>
   <td align="right">317kB</td>
   <td><tt>c54332c48c41076c4db35596a7f5e3f9a87d4346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kcharselect-20.08.1.tar.xz">kcharselect-20.08.1</a></td>
   <td align="right">357kB</td>
   <td><tt>17a8db10067c6dacb120100c51efe32c296785be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kcolorchooser-20.08.1.tar.xz">kcolorchooser-20.08.1</a></td>
   <td align="right">26kB</td>
   <td><tt>f2f3380e9c7e8cd2a1d16fc768be5f406545712f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kcron-20.08.1.tar.xz">kcron-20.08.1</a></td>
   <td align="right">877kB</td>
   <td><tt>f11feb37aabb33f6ff5b4130a5fc61c44976346e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdebugsettings-20.08.1.tar.xz">kdebugsettings-20.08.1</a></td>
   <td align="right">65kB</td>
   <td><tt>c4aced84c4bdb1fe982f30c9f066c5ba05533805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdeconnect-kde-20.08.1.tar.xz">kdeconnect-kde-20.08.1</a></td>
   <td align="right">398kB</td>
   <td><tt>3a4ec20bceeb5ba0f585d7a5699c071815179398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kde-dev-scripts-20.08.1.tar.xz">kde-dev-scripts-20.08.1</a></td>
   <td align="right">357kB</td>
   <td><tt>41a3a9ec6f64235f6be53fbea717aed27871aaeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kde-dev-utils-20.08.1.tar.xz">kde-dev-utils-20.08.1</a></td>
   <td align="right">63kB</td>
   <td><tt>2ca95dae4727eab7621b7d5a22ca01ea84705f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdeedu-data-20.08.1.tar.xz">kdeedu-data-20.08.1</a></td>
   <td align="right">327kB</td>
   <td><tt>edb8845e4a38861ee5a88b91a7c1308780e35367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdegraphics-mobipocket-20.08.1.tar.xz">kdegraphics-mobipocket-20.08.1</a></td>
   <td align="right">16kB</td>
   <td><tt>76a815a76da368f94d744e280e08dfe8d1b484f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdegraphics-thumbnailers-20.08.1.tar.xz">kdegraphics-thumbnailers-20.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>374a6b4d69db0864aeda06c1493a8ff2bcdcd1c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdenetwork-filesharing-20.08.1.tar.xz">kdenetwork-filesharing-20.08.1</a></td>
   <td align="right">313kB</td>
   <td><tt>52e0a3973b1e55da9c82da2cfaed8166561e98d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdenlive-20.08.1.tar.xz">kdenlive-20.08.1</a></td>
   <td align="right">11101kB</td>
   <td><tt>82d74b1fbc017a7734fc26334c442767948ac5d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdepim-addons-20.08.1.tar.xz">kdepim-addons-20.08.1</a></td>
   <td align="right">2022kB</td>
   <td><tt>4eb9b770b0682d743019770d5448d6c59052ddcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdepim-apps-libs-20.08.1.tar.xz">kdepim-apps-libs-20.08.1</a></td>
   <td align="right">58kB</td>
   <td><tt>dd60f941bdd0aeb165b4f267dec71b3ccaf19cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdepim-runtime-20.08.1.tar.xz">kdepim-runtime-20.08.1</a></td>
   <td align="right">1712kB</td>
   <td><tt>5cfacd73861903b03b59b3d33774eacee2d096ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdesdk-kioslaves-20.08.1.tar.xz">kdesdk-kioslaves-20.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>c89baeb1378e1740871aa78b7c88da5314aaaaf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdesdk-thumbnailers-20.08.1.tar.xz">kdesdk-thumbnailers-20.08.1</a></td>
   <td align="right">17kB</td>
   <td><tt>03b80bf016409ba7f44126cee2a8f0c009b1c9ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdf-20.08.1.tar.xz">kdf-20.08.1</a></td>
   <td align="right">456kB</td>
   <td><tt>9d5ca6b7c88f2da8accb0a60111353205df3c3a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdialog-20.08.1.tar.xz">kdialog-20.08.1</a></td>
   <td align="right">104kB</td>
   <td><tt>12629e510d972f2ae3002b6757bf849ce69a59ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kdiamond-20.08.1.tar.xz">kdiamond-20.08.1</a></td>
   <td align="right">4587kB</td>
   <td><tt>2f3ac7cb8c667cdb491d709cf1927655dcbdf6f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/keditbookmarks-20.08.1.tar.xz">keditbookmarks-20.08.1</a></td>
   <td align="right">186kB</td>
   <td><tt>732e100777e8008b8527f08f7f103351fbb84997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kfind-20.08.1.tar.xz">kfind-20.08.1</a></td>
   <td align="right">272kB</td>
   <td><tt>d204649385e3f5705a98d5d03a4f71ba3f9bfdca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kfloppy-20.08.1.tar.xz">kfloppy-20.08.1</a></td>
   <td align="right">199kB</td>
   <td><tt>ad9aeb43f1da3d145c56dd78e43558b459dc80ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kfourinline-20.08.1.tar.xz">kfourinline-20.08.1</a></td>
   <td align="right">628kB</td>
   <td><tt>16d598aafd61c7c198616ba220395079fa946dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kgeography-20.08.1.tar.xz">kgeography-20.08.1</a></td>
   <td align="right">10512kB</td>
   <td><tt>a370759f844e8965c6cc83e91b027f286764d131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kget-20.08.1.tar.xz">kget-20.08.1</a></td>
   <td align="right">5452kB</td>
   <td><tt>e854c2e82d16cb481a31b2d706cab063ad9b83a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kgoldrunner-20.08.1.tar.xz">kgoldrunner-20.08.1</a></td>
   <td align="right">4340kB</td>
   <td><tt>d5ed0bdfadab982644f16724b4a912fc4c8340ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kgpg-20.08.1.tar.xz">kgpg-20.08.1</a></td>
   <td align="right">2816kB</td>
   <td><tt>61399db71393e009c776ada789f9aa37c56abdea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/khangman-20.08.1.tar.xz">khangman-20.08.1</a></td>
   <td align="right">7233kB</td>
   <td><tt>f1e229e636b6b0cc3823e343a5e41f17b6841f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/khelpcenter-20.08.1.tar.xz">khelpcenter-20.08.1</a></td>
   <td align="right">4151kB</td>
   <td><tt>5f4dd0305ede9602f13184694d26caf98ac5c9bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kidentitymanagement-20.08.1.tar.xz">kidentitymanagement-20.08.1</a></td>
   <td align="right">146kB</td>
   <td><tt>220cf577002a726261dc9f8fa7076ce82bf0c4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kig-20.08.1.tar.xz">kig-20.08.1</a></td>
   <td align="right">3408kB</td>
   <td><tt>a471fdd13c94d93abe447cc67c6b2c09fe8673c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kigo-20.08.1.tar.xz">kigo-20.08.1</a></td>
   <td align="right">5109kB</td>
   <td><tt>b4528c1e29f22ddf613b75e4fd98776282fdf59c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/killbots-20.08.1.tar.xz">killbots-20.08.1</a></td>
   <td align="right">1157kB</td>
   <td><tt>125333aab74167ff9a8f638c9c3bc7ed6588adbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kimagemapeditor-20.08.1.tar.xz">kimagemapeditor-20.08.1</a></td>
   <td align="right">1052kB</td>
   <td><tt>e10635e9a40bcee724992f169919dacd688c2e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kimap-20.08.1.tar.xz">kimap-20.08.1</a></td>
   <td align="right">117kB</td>
   <td><tt>461e9f5e0872bc944e98e636dcc3091151274dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kio-extras-20.08.1.tar.xz">kio-extras-20.08.1</a></td>
   <td align="right">615kB</td>
   <td><tt>b792b3024ec84b319218511821b30ef3e9cd0d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kio-gdrive-20.08.1.tar.xz">kio-gdrive-20.08.1</a></td>
   <td align="right">55kB</td>
   <td><tt>02f43d0130b1714f410bf701633060c230a0d0a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kipi-plugins-20.08.1.tar.xz">kipi-plugins-20.08.1</a></td>
   <td align="right">1605kB</td>
   <td><tt>fb9803725df427489ebd4103f7c7344ef83aa1b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kirigami-gallery-20.08.1.tar.xz">kirigami-gallery-20.08.1</a></td>
   <td align="right">281kB</td>
   <td><tt>6257b6119d4fbdf83bbad575df2254fe3c5daf56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kiriki-20.08.1.tar.xz">kiriki-20.08.1</a></td>
   <td align="right">369kB</td>
   <td><tt>18491a34e96edfc0c58d242399bccbd0f2c10157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kiten-20.08.1.tar.xz">kiten-20.08.1</a></td>
   <td align="right">11031kB</td>
   <td><tt>33ae70147f6551ac2c45c10779fb8c8d6999ce0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kitinerary-20.08.1.tar.xz">kitinerary-20.08.1</a></td>
   <td align="right">1714kB</td>
   <td><tt>808cb12274677a052181b77ee2ed0ab0c8626c4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kjumpingcube-20.08.1.tar.xz">kjumpingcube-20.08.1</a></td>
   <td align="right">283kB</td>
   <td><tt>39edeb9caa79544a9485bd164db03c8d5fb2babe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kldap-20.08.1.tar.xz">kldap-20.08.1</a></td>
   <td align="right">160kB</td>
   <td><tt>d023758e819e19c3d1fdce6d79f2aba98d93fa7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kleopatra-20.08.1.tar.xz">kleopatra-20.08.1</a></td>
   <td align="right">1891kB</td>
   <td><tt>2432908b93270f25c036ec0099d0251c7e17d0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/klettres-20.08.1.tar.xz">klettres-20.08.1</a></td>
   <td align="right">45738kB</td>
   <td><tt>c4916f7f7f61e696295b5169820bbceb505e9fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/klickety-20.08.1.tar.xz">klickety-20.08.1</a></td>
   <td align="right">1361kB</td>
   <td><tt>4d5f605e1629ed6639d190450c8cc057007f14df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/klines-20.08.1.tar.xz">klines-20.08.1</a></td>
   <td align="right">1747kB</td>
   <td><tt>01cae26fe44a011d63225d12ff3124202de371b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmag-20.08.1.tar.xz">kmag-20.08.1</a></td>
   <td align="right">681kB</td>
   <td><tt>4014226ddecd0a381d64dcc1a4264eb73cfe4a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmahjongg-20.08.1.tar.xz">kmahjongg-20.08.1</a></td>
   <td align="right">3354kB</td>
   <td><tt>9a19fded61f5424d5612091722d8c7d1665ccfcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmail-20.08.1.tar.xz">kmail-20.08.1</a></td>
   <td align="right">5032kB</td>
   <td><tt>0b657dbdcc5eea94b336b1bb5e26c0166f9907d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmail-account-wizard-20.08.1.tar.xz">kmail-account-wizard-20.08.1</a></td>
   <td align="right">156kB</td>
   <td><tt>19f3d1ee4d4e77e7562da34c8d36970545400635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmailtransport-20.08.1.tar.xz">kmailtransport-20.08.1</a></td>
   <td align="right">163kB</td>
   <td><tt>7013db67c67931fd2e9366f4b3487c2ee2363c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmbox-20.08.1.tar.xz">kmbox-20.08.1</a></td>
   <td align="right">24kB</td>
   <td><tt>689358ffee9d5c1d1f2ce3ef78ce7e067c706291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmime-20.08.1.tar.xz">kmime-20.08.1</a></td>
   <td align="right">148kB</td>
   <td><tt>6b3a76e9d8cb672a6e0636a2512af6b6cb1dacf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmines-20.08.1.tar.xz">kmines-20.08.1</a></td>
   <td align="right">934kB</td>
   <td><tt>1597cdc628126463a46651208da631e7aed2cedd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmix-20.08.1.tar.xz">kmix-20.08.1</a></td>
   <td align="right">1081kB</td>
   <td><tt>e60c873b8f57039b709f2a534a55cf69654aa548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmousetool-20.08.1.tar.xz">kmousetool-20.08.1</a></td>
   <td align="right">113kB</td>
   <td><tt>a87130a1ede6d64c20e38e3d2f15c74f30f3414c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmouth-20.08.1.tar.xz">kmouth-20.08.1</a></td>
   <td align="right">2035kB</td>
   <td><tt>6f4524c4e48ac245162307231f97cf01fff7c717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kmplot-20.08.1.tar.xz">kmplot-20.08.1</a></td>
   <td align="right">2983kB</td>
   <td><tt>33ef754fc4c0e2d246ccd85fd3608838a15ea0f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/knavalbattle-20.08.1.tar.xz">knavalbattle-20.08.1</a></td>
   <td align="right">1257kB</td>
   <td><tt>33da4a223b38fdbca03440f2259b69a59b1a3118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/knetwalk-20.08.1.tar.xz">knetwalk-20.08.1</a></td>
   <td align="right">1238kB</td>
   <td><tt>67ad1ae394475a54aafa4b689fc3f7337e29896a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/knights-20.08.1.tar.xz">knights-20.08.1</a></td>
   <td align="right">3451kB</td>
   <td><tt>f384ba424ecdf3609855c8bf145deb42f18ff3ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/knotes-20.08.1.tar.xz">knotes-20.08.1</a></td>
   <td align="right">314kB</td>
   <td><tt>3429e9a75aa9e51b2a42e417306622813db0d34d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kolf-20.08.1.tar.xz">kolf-20.08.1</a></td>
   <td align="right">1004kB</td>
   <td><tt>93334946ff18c46f5e4a148f13eb8e51d00d1cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kollision-20.08.1.tar.xz">kollision-20.08.1</a></td>
   <td align="right">281kB</td>
   <td><tt>edc07fc5529c58b1135e3bb24abda94a9c5ac3f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kolourpaint-20.08.1.tar.xz">kolourpaint-20.08.1</a></td>
   <td align="right">5553kB</td>
   <td><tt>9a125bd3f354c223b55ae857ba10b15b52cc1ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kompare-20.08.1.tar.xz">kompare-20.08.1</a></td>
   <td align="right">902kB</td>
   <td><tt>db0cde9591d843f025edc49f0112cf49288865e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/konqueror-20.08.1.tar.xz">konqueror-20.08.1</a></td>
   <td align="right">7004kB</td>
   <td><tt>d048a7cb27c07b3bba2ec2161c9ddf3cd670220b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/konquest-20.08.1.tar.xz">konquest-20.08.1</a></td>
   <td align="right">650kB</td>
   <td><tt>2914d27632994025e91bbcf6e5cf88eb13426c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/konsole-20.08.1.tar.xz">konsole-20.08.1</a></td>
   <td align="right">1182kB</td>
   <td><tt>d1139a6bc2ac37e97eeb5949f0891246af3ac1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kontact-20.08.1.tar.xz">kontact-20.08.1</a></td>
   <td align="right">774kB</td>
   <td><tt>064e141598d272dd59aec7899161562590442f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kontactinterface-20.08.1.tar.xz">kontactinterface-20.08.1</a></td>
   <td align="right">35kB</td>
   <td><tt>b68ac53f7af87a4294b61c600241d9f1edd7c8e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kopete-20.08.1.tar.xz">kopete-20.08.1</a></td>
   <td align="right">9164kB</td>
   <td><tt>08173db6e768e420cecbf5af30aa7401d40658ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/korganizer-20.08.1.tar.xz">korganizer-20.08.1</a></td>
   <td align="right">2198kB</td>
   <td><tt>5f84b74ba781b8f10df0a11b6c869014bd2f6f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kpat-20.08.1.tar.xz">kpat-20.08.1</a></td>
   <td align="right">3500kB</td>
   <td><tt>5762c8020b85d99edf9e1dc6094a16b9b95b968f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kpimtextedit-20.08.1.tar.xz">kpimtextedit-20.08.1</a></td>
   <td align="right">184kB</td>
   <td><tt>38b8de70bc8085eaf88ffd009c8417290488ee4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kpkpass-20.08.1.tar.xz">kpkpass-20.08.1</a></td>
   <td align="right">22kB</td>
   <td><tt>baf7b11175ef29e65ef0c00792f90714373db856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kqtquickcharts-20.08.1.tar.xz">kqtquickcharts-20.08.1</a></td>
   <td align="right">29kB</td>
   <td><tt>65ce19ef2b57c1c2dd550c2b64632e044a6a8175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/krdc-20.08.1.tar.xz">krdc-20.08.1</a></td>
   <td align="right">1527kB</td>
   <td><tt>80679bd9b47de82970ba758a23c6fad9681f7d24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kreversi-20.08.1.tar.xz">kreversi-20.08.1</a></td>
   <td align="right">930kB</td>
   <td><tt>4d6910277b0a40faf494833777454bdefa38120f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/krfb-20.08.1.tar.xz">krfb-20.08.1</a></td>
   <td align="right">1250kB</td>
   <td><tt>2ec16a4b9b7933ba7ea47b7e0abe42ec0cf84897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kross-interpreters-20.08.1.tar.xz">kross-interpreters-20.08.1</a></td>
   <td align="right">147kB</td>
   <td><tt>50e9ed7779e60b04378e6f0ade02f9d28a917c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kruler-20.08.1.tar.xz">kruler-20.08.1</a></td>
   <td align="right">266kB</td>
   <td><tt>bbf3180500d8c63720558d045c0d66468fc255fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kshisen-20.08.1.tar.xz">kshisen-20.08.1</a></td>
   <td align="right">807kB</td>
   <td><tt>1f4a93b9160446b7c00a09eb757d32179f438990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ksirk-20.08.1.tar.xz">ksirk-20.08.1</a></td>
   <td align="right">6829kB</td>
   <td><tt>82a40f530076b6f8512acdf23271c20d03a4e24c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ksmtp-20.08.1.tar.xz">ksmtp-20.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>c5dad1c58e2ee7ef9aaa74b75bb2d0a806bffc91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ksnakeduel-20.08.1.tar.xz">ksnakeduel-20.08.1</a></td>
   <td align="right">531kB</td>
   <td><tt>d6fa19615efd7813774990cdc296a6999b7647de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kspaceduel-20.08.1.tar.xz">kspaceduel-20.08.1</a></td>
   <td align="right">602kB</td>
   <td><tt>217df8712a52f1af292bed3e098d62def60ba943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ksquares-20.08.1.tar.xz">ksquares-20.08.1</a></td>
   <td align="right">260kB</td>
   <td><tt>b9e73caeaa4dc42110fd9f2074d4405dc179deb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ksudoku-20.08.1.tar.xz">ksudoku-20.08.1</a></td>
   <td align="right">1628kB</td>
   <td><tt>f1852ffd0fea38af02f9b98ae4655fc3cac42384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ksystemlog-20.08.1.tar.xz">ksystemlog-20.08.1</a></td>
   <td align="right">1890kB</td>
   <td><tt>293fdee1afd82d35be8c074977ae63e24748cf0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kteatime-20.08.1.tar.xz">kteatime-20.08.1</a></td>
   <td align="right">287kB</td>
   <td><tt>9b28410ae14b0cc2601424fd7d739c75ca2d81ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktimer-20.08.1.tar.xz">ktimer-20.08.1</a></td>
   <td align="right">376kB</td>
   <td><tt>203f9c3fb996092f0eb82845302a215cc5b8b28e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktnef-20.08.1.tar.xz">ktnef-20.08.1</a></td>
   <td align="right">292kB</td>
   <td><tt>9ebf2ed400cca40877a8c5fd7e1d7233d25e126a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktouch-20.08.1.tar.xz">ktouch-20.08.1</a></td>
   <td align="right">4829kB</td>
   <td><tt>291471a67cec0c38cc7943605deb0ebfcab8a08f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-accounts-kcm-20.08.1.tar.xz">ktp-accounts-kcm-20.08.1</a></td>
   <td align="right">256kB</td>
   <td><tt>683e31f66d9ddcd1ad6211b7d63cdbd65284045a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-approver-20.08.1.tar.xz">ktp-approver-20.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>856662aa8b2ce92d35c029da50ba11e9f95da7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-auth-handler-20.08.1.tar.xz">ktp-auth-handler-20.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>3c3f189ac3836921e509812228045ca53f348390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-call-ui-20.08.1.tar.xz">ktp-call-ui-20.08.1</a></td>
   <td align="right">94kB</td>
   <td><tt>cd22cce05c16143117f259beac265ff3435e0d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-common-internals-20.08.1.tar.xz">ktp-common-internals-20.08.1</a></td>
   <td align="right">439kB</td>
   <td><tt>d1290b1c1ad47d0da43a6f42513d24ee5ce23b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-contact-list-20.08.1.tar.xz">ktp-contact-list-20.08.1</a></td>
   <td align="right">146kB</td>
   <td><tt>dd683400227f7e95fe97b9537233188d3d66e3a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-contact-runner-20.08.1.tar.xz">ktp-contact-runner-20.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>92a7b958c7e56d01a5ab1ae4c4de6785c9d1ae61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-desktop-applets-20.08.1.tar.xz">ktp-desktop-applets-20.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>cb3d61d138b1e7a17062cd4c4b8cc7ddc571bb3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-filetransfer-handler-20.08.1.tar.xz">ktp-filetransfer-handler-20.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>ea6f919633741b67fb3f90ecf51db6a739b31cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-kded-module-20.08.1.tar.xz">ktp-kded-module-20.08.1</a></td>
   <td align="right">96kB</td>
   <td><tt>33048defb862091d35c483492d4ae96bde0c88d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-send-file-20.08.1.tar.xz">ktp-send-file-20.08.1</a></td>
   <td align="right">27kB</td>
   <td><tt>751ba156cd2f560e5a32c4f1a3c95141c2b84b91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktp-text-ui-20.08.1.tar.xz">ktp-text-ui-20.08.1</a></td>
   <td align="right">458kB</td>
   <td><tt>13e957537c88d96a28ec3350a85fd7e4a28127e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/ktuberling-20.08.1.tar.xz">ktuberling-20.08.1</a></td>
   <td align="right">69049kB</td>
   <td><tt>c3e989e41404628123f191bf162cd9254a2d3b8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kturtle-20.08.1.tar.xz">kturtle-20.08.1</a></td>
   <td align="right">1793kB</td>
   <td><tt>e56565237eaf51d7d0dc7886b7b0d701fded9e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kubrick-20.08.1.tar.xz">kubrick-20.08.1</a></td>
   <td align="right">316kB</td>
   <td><tt>95bde06726f9d984ff31146b91f7afe2ead122a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kwalletmanager-20.08.1.tar.xz">kwalletmanager-20.08.1</a></td>
   <td align="right">755kB</td>
   <td><tt>91b21dab6534a1ee8b6b14a8fe5417ea7b34d794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kwave-20.08.1.tar.xz">kwave-20.08.1</a></td>
   <td align="right">6707kB</td>
   <td><tt>8a49a9579d31774e02f181ba7032e79af363441d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/kwordquiz-20.08.1.tar.xz">kwordquiz-20.08.1</a></td>
   <td align="right">4083kB</td>
   <td><tt>85006aa6a85ff05487f0f6585d01d896bc9f8b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libgravatar-20.08.1.tar.xz">libgravatar-20.08.1</a></td>
   <td align="right">32kB</td>
   <td><tt>db012d219a6d585bc057279a1fee127e96335883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkcddb-20.08.1.tar.xz">libkcddb-20.08.1</a></td>
   <td align="right">415kB</td>
   <td><tt>eced6af7837ad53b8e58d6801f6f578043474ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkcompactdisc-20.08.1.tar.xz">libkcompactdisc-20.08.1</a></td>
   <td align="right">94kB</td>
   <td><tt>1226effb272765da562515adb913bfed51829e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkdcraw-20.08.1.tar.xz">libkdcraw-20.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>b9d9e166cc73065335ae99b6ddd2f83ff65c23ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkdegames-20.08.1.tar.xz">libkdegames-20.08.1</a></td>
   <td align="right">6230kB</td>
   <td><tt>dc230866530f1932d15f4ec8e9e8f4875ebb53a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkdepim-20.08.1.tar.xz">libkdepim-20.08.1</a></td>
   <td align="right">243kB</td>
   <td><tt>c7cb0306cc0307b6d682cc33014b460ad3a685ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkeduvocdocument-20.08.1.tar.xz">libkeduvocdocument-20.08.1</a></td>
   <td align="right">210kB</td>
   <td><tt>255758970c7445bcb7ba24dbf9289b343c727e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkexiv2-20.08.1.tar.xz">libkexiv2-20.08.1</a></td>
   <td align="right">63kB</td>
   <td><tt>bd21d54d3782e9e45a4baa5a558b9d2269172600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkgapi-20.08.1.tar.xz">libkgapi-20.08.1</a></td>
   <td align="right">236kB</td>
   <td><tt>0bd7f12190800c57854eeb6b578309c9c7c6c9a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkgeomap-20.08.1.tar.xz">libkgeomap-20.08.1</a></td>
   <td align="right">147kB</td>
   <td><tt>212601938c4db18974fef6bf78af62ac6a95f9c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkipi-20.08.1.tar.xz">libkipi-20.08.1</a></td>
   <td align="right">101kB</td>
   <td><tt>a819056df4e6f9c44308e495a69558e347bbe8fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkleo-20.08.1.tar.xz">libkleo-20.08.1</a></td>
   <td align="right">346kB</td>
   <td><tt>0e5cf92db4477e733ea30fe55d1a4899fc8aaf5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkmahjongg-20.08.1.tar.xz">libkmahjongg-20.08.1</a></td>
   <td align="right">1651kB</td>
   <td><tt>237fe5e6e1059b21c8512ee1e305b703a16677f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libkomparediff2-20.08.1.tar.xz">libkomparediff2-20.08.1</a></td>
   <td align="right">158kB</td>
   <td><tt>badc62e6174fd1bcf5f412d8d2b24d4a34964685</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libksane-20.08.1.tar.xz">libksane-20.08.1</a></td>
   <td align="right">141kB</td>
   <td><tt>45e3b3f37cbac138ba02702d899c0b5f660b18d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/libksieve-20.08.1.tar.xz">libksieve-20.08.1</a></td>
   <td align="right">546kB</td>
   <td><tt>e185d2ba8ad1cd9987b7ef7834766b4358bcd883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/lokalize-20.08.1.tar.xz">lokalize-20.08.1</a></td>
   <td align="right">1938kB</td>
   <td><tt>3a8be2790f8bd1e293b8fb65e567557b374affc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/lskat-20.08.1.tar.xz">lskat-20.08.1</a></td>
   <td align="right">1195kB</td>
   <td><tt>3325b42008c4e2668ab0b1a256675b22f51d3e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/mailcommon-20.08.1.tar.xz">mailcommon-20.08.1</a></td>
   <td align="right">692kB</td>
   <td><tt>7f9c755070fb0fcc8ecedbd3038fd0224d463d38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/mailimporter-20.08.1.tar.xz">mailimporter-20.08.1</a></td>
   <td align="right">528kB</td>
   <td><tt>e26d38a4dcbe06e0c25e1fd809b83c8ebab07ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/marble-20.08.1.tar.xz">marble-20.08.1</a></td>
   <td align="right">50971kB</td>
   <td><tt>95b8cea0e7d834f95ddd8a0b186c5e300ddbf2b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/mbox-importer-20.08.1.tar.xz">mbox-importer-20.08.1</a></td>
   <td align="right">33kB</td>
   <td><tt>396145a6cf363d3b8d1f1b6911330e82063232e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/messagelib-20.08.1.tar.xz">messagelib-20.08.1</a></td>
   <td align="right">10286kB</td>
   <td><tt>e83dff1bd72d9456de85eee53f53f3e8a9cc682e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/minuet-20.08.1.tar.xz">minuet-20.08.1</a></td>
   <td align="right">27081kB</td>
   <td><tt>41312f2ab1319eadfe5ad1680a5e0cd0089d5931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/okular-20.08.1.tar.xz">okular-20.08.1</a></td>
   <td align="right">7339kB</td>
   <td><tt>5890396d5d36f930b078b0a3b92647013e8db093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/palapeli-20.08.1.tar.xz">palapeli-20.08.1</a></td>
   <td align="right">2030kB</td>
   <td><tt>70687023fef7405b2442be6837280f88bd858096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/parley-20.08.1.tar.xz">parley-20.08.1</a></td>
   <td align="right">8635kB</td>
   <td><tt>5da2be8c01db3166e43b24e7d19087fff5be5204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/picmi-20.08.1.tar.xz">picmi-20.08.1</a></td>
   <td align="right">1335kB</td>
   <td><tt>9a52c6f79693762eff673dcd62214bd85d8b68b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/pimcommon-20.08.1.tar.xz">pimcommon-20.08.1</a></td>
   <td align="right">347kB</td>
   <td><tt>daeff3fb37759e6dd828fdf631cfaf4a434b746b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/pim-data-exporter-20.08.1.tar.xz">pim-data-exporter-20.08.1</a></td>
   <td align="right">389kB</td>
   <td><tt>101fd461fbc573b0ec5d9eafe47bac9f232b1401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/pim-sieve-editor-20.08.1.tar.xz">pim-sieve-editor-20.08.1</a></td>
   <td align="right">443kB</td>
   <td><tt>02df7100fbed5883efba486e214ebcd55ce84d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/poxml-20.08.1.tar.xz">poxml-20.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>e913b742108c113402270cee026b8d7ad0e43dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/print-manager-20.08.1.tar.xz">print-manager-20.08.1</a></td>
   <td align="right">252kB</td>
   <td><tt>4e5e92d888f548c6f3b9d7b2d8e1237390de65bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/rocs-20.08.1.tar.xz">rocs-20.08.1</a></td>
   <td align="right">1462kB</td>
   <td><tt>90ff17a945d113d3690b06038dd1cdeda8571b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/signon-kwallet-extension-20.08.1.tar.xz">signon-kwallet-extension-20.08.1</a></td>
   <td align="right">10kB</td>
   <td><tt>cabc4e32291e2b751a4114300a7d83a08d19b175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/spectacle-20.08.1.tar.xz">spectacle-20.08.1</a></td>
   <td align="right">1127kB</td>
   <td><tt>215975aff048881d169aceff0fd92c205a2574e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/step-20.08.1.tar.xz">step-20.08.1</a></td>
   <td align="right">920kB</td>
   <td><tt>9872b04f9bcff58aaf54d0372c55fd39fba7d878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/svgpart-20.08.1.tar.xz">svgpart-20.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>19f331af9b205589a6b76d93b33a93d8a3eec135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/sweeper-20.08.1.tar.xz">sweeper-20.08.1</a></td>
   <td align="right">363kB</td>
   <td><tt>3d5803acb8296f2df9391764d184f2bfa1ce38a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/umbrello-20.08.1.tar.xz">umbrello-20.08.1</a></td>
   <td align="right">5424kB</td>
   <td><tt>78e0947e18087092bb28d09b117871a301f89af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/yakuake-20.08.1.tar.xz">yakuake-20.08.1</a></td>
   <td align="right">371kB</td>
   <td><tt>9c85401c1a5c5b35ab36b632b3e166a279d63479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.1/src/zeroconf-ioslave-20.08.1.tar.xz">zeroconf-ioslave-20.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>19e36922297aaa869ff9e75fc3893fae5236f167</tt></td>
</tr>

</table>
